# /etc/systemd/system/defacto2.service
#
# For using Defacto2 with a config file.
#
# systemctl daemon-reload
# systemctl enable defacto2.service
# systemctl start defacto2.service
# systemctl status defacto2.service
# journalctl -e -u defacto2.service
#
# About these commands, see:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.directives.html


[Unit]
Description=Defacto2
Documentation=https://github.com/Defacto2/server
After=network.target network-online.target
Requires=network-online.target

[Service]
Environment="D2_MATCH_HOST=localhost"
Environment="D2_DATABASE_URL=postgres://root:example@localhost:5432/defacto2_ps"
Environment="D2_DIR_DOWNLOAD=/mnt/volume_sfo3_01/assets/downloads"
Environment="D2_DIR_PREVIEW=/mnt/volume_sfo3_01/assets/images000"
Environment="D2_DIR_THUMBNAIL=/mnt/volume_sfo3_01/assets/images400"
Environment="D2_DIR_LOG=/var/log/caddy"
Environment="D2_PROD_MODE=true" "D2_READ_ONLY=false" "D2_NO_CRAWL=true"
User=caddy
Group=caddy
ExecStart=/usr/bin/df2-server
ProtectHome=true
ProtectSystem=full
PrivateTmp=yes
TimeoutStopSec=15s

[Install]
WantedBy=multi-user.target

#ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/Caddyfile
#ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile --force
