# Always use LF line endings.
* text=auto eol=lf

# Binary files that should not be modified.
*.webp binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary