# Git ignore file for the Defacto2 server repository.
#

# compiled binary files
df2-server
server

# temp directories
dist/
node_modules/
tmp/

# taskfile and docker compose
.env.local

# Windows
*.exe

# macOS
*.DS_Store