<!-- files.html -->
{{define "pre"}}
{{- $home := "Home Website" -}}
{{- $parentS := "Parent Directory" }}
{{- $padding := 51 -}}
<pre><img src="/image/html3/blank.gif" alt="Icon"> <a href="?C=N&O={{index .sort "Name"}}">Name</a>                    <a href="?C=D&O={{index .sort "Publish"}}">Date published</a>    <a href="?C=P&O={{index .sort "Posted"}}">Posted</a>     <a href="?C=S&O={{index .sort "Size"}}">Size</a>  <a href="?C=I&O={{index .sort "Description"}}">Description</a>
<hr><img src="/image/html3/back.gif" alt="[DIR]"> <a href="/file/list">{{$home}}</a>{{leadStr 55 $home}}-   Return to the contemporary HTML5 site.
<img src="/image/html3/back.gif" alt="[DIR]"> <a href="/html3/{{index . "parent"}}">{{$parentS}}</a>{{leadStr $padding $parentS}}    -   Return to the categories index.
<!-- nl padding -->
{{- range .records }}
{{- /*  individual record template  */}}
<img src="/image/html3/{{icon . }}.gif" alt="[FILE]"> <a href="{{linkHref .ID}}" title="{{.Filename.String}}">{{linkFile 21 .Filename}}</a>{{linkPad 21 .Filename}} {{publish 13 . }}  {{posted . }} {{fmtByte 7 .Filesize}}   {{descript .Section .Platform .GroupBrandFor .RecordTitle}}
{{- end}}
<hr><img src="/image/html3/blank.gif" alt="Icon"> <a href="?C=N&O={{index .sort "Name"}}">Name</a>                    <a href="?C=D&O={{index .sort "Publish"}}">Date published</a>    <a href="?C=P&O={{index .sort "Posted"}}">Posted</a>     <a href="?C=S&O={{index .sort "Size"}}">Size</a>  <a href="?C=I&O={{index .sort "Description"}}">Description</a>
</pre>
{{- end }} 
