{{- /* 
    tags.tmpl ~ List the category and platform tags for html3.
*/ -}}
{{- /*  white space are preserved and is used for formatting  */}}
{{define "content"}}
{{- $parent := "Parent Directory" }}
{{- $padding := 41 }}
{{- $first := index . "tagFirst" }}
{{- $end := index . "tagEnd" }}
{{- $path := index . "path" }}
<img src="/image/html3/back.gif" alt="[DIR]"> <a href="/html3">{{$parent}}</a>{{leadStr $padding $parent}}    -   Return to the HTML3 index.

{{ range $index, $value := .tags -}} 
{{- $meta := metaByName $value -}}
{{if and (gt $first -1) (lt $index $first)}}{{continue}}{{end -}}
{{if and (gt $first -1) (gt $index $end)}}{{break}}{{end -}}
<img src="/image/html3/dir.gif" alt="[DIR]"> <a href="/html3/{{ $path }}/{{ $meta.URI }}">{{$meta.Name}}</a>{{leadStr $padding $meta.Name}}{{leadInt 5 $meta.Count}}   {{ $meta.Info }}.
{{end}}
<hr>{{end}}