{{/* about_editor.tmpl */}}
{{- define "aboutEditor" }}
{{- $faSize := "fa-fw fa-2x" -}}
{{- $id := index . "recID"}}
{{- $previewImg := recordImgSample (index . "uuid")}}
{{- $thumbImg := recordThumbSample (index . "uuid")}}
{{- $replace := "refresh the page to see the changes"}}
{{/*  Assets editor  */}}
<div class="modal fade" id="assetEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="assetEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fal fa-file-alt {{ $faSize }}" title="Modify the record"></i> &nbsp;
        <h1 class="modal-title fs-5" id="assetEditorModalLabel">Modify the file assets for ID {{index . "recID"}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Internal identifiers"><strong>IDs</strong></div>
          <div class="col-sm-5">
            {{/*  UUID used for the filename of assets  */}}
              <input type="text" readonly class="form-control-plaintext" id="recordUUID" value="{{index . "uuid"}}"
              data-bs-toggle="tooltip" data-bs-title="Universal Unique Identifier">
          </div>
          <div class="col-sm-2">
            {{/*  Database table auto ID  */}}
            <input type="text" readonly class="form-control-plaintext" id="recordID" value="{{$id}}"
            data-bs-toggle="tooltip" data-bs-title="Database table, auto-increment unique key">
          </div>
          <div class="col-sm-3">
            {{/*  Example file link  */}}
            <input type="text" readonly class="form-control-plaintext" id="recordLink" value="defacto2.net{{linkHref $id}}"
            data-bs-toggle="tooltip" data-bs-title="URL for this file artifact">
          </div>
        </div>
        <dl class="row mb-0">
          <dt class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Original filename of the artifact">Filename</dt>
          <dd class="col-sm-10">{{index . "filename"}}</dd>
        </dl>
        <dl class="row mb-0">
          <dt class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Last modified date and sizes of the artifact">Metadata</dt>
          <dd class="col-sm-5"><strong>last modified on server</strong> {{index . "recStatMod"}}</dd>
          <dd class="col-sm-5"><strong>size</strong> {{index . "recStatSize"}}</dd>
        </dl>
        <dl class="row mb-0">
          <dt class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Common media type, this maybe inaccurate">Quick type</dt>
          <dd class="col-sm-10">{{index . "recKind"}}</dd>
        </dl>
        <dl class="row mb-0">
          <dt class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Path to file artifact on the server">Location</dt>
          <dd class="col-sm-10">{{index . "recAbsDownload"}}</dd>
        </dl>
        <hr class="m-0 mb-3">
        <table class="table table-success table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-3" scope="col" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Files generated by the server">Complementary assets</th>
              <th class="col-sm-9" scope="col" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Metadata for the assets">Info</th>
            </tr>
          </thead>
          <tbody>
            {{- range $name, $info := .recAssets}}
            <tr>
              <td scope="row">{{$name}}</td>
              <td>{{$info}}</td>
            </tr>
            {{- end}}
            <tr><td colspan="2">{{/*  empty placeholder  */}}</td></tr>
          </tbody>
        </table>
        <hr class="m-0 mb-3 mt-3">
        {{/*  Readme in archive  */}}
        <div class="mb-3 row">
          <label for="edCopyMe" id="edCopyMeLabel" class="col-sm-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included NFO, DIZ or text file to display"><strong>Readme</strong> in archive</label>
          <div class="col-sm-5">
            <input list="edCopyMeList" name="title" class="form-control" id="edCopyMe" value="" placeholder="Use a named file">
            <datalist id="edCopyMeList">
              {{index . "recReadmeList"}}
            </datalist>
            <div class="valid-feedback">Readme replaced, {{$replace}}</div>
            <div class="invalid-feedback" id="edCopyMeErr">something went wrong</div>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" id="edCopyMeReset">Clear</button>
          </div>
          {{/*  Hide readme from view  */}}
          <div class="col-sm-3">
            <div class="form-check form-switch">
              {{recordReadme (index . "recNoReadme") }}
              <label class="form-check-label" id="edHideMeLabel" for="edHideMe">Hide readme from view</label>
              <div class="valid-feedback">Saved, {{$replace}}</div>
              <div class="invalid-feedback" id="edHideMeErr">error placeholder</div>  
            </div>
          </div>    
        </div>
        {{/*  preview from image in archive  */}}
        <hr class="m-0 mb-3 mt-3">
        <div class="mb-3 row">
          <label for="edCopyPreview" id="edCopyPreviewLabel" class="col-sm-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Preview</strong> from image in archive</label>
          <div class="col-sm-5">
            {{/*  TODO: default disabled based on hide value  */}}
            <input list="edCopyPreviewList" name="title" class="form-control" id="edCopyPreview" value="" placeholder="Use a named file">
            <datalist id="edCopyPreviewList">
              {{index . "recPreviewList"}}
            </datalist>
            <div class="valid-feedback">Previews replaced, {{$replace}}</div>
            <div class="invalid-feedback" id="edCopyPreviewErr">something went wrong</div>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" id="edCopyPreviewReset">Clear</button>
          </div>
          <div class="col-sm-3 text-start">
            <button class="btn btn-outline-success" id="edCopyPreviewBtn">Recreate previews and thumb</button>          
          </div>
        </div>
        {{/*  preview from text in archive  */}}
        {{/*  list all files, except: exe,com,dll,images,compressed files  */}}
        <hr class="m-0 mb-3 mt-3">
        <div class="mb-3 row">
          <label for="edAnsiLove" id="edAnsiLoveLabel" class="col-sm-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included text or ANSI art to use as the preview and thumbnail"><strong>Preview</strong> from text in archive</label>
          <div class="col-sm-5">
            {{/*  TODO: default disabled based on hide value  */}}
            <input list="edAnsiLoveList" name="title" class="form-control" id="edAnsiLove" value="" placeholder="Use a named file">
            <datalist id="edAnsiLoveList">
              {{index . "recAnsiLoveList"}}
            </datalist>
            <div class="valid-feedback">Previews replaced, {{$replace}}</div>
            <div class="invalid-feedback" id="edAnsiLoveErr">something went wrong</div>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" id="edAnsiLoveReset">Clear</button>
          </div>
          <div class="col-sm-3 text-start">
            <button class="btn btn-outline-success" id="edAnsiLoveBtn">Recreate previews and thumb</button>          
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{/*  preview from a file upload  */}}
        <div class="mb-3 row">
          <label for="edUploadPreview" id="edUploadPreviewLabel" class="col-sm-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Preview</strong> from upload</label>
          <div class="col-sm-5">
            {{/*  TODO: default disabled based on hide value  */}}
            <input type="file" class="form-control" id="edUploadPreview" value="" 
              accept="image/png, image/jpeg, image/webp, image/bmp, image/gif, image/tiff">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" id="edUploadPreviewReset">Clear</button>
          </div>
          <div class="col-sm-3 text-start">
            <button class="btn btn-outline-success" id="edUploadPreviewBtn">Upload and recreate</button>  
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{/*  download artifact replacement */}}
        <div class="mb-3 row">
          <label for="edUploadArtifact" id="edUploadArtifactLabel" class="col-sm-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Download</strong> artifact</label>
          <div class="col-sm-5">
            <input type="file" class="form-control" id="edUploadArtifact" value="">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" id="edUploadArtifactReset">Clear</button>
          </div>
          <div class="col-sm-3 text-start">
            <button class="btn btn-outline-success" id="edUploadArtifactBtn">Upload and replace</button>   
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{/*  Regenerate complementary images  */}}
        <div class="my-2 row">
          <div class="col-sm-6 text-start">
            <button class="btn btn-sm btn-dark">Regenerate complementary images</button>  
          </div>
          <div class="col-sm-6 text-end">
            <button class="btn btn-sm btn-danger" id="edBtnImgs">Delete complementary images</button>  
            <button class="btn btn-sm btn-danger" id="edBtnRead">Delete readme asset</button>
          </div>
          <input type="hidden" id="edBtnsHide">
          <div id="edBtnsFeedback" class="text-end"></div>
          {{/*  Preview and Thumbnail images  */}}
          <div class="row g-3 text-center">
            <div class="col-md">{{$previewImg}}<div class="form-text">Preview</div></div>
            <div class="col-md">{{$thumbImg}}<div class="form-text">Thumbnail</div></div>
          </div>
        </div>
      </div>
      <div class="modal-footer row">
        <div class="col-md text-begin">
          <button class="btn btn-primary" data-bs-target="#fileEditorModal" data-bs-toggle="modal">Switch to metadata</button>
          <button class="btn btn-secondary" data-bs-target="#viewContentModal" data-bs-toggle="modal">List archive content</button>
        </div>
        <div class="col-md text-end">
          {{/*  <button type="reset" id="recordReset" class="btn btn-outline-danger me-5">Reset</button>  */}}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/*  Artifact metadata editor  */}}
<div class="modal fade" id="fileEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fileEditorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fal fa-file-alt {{ $faSize }}" title="Modify the record"></i> &nbsp;
          <h1 class="modal-title fs-5" id="fileEditorModalLabel">Modify the file metadata for ID {{index . "recID"}}</h1><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <div class="col-sm-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Internal identifiers"><strong>IDs</strong></div>
            <div class="col-sm-6">
              {{/*  UUID used for the filename of assets  */}}
                <input type="text" readonly class="form-control-plaintext" id="edMetaUUID" value="{{index . "uuid"}}">
            </div>
            <div class="col-sm-2">
              {{/*  Database table auto ID  */}}
              <input type="text" readonly class="form-control-plaintext" id="edMetaID" value="{{$id}}">
            </div>
            <div class="col-sm-2">
              {{/*  Example file link  */}}
              <input type="text" readonly class="form-control-plaintext" id="edMetaLink" value="defacto2.net{{linkHref $id}}">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="recordTitle" id="recordTitleLabel" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-7">
              <input type="text" name="title" class="form-control" id="recordTitle" value="{{index . "recTitle"}}">
            </div>
            <div class="col-sm-3">
              <div class="form-check form-switch">
                {{recordOnline (index . "recOnline") }}
                <label class="form-check-label" id="recordOnlineLabel" for="recordOnline">Online and public</label>
              </div>            
            </div>
          </div>
          <div class="mb-3 row">
            <label for="recordReleasers" id="recordReleasersLabel" class="col-sm-2 col-form-label">Releasers</label>
            <div class="col-sm-10">
              <input type="text" name="releasers" class="form-control" id="recordReleasers" value="{{index . "recReleasers"}}">
              <div class="form-text">
                <span id="recordReleasersMax">A maximum of two releasers</span>, 
                  example: <code class="">Razor 1911 + Titan</code><code class="d-none">Console News + Titan</code>
                  <span class=""><br>A bbs name or ftp site must end with <q>BBS</q> or <q>FTP</q>, example: <code>Dark Domain BBS</code></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Year, month, day of release</span>
            <input type="number" name="release-year" id="recordYear" min="1980" max="2023" aria-label="Year of release" class="form-control input-date" value="{{index . "recYear"}}" placeholder="{{exampleYear}}">
            <input type="number" name="release-month" id="recordMonth" min="0" max="12" aria-label="Month of release" class="form-control input-date" value="{{index . "recMonth"}}" placeholder="{{exampleMonth}}">
            <input type="number" name="release-day" id="recordDay" min="0" max="31" aria-label="Day of release" class="form-control input-date" value="{{index . "recDay"}}" placeholder="{{exampleDay}}">
            {{recordLastMod (index . "recLastMod") }}Use last modification</button>
            <input type="hidden" id="recordLastMod" value="{{index . "recLastModValue"}}">
          </div>
          <div class="mb-1 row">
            <div class="input-group">
              <label class="input-group-text" name="platform" for="recordPlatform">Platform</label>
              <select class="form-select" id="recordPlatform">
                {{ template "optionOS" . }}
              </select>
              <span class="input-group-text" name="tag" for="recordTag">Tag</span>
              <select class="form-select" id="recordTag">
                {{ template "optionTag" . }}
              </select>
            </div> 
          </div>
          <div class="btn-group mb-3">
            <button class="btn btn-sm btn-link" id="recordDosText" type="button">Dos text</button>
            <button class="btn btn-sm btn-link" id="recordAmigaText" type="button">Amiga text</button>
            <button class="btn btn-sm btn-link" id="recordProof" type="button">Proof</button>
            <button class="btn btn-sm btn-link" id="recordDostro" type="button">Dos intro</button>
            <button class="btn btn-sm btn-link" id="recordWintro" type="button">Win intro</button>
            <button class="btn btn-sm btn-link" id="recordBBStro" type="button">BBStro</button>
            <button class="btn btn-sm btn-link" id="recordBBSAnsi" type="button">BBS ANSI ad</button>
            <button class="btn btn-sm btn-link" id="recordTextMag" type="button">Emag text</button>
            <button class="btn btn-sm btn-link" id="recordDosMag" type="button">Emag Dos app</button>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <div class="form-floating">
                <input type="text" class="form-control" id="recordArtist" value="{{index . "artists"}}">
                <label for="recordArtist">Artists</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordCoder" value="{{index . "programmers"}}">
                <label for="recordCoder">Coders</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordMusic" value="{{index . "musicians"}}">
                <label for="recordMusic">Musicians</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordWriter" value="{{index . "writers"}}">
                <label for="recordWriter">Writers</label>
              </div>
            </div>
            <div class="form-text">Join multiple authors or credits with commas, example: <code>nick1,nick2</code></div>
          </div>
          <div class="form-text text-info-emphasis mb-2">All the fields below are optional and usually don't need modification</div>
          <div class="mb-3 input-group">
            <div class="form-floating">
              <input type="text" class="form-control" id="recordDemozoo" value="{{index . "demozoo"}}">
              <label for="recordDemozoo">Demozoo prod</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="recordPouet" value="{{index . "pouet"}}">
              <label for="recordPouet">Pouet prod</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="record16colors" value="{{index . "sixteenColors"}}">
              <label for="record16colors">16colors partial</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="recordGitHub" value="{{index . "github"}}">
              <label for="recordGitHub">GitHub repository</label>
            </div>
          </div>
          <div class="mb-3">
          <div class="form-text">links example: <code>NFO;9b1c6|Intro;a92116e</code></div>
          <div class="input-group">
            <div class="form-floating">
              <input type="text" class="form-control" id="recordLinks">
              <label for="recordLinks">Links to other releases</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="recordWebsites">
              <label for="recordWebsites">Websites</label>
            </div>
          </div>
          <div class="form-text text-end">websites example: <code>Original;https://web.com|Docs;https://info.org</code></div>
        </div>
          <div class="row g-2 mb-3">
            <div class="col-md">
              <div class="input-group">
                <div class="form-floating">
                  <input type="text" class="form-control" id="recordYouTube" value="{{index . "youtube"}}">
                  <label for="recordYouTube">YouTube ID</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="recordVTotal">
                  <label for="recordVTotal">VirusTotal URL</label>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="recordFilename" value="{{index . "filename"}}">
                <label for="recordFilename">Filename</label>
              </div>
            </div>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="recordComment">{{index . "comment"}}</textarea>
            <label for="recordComment">Comments</label>
          </div>
        </div>
        <div class="modal-footer row g-2">
          <div class="col-md text-begin">
            <button class="btn btn-primary" data-bs-target="#assetEditorModal" data-bs-toggle="modal">Switch to assets</button>
          </div>
          <div class="col-md text-end">
            <button type="reset" id="recordReset" class="btn btn-outline-danger me-5">Reset metadata</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end}}