{{- /*  about_jsdos.tmpl  */}}
{{- define "aboutJSDOS" -}}
{{- /*  JS DOS  */}}
<div class="modal fade" id="jsDOSModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="jsDOSModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">  
                <canvas id="jsdos"></canvas>  
                <script src="https://js-dos.com/6.22/current/js-dos.js" defer></script>
                <script defer>
                    // create a function
                    function startJSDOS() {
                        Dos(document.getElementById("jsdos"), { 
                            wdosboxUrl: "https://js-dos.com/6.22/current/wdosbox.js",
                            cycles: 1000,
                            autolock: true,
                        }).ready(function (fs, main) {
                            fs.extract("https://js-dos.com/6.22/current/test/arkanoid.zip").then(function () {
                            main(["-c", "cd Arkanoid", "-c", "ARKANOID.COM"]).then(function (ci) {
                                window.ci = ci;
                            });
                            });
                        });}
                    const jsdos = document.getElementById("jsdosRunLink");
                    jsdos.addEventListener("click", function(){
                        this.style.pointerEvents = "none";
                        this.textContent = "Started... reload this tab to stop";
                        startJSDOS();
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{- end}}