{{/* about.tmpl */}}
{{- define "content" }}
{{- $colClass := "col-12 col-md-6"}}
<div class="container">
    <div class="row g-2">
        <div class="{{$colClass}}">
            {{- /*  Lead including published, platform and section  */}}
            <h4 class="lead">{{index . "published"}}, {{brief (index . "platform") (index . "section")}}</h4>
            {{- /*  Table of details  */}}
            {{ template "aboutTable" . }}
        </div>
        {{/*  TODO: func to determine the use of a screenshot? ie if text etc  */}}
        <div class="{{$colClass}}">
            {{- /*  Screenshot of the file  */}}
            <div class="p-3">
              {{ screenshot (index . "uuid") (index . "description") }}
            </div>
        </div>
    </div>
</div>
{{- end}}