{{- /*  about_jsdos.tmpl  */}}
{{- define "aboutJSDOS" -}}
{{- $download := index . "download"}}
{{- /*  JS DOS  */}}
<div class="modal fade" id="jsDOSModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="jsDOSModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">  
                <canvas id="jsdos"></canvas>  
                {{/*  <script src="https://js-dos.com/6.22/current/js-dos.js" defer></script>  */}}
                <script defer>
                    // create a function
                    function startJSDOS() {
                        Dos(document.getElementById("jsdos"), { 
                            wdosboxUrl: "/js/wdosbox.js",
                            cycles: 1000,
                            autolock: true,
                        }).ready(function (fs, main) {
                            fs.extract("/d/{{$download}}").then(function () {
                            main(["-c", "dir"]).then(function (ci) {
                                window.ci = ci;
                            });
                            });
                        });}
                    const jsdos = document.getElementById("jsdosRunLink");
                    jsdos.addEventListener("click", function(){
                        this.style.pointerEvents = "none";
                        this.textContent = "Started... reload this tab to stop";
                        startJSDOS();
                    });
                </script>
            </div>
            <div class="modal-footer">
                <label class="form-check-label">
                    This emulator is currently just a placeholder
                </label>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{- end}}