{{- /* about_table_switch.tmpl */}}
{{- define "aboutTableSwitch" }}
<div class="col-md text-begin">
    <button class="btn btn-primary" data-bs-target="#assetEditorModal" data-bs-toggle="modal">Switch to assets</button>
</div>
{{end}}