{{- /*
  apps.templ ~ Modern applications and tools.
*/ -}}
{{- define "content" }}
<hr>
<p class="lead">
  Easily identify files
</p>
<p>
  In the DOS and Amiga era it was common for groups to use false filename extensions to either brand files with their acronyms or to obfuscate the purpose of the file.
  Linux and Macs have the great but often forgotten, <code>file</code> terminal tool for determining file type.
</p>
<pre>
$ file ART.GRP
> ART.GRP: ISO-8859 text, with CRLF line terminators, with escape sequences

$ file VAL.DAT
> VAL.DAT: LHa (2.x) archive data

$ file image.iff
> image.iff: IFF data, ILBM interleaved image, 320 x 54
</pre>
<hr>
<p class="lead">
  Reading texts, <a href="https://vscodium.com">VSCodium</a>
</p>
<p class="clearfix">
  <img src="/image/new/vscodium.webp" class="rounded img-fluid float-start me-3" style="max-width:250px;" alt="VSCodium app screenshot reading a text file">
  VSCodium is the free, open source compile of the popular programming IDE, VS Code by Microsoft.
  But without the bloat of the MS programming extensions, telemetry, or clanker AI integration.
  VSCodium supports extremely large files, offers a mini-map preview, and provides <u>the best Code Page text support</u> of any modern editor.
  <br><br>
  Some recommended tweaks for VSCodium. Navigate to <small>File > Preferences > Settings</small><br>
  1. Search for <small><q>files:encoding</q></small>, then change <q>UTF-8</q> to <q>DOS (CP 437)</q>.<br>
  2. Search for <small><q>editor:language detection</q></small>, then uncheck <q>Workbench > Editor:Language Detection</q>.
</p>
<hr>
<p class="lead">
  Reading ansi text, 
  <small><a href="https://blocktronics.github.io/moebius/">Moebius</a> or <a href="">retrotxtgo</a></small>
</p>
<p class="clearfix">
  <img src="/image/new/moebius.webp" class="rounded img-fluid float-end" style="max-width:300px;" alt="Moebius app screenshot display ansi art">
  Moebius is a feature complete ANSI art editor which is a good choice to use as a viewer on modern systems.<br>
  I do not use it for plain text or NFO text files as it isn't as performant as VSCodium, and does not handle long text files.
  retrotxtgo is a terminal application that will correctly print legacy CP-437 encoded text and ANSI files in a modern terminal emulator.
  <br><br><code>
    $ retrotxt view RELEASE.NFO
  </code>
</p>
<hr>
<p class="lead">
  Running programs for DOS, 
  <small><a href="https://dosbox-x.com">DOSBox-X</a> or <a href="https://www.dosbox-staging.org">DOSBox Staging</a></small>
</p>
<p class="clearfix">
  <img src="/image/new/dosbox.webp" class="rounded img-fluid float-start me-3" style="max-width:250px;" alt="DOSBox app running an intro screenshot">
  DOS on the PC is the original operating system for the Intel x86 computer platform 
  and was in wide use from 1981 until the late 1990s, when Microsoft's Windows took over.
  DOS lifted a number of ideas and syntax from the earlier CP/M, a system that was popular in the 1970s!
  Meaning its limited parser, hardware configurations, and usage is primitive, 
  and why we don't bother <a href="https://86box.net">emulating</a> the platform.
  <br>
  <small>Different companies offered DOS on the PC, 
  the most famous is MS-DOS by Microsoft, 
  but there is PC-DOS for IBM, or DR-DOS by Digital Research, and they're all inter-compatible.
  Confusingly, you may also read of Apple DOS or Atari DOS but these are unrelated to the PC.
  </small>
</p>
<p>
  Instead, DOSBox is the easiest option for running DOS applications under modern systems.
  While DOSBox still has a learning curve due to the poor design choices of the PC platform.
  It is a great ecosystem to get DOS software working under, 
  and generally simpler than using real hardware.
</p>
<p>
  The original DOSBox software hasn't been updated in years, 
  but DOSBox Staging has taken the source and continued improvements. 
  Also, DOSBox-X in an option for those who want a user-interface for configurations.
  Unfortunately, I find the menus and dialogues a mess of spaghetti and hard to navigate.
</p>
<hr>
<p class="lead">
  Playing ANSimations
</p>
<p>
  The best way to animate these is to use DOSBox or one of its derivatives, 
  and configure it to use very slow CPU cycles by tapping <kbd>F12</kbd> <kbd>-</kbd>.
  <p>Then use the type command to play the ansi file animation:<br><code>C:\> TYPE JD-ANIM.ANS</code></p>
  Or, you can download one of the many ANSI art viewers written by the artscene in the 1990s and run that under DOSBox, 
  <a href="https://demozoo.org/productions/270071/">TRiBEview</a> or <a href="/f/ac44e5">ACiD View</a>.
</p>
<hr>
<p class="lead">
  Viewing old image formats, <a href="https://www.xnview.com/en/xnview/">XnView</a> 
</p>
<p>
  There's a lot of image formats that were common place in the 16-bit microcomputer era, but
  were not adopted by the worldwide web or digital photography, and have been forgotten.
  The most common incompatible binary found on the site is the Amiga IFF (Interchangeable File Format)
  which usually uses the <code>.iff</code> or <code>.lbm</code> filename extensions.
</p>
<hr>
<p class="lead">
  Viewing old videos, <a href="">VLC media player</a>
</p>
<p>
  Most of the old AVI video codecs used by sceners for promotional and bumper videos etc are usually compatible with VLC.
</p>
<hr>
<p class="lead">
  Bonus, dupe-checker and eraser, <code>fdupes</code><small> by Adrian Lopez</small>
</p>
<p>
  The fdupes app is the best tool we have found and is on many Linux distributions plus offered by brew for macOS.
</p>
<p>
  To list any duplicate files: <code>fdupes --recurse --time --size .</code><br>
  To select and remove dupes: <code>fdupes --recurse --delete .</code><br>
  To batch delete without prompts: <code>fdupes --recurse --delete --noprompt .</code><br>
</p>
{{- end}}
