{{- define "content" }}
{{- $telephonecodes := index . "telephonecodes"}}
{{- $hcls := "h4 my-3"}}
{{- $placeholder := "Lookup multiple area codes and states; use comma separators"}}
{{/*former input value: hx-trigger="input delay:50ms, keyup[key=='Enter'], load"*/}}
{{/*delay:150ms is probably the lowest value, as anything lower and the changes can be skipped*/}}
<form class="row">
    <div class="col">
      <input type="search" class="form-control" name="htmx-search" 
        id="areacodes-search"
        placeholder="{{$placeholder}}" 
        aria-label="{{$placeholder}} and display the results below"
        hx-trigger="keyup changed delay:150ms"
        hx-post="/areacodes"
        hx-target="#areacodes-results" autofocus>
    </div>
    <div class="col">
        <button type="reset" class="btn btn-link" onclick="document.getElementById('areacodes-results').innerHTML = '';document.getElementById('areacodes-search').focus({focusVisible:true})">Clear</button>
    </div>
</form>

<div id="areacodes-results" class="my-5"></div>

<h2 class="{{$hcls}}">By area code</h2>
{{- if $telephonecodes}}
{{- range $index, $code := .telephonecodes }}
{{$code.HTML}}
{{- end}}
{{- end}}
<h2 class="{{$hcls}}">By state, province, or territory</h2>
{{- range $index, $territory := index . "territories" }}
{{$territory.HTML}}
{{- end}}
<h2 class="{{$hcls}}">By 2-letter abbreviations</h2>
{{- range $index, $code := index . "abbreviations" }}
{{$code.HTML}}
{{- end}}

<h2 class="lead mt-5">About</h2>
<p>
    The telephone numbering plan of 1994 uses a 3-digit area code and a 7-digit telephone number within the United States, Canada, the Caribbean and the U.S. territories.
    Using the format of <em>2xx ... 8xx, 9xx</em>, whereby <u>xx</u> could only be <em>01-19</em>, ie 201-219, 301-319, etc.
    Some sequences were reserved, such as <em>x11</em>, ie 411 and 911.
    <br>
    This page lists the area codes that were in use during the BBS era from the 1970s until the end of 1994. 
    1995 and the following years saw the introduction of new area codes formats and overlay sharing, but they are not covered here.
</p>
<h2 class="lead mt-5">Data sources</h2>
<ul class="list-unstyled">
    <li>The inital area code data was sourced from the 1990, <a href="https://defacto2.net/f/ac1cb6a">NAP/PA Area Code Listing</a> which was somewhat incomplete.</li>
    <li>The data was then cross-referenced with a 1991 MS-DOS application titled Find Area Code v1.0 (c) 1991 by MPM Enterprises.</li>
    <li>Complicated data for California was sourced from the <a href="https://www.cpuc.ca.gov/industries-and-topics/internet-and-phone/area-codes-and-numbering">CA Public Utilities Commision</a>.</li>
    <li>Finally the gaps between 1990 and 1994 were filled with <a href="https://en.wikipedia.org/wiki/List_of_North_American_Numbering_Plan_area_codes">Wikipedia data</a>.</li>
    <li>Also old articles <small>(<a href="https://www.nytimes.com/1984/12/29/nyregion/shift-from-212-to-718-code-pains-3-boroughs.html">1984</a>,<a href="https://www.nytimes.com/1991/06/02/nyregion/201-609-and-now-oh-my-908.html">1991</a>)</small> in the New York Times helped confirm some dates.</li>
</ul>
<p>
    If you're after other international dialing codes the <a href="https://www.itu.int/oth/T0202.aspx?parent=T0202">International Telecommunication Union has a complete list</a>.
</p>
{{- end}}