{{- /* 
    artifactlock.tmpl ~ Buttons to launch the artifact editor modals.
*/ -}}
{{- define "artifactlock" }}
{{- $locked := index . "editor"}}
{{- if ne true $locked}}{{/*  render nothing  */}}{{else}}
{{- $alertCls := "w-100 my-0 text-center"}}
{{- $forApproval := index . "forApproval"}}
{{- $disableApproval := index . "disableApproval"}}
{{- $missingAssets := index . "missingAssets"}}
{{- $disableRecord := index . "disableRecord"}}
{{- $modID := index . "modID"}}
<div class="alert alert-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
        <div class="col d-grid"><a href="#artifact-editor-modal" data-bs-toggle="modal" class="btn btn-primary">Data editor</a></div>
        <div class="col d-grid"><a href="#asset-editor-modal" data-bs-toggle="modal" class="btn btn-primary">File editor</a></div>
        <div class="col d-grid"><a href="#emulate-editor-modal" data-bs-toggle="modal" class="btn btn-primary">Emulate editor</a></div>
        <div class="col d-grid"><a href="#artifact-delete-forever-modal" data-bs-toggle="modal" class="btn btn-warning">Delete forever</a></div>
    </div>
    <hr class="my-2">
    {{- if $disableRecord}}
    <p class="{{$alertCls}} text-danger-emphasis">🚫 Record is disabled and hidden from public access. 🚫</p>
    {{- else if $forApproval}}
    <p class="{{$alertCls}} text-primary-emphasis" id="record-is-hidden">
        ⛔ This new record is hidden from public access.<br>
        {{- if eq $disableApproval ""}}
        <span data-bs-toggle="tooltip" data-bs-title="alt + shift + DownArrow">If the data and images are correct, <a href="#" id="editor-online-true" hx-get="/editor/online/true/{{$modID}}" hx-target="#record-is-hidden" autofocus>it can be approved</a>.</span>
        {{- end}}
    </p>
    {{- else}}
    <p class="{{$alertCls}} text-success-emphasis">Record is visible to the public.</p>
    {{- end}}
    {{- if ne $disableApproval ""}}
    <div class="text-center"><a href="#" data-bs-toggle="modal" data-bs-target="#artifact-editor-modal">The artifact is missing some required data</a> and should not be public.</div>
    <div class="text-danger-emphasis text-center">some problems: {{$disableApproval}}.</div>
    {{- end}}
    {{- if ne $missingAssets ""}}
    <div class="text-warning-emphasis text-center">a suggestion, use the <a href="#asset-editor-modal" data-bs-toggle="modal">File editor</a> to: {{$missingAssets}}.</div>
    {{- end}}
</div>
{{- end}}
{{- end}}