{{- /* artifactsedit.tmpl */}}
{{- define "artifactsedit" }}
{{- $zooID := .WebIDDemozoo.Int64 }}
{{- if gt $zooID 0}}
  {{- /*  Demozoo production ID  */}}
  <p class="card-text"><small class="text-body-info" id="editorFeedback{{ .WebIDDemozoo.Int64 }}">
    <a href="https://demozoo.org/productions/{{ .WebIDDemozoo.Int64 }}">Lookup Demozoo</a>, production #{{ .WebIDDemozoo.Int64 }}</small>
  </p>
  {{- demozooGetLink .Filename .Filesize .WebIDDemozoo .UUID }}
{{- end}}
{{- end}}