{{- /*
  artifactfile.tmpl
*/ -}}
{{- define "artifactfile" }}
{{- if eq false (index . "editor")}}{{/* render nothing */}}{{else}}
{{- $refreshPage := "refresh the page to see the changes"}}
{{- $notFound := "file not found"}}
{{- $key := index . "modID"}}
{{- $unid := index . "unid"}}
{{- $online := index . "modOnline"}}
{{- $filename := index . "filename"}}
{{- $tag := index . "modTag"}}
{{- $os := index . "modOS"}}
{{- $textFile := or (eq $os "text") (eq $os "textamiga")}}
{{- $databaseMod := index . "modDBModify"}}
{{- $statMod := index . "modStatModify"}}
{{- $statSizeB := index . "modStatSizeB"}}
{{- $statSizeS := index . "modStatSizeF"}}
{{- $magicMIME := index . "modMagicMime"}}
{{- $magicNum := index . "modMagicNumber"}}
{{- $downloadPath := index . "modAbsDownload"}}
{{- $previewImg := recordImgSample $unid}}
{{- $previewImgStat := recordImgSampleStat $unid}}
{{- $thumbImg := recordThumbSample $unid}}
{{- $modDecompress := index . "modDecompress"}}
{{- $modDecompressLoc := index . "modDecompressLoc"}}
{{- $modReadmeSuggest := index . "modReadmeSuggest"}}
{{- /*  File assets and metadata editors  */}}
<div class="modal fade" id="asset-editor-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="asset-editor-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      {{/*  Modify the assets for ID  */}}
      <div class="modal-header">
        <svg class="bi" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
          <use xlink:href="/svg/bootstrap-icons.svg#file-binary"/>
        </svg>
        <h1 class="modal-title fs-4 ps-2" id="asset-editor-modal-label">Modify the assets for ID {{$key}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-4 g-1 mb-3">
          {{- /*  Public or hidden record */}}
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioPublic ($online)}}
            <label class="btn btn-outline-danger" for="artifact-editor-public">Recreate assets</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioHidden ($online)}}
            <label class="btn btn-outline-danger" for="artifact-editor-hidden">Delete assets</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 offset-xl-1">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-key-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the key">Record key</button>
              <input type="text" value='{{$key}}' class="form-control" name="artifact-editor-key" id="artifact-editor-key-value"
                aria-describedby="artifact-editor-key-label" autocomplete="off" readonly>
            </div>
          </div>
          <div class="col-12 col-xl-5 col-lg-6">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-unique-id-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the ID">Unique ID</button>
              <input type="text" value='{{$unid}}' class="form-control" 
                aria-describedby="artifact-editor-unique-id-label" id="artifact-editor-unique-id-value" autocomplete="off" readonly>
            </div>
          </div>
        </div>
        {{- /*  Artifact for download  */}}
        <div class="row mt-3 align-items-top">
          <div class="col-xl-6">
            <legend>Artifact for download</legend>
            <div class="input-group mb-1">
              <button type="button" class="btn btn-secondary w-25" id="artifact-editor-location-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the path">Location</button>
              <input type="text" class="form-control" name="artifact-editor-location-value" id="artifact-editor-location-value" 
                aria-describedby="artifact-editor-location-label" value="{{$downloadPath}}" autocomplete="off" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-dl-fn">Filename</label>
              <input type="text" class="form-control w-25" id="artifact-editor-dl-fn" value="{{$filename}}" autocomplete="off" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-dl-fs">Filesize</label>
              <input type="text" class="form-control" id="artifact-editor-dl-fs" value="{{$statSizeB}}" autocomplete="off" readonly>
              <input type="text" class="form-control" id="artifact-editor-dl-fsf" value="{{$statSizeS}}" autocomplete="off" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-dl-lm">Last modifed</label>
              <input type="text" class="form-control" id="artifact-editor-dl-lm" value="{{$statMod}}" 
                data-bs-toggle="tooltip" data-bs-title="On file system" autocomplete="off" readonly>
              <input type="text" class="form-control" id="artifact-editor-dl-lmdb" value="{{$databaseMod}}" 
                data-bs-toggle="tooltip" data-bs-title="Stored in the database" autocomplete="off" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-dl-mb">Magic bytes</label>
              <input type="text" class="form-control" id="artifact-editor-dl-mb" value="{{$magicNum}}" 
                data-bs-toggle="tooltip" data-bs-title="Guessed type of file" autocomplete="off" readonly>
              <input type="text" class="form-control" id="artifact-editor-dl-mime" value="{{$magicMIME}}"
                data-bs-toggle="tooltip" data-bs-title="Guessed MIME type" autocomplete="off" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-dl-classify">Classification</label>
              <input type="text" class="form-control" id="artifact-editor-dl-classify"
                value="{{classificationStr $tag $os}}" autocomplete="off" readonly>
            </div>
            {{- if eq $notFound $statSizeB}}
            <label for="artifact-editor-dl-up" class="form-label mt-3 text-success-emphasis">Upload the missing download</label>
            {{- else}}
            <label for="artifact-editor-dl-up" class="form-label mt-3 text-warning-emphasis">Replacement</label>
            {{- end}}
            {{- /*  Replacement download input  */}}
            <form id="artifact-editor-dl-form" 
              hx-encoding="multipart/form-data" 
              hx-post="/editor/upload/file"
              hx-target="#artifact-editor-dl-feedback"
              {{- if ne $notFound $statSizeB}} hx-confirm="OK, to replace the existing artifact file download on the server?"{{end}}
              hx-validate="true">
              <input type="hidden" name="artifact-editor-record-key" value="{{$key}}">
              <input type="hidden" name="artifact-editor-unid" value="{{$unid}}">
              <input type="hidden" name="artifact-editor-download-classify" value="{{$os}}">
              <input type="hidden" name="artifact-editor-lastmodified" id="artifact-editor-last-modified">
              {{/*  artifact-editor-unique-id-value  */}}
              <div class="input-group input-group-sm mb-1 has-validation">
                <input type="file" name="artifact-editor-replace-file" 
                  class="form-control w-50" id="artifact-editor-dl-up" autocomplete="on" aria-describedby="artifact-editor-dl-feedback" required>
                <button class="btn btn-outline-secondary w-25" id="artifact-editor-dl-submit">Upload</button> 
                <button class="btn btn-outline-secondary" id="artifact-editor-dl-reset">Clear</button>
                <div id="artifact-editor-dl-feedback" class="invalid-feedback"></div>
              </div>
              {{- if eq $notFound $statSizeB}}
              <div class="form-text" id="artifact-editor-dl-results"><span class="text-success-emphasis">Upload a new file to use as the artifact download.</span></div>
              {{- else}}
              <div class="form-text" id="artifact-editor-dl-results"><span class="text-warning-emphasis">Normally not required</span>, upload and replace the artifact download.</div>
              {{- end}}
              <progress class="w-100" id="artifact-editor-dl-progress" value="0" max="100"></progress>
              <div class="d-none alert alert-warning mt-2" role="alert" id="artifact-editor-dl-alert"></div>
            </form>
            {{- /*  Download content  */}}
            <legend class="mt-3">Download content</legend>
            {{- if eq $notFound $statSizeB}}
            <div class="input-group mb-3"><span class="text-warning-emphasis">download file not found</span></div>
            {{- else}}
            <div class="input-group mb-3">
              <button type="button" class="btn btn-secondary w-25" id="artifact-editor-templocation-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the path">
                <span role="status">Location</span>
                <span id="artifact-editor-comp-htmx-indicator" class="htmx-indicator spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </span>
              </button>
              <input type="text" class="form-control" name="artifact-editor-templocation" id="artifact-editor-templocation" 
                aria-describedby="artifact-editor-templocation-label" value="{{$modDecompressLoc}}" readonly>
            </div>
            <div class="container text-begin mb-3">
              <div class="form-text" id="artifact-editor-comp-feedback"></div>
              <hr class="m-0 mb-3 mt-3">
              {{$modDecompress}}
            </div>
            {{- end}}
          </div>
          <div class="col-xl-6 pb-3 bg-light">
            {{- /*  Image assets  */}}
            <legend>Image assets</legend>
            <div>
              <button id="artifact-editor-image-delete" hx-target="#artifact-editor-image-feedback" 
              hx-delete="/editor/images/{{$unid}}" class="btn btn-link m-0 p-0"><strong>Delete</strong> images</button>
              <button id="artifact-editor-image-pixelate" hx-target="#artifact-editor-image-feedback" 
                hx-patch="/editor/images/pixelate/{{$unid}}" class="btn btn-link m-0 p-0"><strong>Pixelate</strong> NSFW images</button>
              <button hx-patch="/editor/thumbnail/pixel/{{$unid}}" class="btn btn-link m-0 p-0"><strong>Good</strong> quality thumbnail</button> 
              <div class="form-text">The delete and pixelate options are irreversible</div>
            </div>
            {{- /*  Upload a new image  */}}
            {{- if eq false $previewImgStat}}
            <label for="basic-url" class="form-label mt-3 text-success-emphasis">Upload a new image or picture</label>
            {{- else}}
            <label for="basic-url" class="form-label mt-3">Replacement image</label>
            {{- end}}
            <form id="artifact-editor-preview-form" 
              hx-encoding="multipart/form-data" 
              hx-post="/editor/upload/preview"
              hx-target="#artifact-editor-preview-feedback"
              {{- if eq $previewImgStat true}}hx-confirm="OK, to replace the existing preview image on the server?"{{end}}
              hx-validate="true">
              <input type="hidden" name="artifact-editor-record-key" value="{{$key}}">
              <input type="hidden" name="artifact-editor-unid" value="{{$unid}}">
              <input type="hidden" name="artifact-editor-download-classify" value="{{$os}}">
              {{/*  artifact-editor-unique-id-value  */}}
              <div class="input-group input-group-sm mb-1 has-validation">
                <input type="file" name="artifact-editor-replace-preview" 
                  class="form-control w-50" id="artifact-editor-replace-preview" autocomplete="on" 
                    aria-describedby="artifact-editor-preview-feedback" required>
                <button class="btn btn-outline-secondary w-25" id="artifact-editor-preview-submit">Upload</button> 
                <button class="btn btn-outline-secondary" id="artifact-editor-preview-reset">Clear</button>
                <div id="artifact-editor-preview-feedback"></div>
              </div>
              <div class="form-text" id="basic-addon4">Select an image, text or ansi file to use as the image asset samples.</div>
              <progress class="w-100" id="artifact-editor-preview-progress" value="0" max="100"></progress>
            </form>
            <div class="form-text" id="artifact-editor-image-feedback"></div>
            <div class="row row-cols-2 g-1">
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      {{- /*  Preview assets  */}}
                      <span class="lead">Preview assets</span><br>
                      <div class="form-text">These are displayed when viewing the artifact page</div>
                      {{- if eq $textFile true}}
                      <div class="form-text text-warning-emphasis">This textfile preview image will be erased on the next startup</div>
                      {{- end}}
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetPreview}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            <td><a href="{{recordPreviewSrc $unid $ext}}">{{index $info 1}}</a></td>
                          </tr>{{- end}}
                      </table>
                      <div><a href="#file-editor" hx-patch="/editor/preview/crop11/{{$unid}}">1:1 crop</a> <small>square</small></div>
                      <div><a href="#file-editor" hx-patch="/editor/preview/crop12/{{$unid}}">1:2 crop</a> <small>i.e. 640x1280</small></div>
                      <div><a href="#file-editor" hx-patch="/editor/preview/crop43/{{$unid}}">4:3 crop</a> <small>i.e. 640x480</small></div>
                      <div><a href="#file-editor" id="artifact-editor-imagepreview-delete" hx-delete="/editor/preview/{{$unid}}">Delete</a></div>
                    </p>
                  </div>
                  {{$previewImg}}
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      {{- /*  Thumbnail assets  */}}
                      <span class="lead">Thumbnail assets</span><br>
                      <div class="form-text">These are displayed when listing multiple artifacts on a page</div>
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetThumbnail}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            <td><a href="{{recordThumbnailSrc $unid $ext}}">{{index $info 1}}</a></td>
                          </tr>{{- end}}
                      </table>
                      <div>
                        <a href="#file-editor" hx-patch="/editor/thumbnail/pixel/{{$unid}}">Good</a> &nbsp;
                        <a href="#file-editor" hx-patch="/editor/thumbnail/photo/{{$unid}}">Poor</a> <small>quality</small>
                      </div>
                      <div>
                        <a href="#file-editor" hx-patch="/editor/thumbnail/left/{{$unid}}">Left</a> 
                        <a href="#file-editor" hx-patch="/editor/thumbnail/right/{{$unid}}">Right</a> &nbsp;
                        <a href="#file-editor" hx-patch="/editor/thumbnail/top/{{$unid}}">Top</a>
                        <a href="#file-editor" hx-patch="/editor/thumbnail/middle/{{$unid}}">Middle</a>
                        <a href="#file-editor" hx-patch="/editor/thumbnail/bottom/{{$unid}}">Bottom</a>
                      </div>
                      <div><a href="#file-editor" id="artifact-editor-imagethumb-delete" hx-delete="/editor/thumbnail/{{$unid}}">Delete</a></div>
                    </p>
                  </div>
                  {{$thumbImg}}
                </div>
              </div>
            </div>
            {{- /*  Extras assets  */}}
            <legend class="mt-3">Extras assets</legend>
            <div class="row row-cols-2 g-1">
              {{- /*  List of files  */}}
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="lead">Files</span><br>
                      {{- if eq (len .modAssetExtra) 0}}No extras in use
                      {{- else}}
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetExtra}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            {{- if eq $name "README"}}{{- $ext := printf ".txt"}}
                            {{- else if eq $name "Repack ZIP"}}{{- $ext := ".zip"}}{{end}}
                            <td>{{index $info 1}}</td>
                          </tr>{{- end}}
                      </table>
                      {{- end}}
                    </p>
                  </div>
                </div>
              </div>
              {{- /*  Readme UI  */}}
              {{- /*  Be careful about the dynamic HTML elements here,
                      as they can break the modal rendering, disabling all the Editor UI!  */ -}}
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                    <span class="lead">README</span>
                      <div class="form-text" id="editor-copy-readme-result"></div>
                      <div class="row">
                      {{- if eq (len .modAssetExtra) 0}}
                        <div>No extras in use</div>
                      {{- else}}
                        <div class="col-6">
                          <button class="btn btn-link m-0 p-0" 
                            hx-target="#editor-copy-readme-result"
                            hx-delete="/editor/readme/{{$unid}}">
                            Delete README</button>
                        </div>
                      {{- end}}
                      {{- if ne "" (index . "modReadmeSuggest")}}
                        <div class="col-6">
                          <button class="btn btn-link m-0 p-0" 
                            hx-target="#editor-copy-readme-result"
                            hx-patch="/editor/readme/copy/{{$unid}}/{{$modReadmeSuggest | urlEncode }}">
                            Use guessed README file</button>
                            <br> &nbsp; &rsaquo; <code>{{$modReadmeSuggest}}</code>
                        </div> 
                      {{- end}}
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{- /*  Switch to assets and reset buttons  */}}
      {{- template "artifactfooter" . }}
    </div>
  </div>
</div>
{{- end}}
{{- end}}