{{- /* 
    artifactfooter.tmpl ~ Footer buttons to switch between the various artifact editor modals.
*/ -}}
{{- define "artifactfooter" }}
<div class="modal-footer bg-dark-subtle g-3 mt-1">
    <div class="row col-12">
        <div class="col-md-4 text-start">
            <button type="button" class="btn btn-warning">Permenently delete record</button>
        </div>
        <div class="col-md-8 text-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#artifact-editor-modal"  class="btn btn-outline-primary">Data editor</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#assetEditorModal"       class="btn btn-outline-primary">File editor</a>
            <a href="#" data-bs-toggle="modal" data-bs-target=""                        class="btn btn-outline-primary">Emulate editor</a>
            <button type="button" data-bs-dismiss="modal"                               class="btn btn-secondary">Close</button>
        </div>
    </div>
</div>
{{- end}}