{{- /* 
    artifactfile.tmpl ~ TODO, THIS IS DUE FOR A REWRITE AND DELETE.
*/ -}}
{{- define "artifactfile" }}
{{- if eq false (index . "editor")}}
{{- /* render nothing in the layout   */}}
{{- else}}
{{- $id := index . "modID"}}
{{- $unid := index . "unid"}}
{{- $filename := index . "filename"}}
{{- $statMod := index . "modStatModify"}}
{{- $statSize := index . "modStatSize"}}
{{- $magicNumber := index . "modMagicNumber"}}
{{- $absDownload := index . "modAbsDownload"}}
{{- $previewImg := recordImgSample $unid}}
{{- $thumbImg := recordThumbSample $unid}}
{{- $replace := "refresh the page to see the changes"}}

{{- $key := index . "modID"}}
{{- $record := index . "modOnline"}}
{{- $tag := index . "modTag"}}
{{- $os := index . "modOS"}}
{{- $modArchiveContent := index . "modArchiveContent"}}
{{- $modArchiveContentDst := index . "modArchiveContentDst"}}


{{- /*  File assets and metadata editors  */}}
<div class="modal fade" id="asset-editor-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="asset-editor-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      {{/*  Modify the assets for ID  */}}
      <div class="modal-header">
        <svg class="bi" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
          <use xlink:href="/svg/bootstrap-icons.svg#file-binary"/>
        </svg>
        <h1 class="modal-title fs-4 ps-2" id="asset-editor-modal-label">Modify the assets for ID {{$key}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-4 g-1 mb-3">
          {{- /*  Public or hidden record */}}
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioPublic ($record)}}
            <label class="btn btn-outline-danger" for="artifact-editor-public">Recreate assets</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioHidden ($record)}}
            <label class="btn btn-outline-danger" for="artifact-editor-hidden">Delete assets</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 offset-xl-1">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-key-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the key">Record key</button>
              <input type="text" value='{{$key}}' class="form-control" name="artifact-editor-key" id="artifact-editor-key-value"
                aria-describedby="artifact-editor-key-label" readonly>
            </div>
          </div>
          <div class="col-12 col-xl-5 col-lg-6">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-unique-id-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the ID">Unique ID</button>
              <input type="text" value='{{$unid}}' class="form-control" 
                aria-describedby="artifact-editor-unique-id-label" id="artifact-editor-unique-id-value" readonly>
            </div>
          </div>
        </div>

        <div class="row mt-3 align-items-top">
          <div class="col-xl-6">
            <legend>Artifact for download</legend>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Location</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{$absDownload}}" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Filename</label>
              <input type="text" class="form-control w-25" id="artifact-editor-operating-system" value="{{$filename}}" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Filesize</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{$statSize}}" readonly>
              <input type="text" class="form-control" id="artifact-editor-operating-systemx" value="{{$statSize}}" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Last modifed</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{$statMod}}" readonly>
              <input type="text" class="form-control" id="artifact-editor-operating-systemx" value="{{$statMod}}" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Magic bytes</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{$magicNumber}}" readonly>
            </div>
            <div class="input-group mb-1">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Classification</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{classification $tag $os}}" readonly>
            </div>
            <label for="basic-url" class="form-label mt-3">Replacement</label>
            <div class="input-group input-group-sm mb-1">  
              <input type="file" class="form-control w-50" id="artifact-editor-operating-system" value="{{classification $tag $os}}">
              <button class="btn btn-outline-secondary" id="asset-editor-download-submit">Upload</button> 
              <button class="btn btn-outline-secondary" id="asset-editor-download-reset">Clear</button>
            </div>
            <div class="form-text" id="basic-addon4">Normally not required, upload and replace the artifact download.</div>

            <legend class="mt-3">Download content</legend>
            <div class="input-group mb-3">
              <label class="input-group-text w-25" for="artifact-editor-operating-system" id="artifact-editor-os-label">Location</label>
              <input type="text" class="form-control" id="artifact-editor-operating-system" value="{{$modArchiveContentDst}}" readonly>
            </div>
            <div class="container text-begin mb-3">
              {{$modArchiveContent}}
            </div>
          </div>
          <div class="col-xl-6 bg-light">
            <legend>Image assets</legend>
            <div class="row row-cols-2 g-1">
              <div class="col-6">
                <div class="card">
                  {{$previewImg}}
                  <div class="card-body">
                    <p class="card-text">
                      <span class="lead">Preview image assets.</span><br>
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetPreview}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            <td><a href="{{recordPreviewSrc $unid $ext}}">{{index $info 1}}</a></td>
                          </tr>{{- end}}
                      </table>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  {{$thumbImg}}
                  <div class="card-body">
                    <p class="card-text">
                      <span class="lead">Thumbnail image assets.</span><br>
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetThumbnail}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            <td><a href="{{recordThumbnailSrc $unid $ext}}">{{index $info 1}}</a></td>
                          </tr>{{- end}}
                      </table>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <label for="basic-url" class="form-label mt-3">Replacement</label>
            <div class="input-group input-group-sm mb-1">  
              <input type="file" class="form-control w-50" id="artifact-editor-operating-system" value="{{classification $tag $os}}">
              <button class="btn btn-outline-secondary" id="asset-editor-download-submit">Upload</button> 
              <button class="btn btn-outline-secondary" id="asset-editor-download-reset">Clear</button>
            </div>
            <div class="form-text" id="basic-addon4">Select an image, text or ansi file to use as the image asset samples.</div>

            <legend class="mt-3">Extras assets</legend>
            <small>TODO: add MS-DOS only .exe button for use with emulation and show form value</small>
            <div class="row row-cols-2 g-1">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="lead">Files</span><br>
                      <table class="table table-hover">
                        <tbody>
                          {{- range $name, $info := .modAssetExtra}}
                          <tr>
                            <th scope="row">{{$name}}</th>
                            <td>{{index $info 0}}B</td>
                            {{- $ext := printf ".%s" $name}}
                            {{- if eq $name "README"}}{{- $ext := printf ".txt"}}
                            {{- else if eq $name "Repack ZIP"}}{{- $ext := ".zip"}}{{end}}
                            <td>{{index $info 1}}</td>
                          </tr>{{- end}}
                      </table>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="lead">README</span>
                      <div class="form-check form-switch">
                        {{recordReadme (index . "modNoReadme") }}
                        <label class="form-check-label" id="edHideMeLabel" for="edHideMe">Hide readme from view</label>
                        <div class="valid-feedback">Saved, {{$replace}}</div>
                        <div class="invalid-feedback" id="edHideMeErr">error placeholder</div>  
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-danger" role="alert">
          This tab is intentionally <u>not working and is due for a redesign</u>.
        </div>        

        {{ template "artifactzip" . }}
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Preview from upload  */}}
        <div class="mb-3 row">
          <label for="asset-editor-preview" id="asset-editor-preview-label" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Preview</strong> from upload</label>
          <div class="col-10 col-xl-5">
            <input type="file" class="form-control" id="asset-editor-preview" value="" 
              accept="image/png, image/jpeg, image/webp, image/bmp, image/gif, image/tiff">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="edUploadPreviewReset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="edUploadPreviewBtn">Upload and recreate</button>  
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Download artifact */}}
        <div class="mb-3 row">
          <label for="asset-editor-download" id="asset-editor-download-label" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Download</strong> artifact</label>
          <div class="col-10 col-lg-5">
            <input type="file" class="form-control" id="asset-editor-download" value="">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="asset-editor-download-reset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="asset-editor-download-submit">Upload and replace</button>   
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Delete complementary images  */}}
        {{- /*  Delete readme asset  */}}
        <div class="my-2 row">
          <div class="col-sm-6 text-start">
            {{- /*  <button class="btn btn-sm btn-dark">Regenerate complementary images</button>    */}}
          </div>
          <div class="col-sm-6 text-end">
            <button class="btn btn-sm btn-danger" id="asset-editor-delete-images">Delete complementary <strong>images</strong></button>  
            <button class="btn btn-sm btn-danger" id="asset-editor-delete-text" disabled>Delete <strong>readme</strong> asset</button>
          </div>
          <input type="hidden" id="asset-editor-hidden">
          <div id="asset-editor-feedback" class="text-end"></div>
          {{- /*  Preview and Thumbnail images  */}}
          <div class="row g-3 text-center">
            <div class="col-md">{{$previewImg}}<div class="form-text">Preview</div></div>
            <div class="col-md">{{$thumbImg}}<div class="form-text">Thumbnail</div></div>
          </div>
        </div>
      </div>
      {{/*  Switch to assets and reset buttons  */}}
      {{- template "artifactfooter" . }}
    </div>
  </div>
</div>
{{- end}}
{{- end}}