{{- /* 
    artifacts.tmpl ~ the template is for the artifact cards.
    see the artifact.tmpl for the single artifact page template.
*/ -}}
{{- define "content" }}
{{- $counter := 0}}
{{- $files := index .stats.files }}
{{- $years := index .stats.years}}
{{- $cnt := len .records}}
{{- $web := index .website }}
{{- $linkWeb := gt (len $web) 0}}
{{- $zoo := index .demozoo }}
{{- $bbs := index .bbs }}
{{- $linkZoo := ne $zoo "0"}}
{{- $sixteen := index .sixteen }}
{{- $link16C := ne $sixteen ""}}
{{- $tidbit := index .tidbits}}
{{- $linkTidbit := gt (len $tidbit) 0}}
{{- $scener := index .scener }}
{{- $noYears := false}}
{{- $unYears := index .unknownYears }}
{{- $editor := index .editor}}
{{- $group := hasSuffix (index .title) " artifacts"}}
{{- $breakline := false}}
<div class="container-xxl">
{{- if eq $cnt 0}}<p class="text-start lead"><small>There are no artifacts to display.</small></p>{{else -}}
<p class="text-start lead"><small>There {{if eq $cnt 1}}is{{else}}are{{end}} {{$files | safeHTML}}{{if and (ne $years "0 - 0") (ne $years "the year 0")}} from {{$years | safeHTML}}{{end}}.</small></p>
{{- end}}
{{- if $linkTidbit}}
  <small class="fw-light">Additional information</small>
  <ul class="list-group list-group-flush">{{$tidbit}}</ul>
{{- end}}
{{- if or $linkZoo $link16C $linkWeb}}
<div class="text-start text-sm-center text-md-end lead">
  {{-  if and (eq $bbs false) (eq $linkZoo true)}}
  <small><small>Production and member lists</small> <a class="link-offset-2 icon-link icon-link-hover" href="https://demozoo.org/groups/{{$zoo}}/"><strong>Demozoo</strong>{{linkSVG}}</a></small><br>
  {{- else if and (eq $bbs true) (eq $linkZoo true)}}
  <small><small>Staff, numbers, and affiliations</small> <a class="link-offset-2 icon-link icon-link-hover" href="https://demozoo.org/bbs/{{$zoo}}/"><strong>Demozoo</strong>{{linkSVG}}</a></small><br>
  {{- end}}
  {{- if $link16C}}
  <small><small>ANSI and text artworks</small> <a class="link-offset-2 icon-link icon-link-hover" href="https://16colo.rs/{{$sixteen}}"><strong>16colors</strong>{{linkSVG}}</a></small><br>
  {{- end}}
  {{- if $linkWeb}}
    {{ $notworkings := false }}
    {{- range $web }}
      {{- if and (ne .URL "") (eq .NotWorking false ) }}
      {{- $breakline = true }}
      <small><small><a class="link-offset-2 icon-link icon-link-hover" href="{{.URL}}"><strong>{{.Name}}</strong>{{websiteIcon .URL}}</a></small> &nbsp; </small>
      {{- end}}
      {{- if and (ne .URL "") (eq .NotWorking true ) }}
      {{ if eq $notworkings false }}
        {{ $notworkings = true }}
        {{ if eq $breakline true }}<br>{{- end}}<small><small> &nbsp; ex-sites &nbsp; </small></small>
      {{ end }}
      <small class="text-nowrap"><small><strong>{{.Name}}</strong></a> <span class="text-body-tertiary fw-lighter">{{.URL}}</span>.</small></small>
      {{- end}}
    {{- end}}
  {{- end}}
</div>
{{- end}}
</div>
{{- if eq $cnt 0}}{{else -}}
<div class="text-end mb-2 d-none d-lg-block">
  <a href="#" id="fluid-button">Unlock columns</a>
</div>
{{- end}}
{{- $rowCols := "d-grid gap-3 justify-content-center" }}
<div id="fluid-artifacts" class="{{$rowCols}}" style="grid-template-columns: repeat(auto-fit, minmax(auto, 400px));">
  {{- /*  Begin the iteration of the records  */}}
  {{- range .records }}
  {{- if eq true $editor}}{{- $counter = add $counter}}{{end}}
  {{- $jsdos := jsdosUsage .Filename.String .Platform.String}}
  {{- $filename := mask .Filename.String}}
  {{- if eq $filename ""}}{{$filename = "no filename provided"}}{{end}}
  {{- $forApproval := and (eq .Deletedat.IsZero false) (eq .Deletedby.String "")}}
  {{- if and (ne $forApproval true) (eq $unYears true) (eq $noYears false) (eq .DateIssuedYear.Int16 0)}}
    {{- /*  
        Create a break in the iteration of the records when $noYears is true.
        This should never display with search or order by date of records listings.
    */ -}}
    {{- $noYears = true}}
</div>
<hr class="mt-5 mb-4"><p class="text-center lead"><small>These are files from an unknown year</small></p>
<div class="{{$rowCols}}" style="grid-template-columns: repeat(auto-fit, minmax(auto, 400px));">
  {{- end}}
  {{- /*  Card for an individual artifact record  */}}
  {{- $attr := attribute .CreditText.String .CreditProgram.String .CreditIllustration.String .CreditAudio.String $scener}}
  {{- $cardClass := "h-100"}}
  {{- $forClass := " border border-1 border-info"}}
  {{- if $forApproval}}{{$cardClass = print $cardClass print $forClass}}{{end}}
  {{- $removedClass := " border border-2 border-danger"}}
  {{- $removed := and (eq .Deletedat.IsZero false) (ne .Deletedby.String "")}}
  {{- if $removed}}{{$cardClass = print $cardClass print $removedClass}}{{end}}
  {{- $unwantedClass := " border border-1 border-warning"}}
  {{- $unwanted := (ne .FileSecurityAlertURL.String "")}}
  {{- if $unwanted}}{{$cardClass = print $cardClass print $unwantedClass}}{{end}}
  <div class="col">
    <div class="card {{$cardClass}}">
      <div class="card-header text-body-secondary text-center">
        <code class="h6">{{if gt $counter 0}}{{$counter}} {{end}}{{$filename}}</code>
      </div>
      {{- if eq $editor true}}{{ template "artifactsedit" . }}{{end}}
      <div class="card-body">
        {{- if eq $group true}}
        <h2 class="card-title text-truncate fs-6">{{linkRelrs .GroupBrandFor .GroupBrandBy }}</h2>
        {{subTitle .Section .RecordTitle true}}
        {{- else}}
        <h2 class="card-title text-truncate fs-5">{{linkRelrs .GroupBrandFor .GroupBrandBy }}</h2>
        {{subTitle .Section .RecordTitle false}}
        {{- end}}
        <p class="card-text">{{describe .Platform .Section .DateIssuedYear .DateIssuedMonth}}</p>
        <p class="card-text"><small class="text-body-secondary">{{lastUpdated .Updatedat}}</small></p>
        {{- if ne $attr ""}}
        <p class="card-text"><small class="text-body-secondary">{{$attr}}</small></p>
        {{- end}}
        {{if and (gt $counter 0) (lt $counter 10)}}{{- linkPage .ID $counter}}{{else}}{{- linkPage .ID ""}}{{end}}
        {{- linkDownload .ID .FileSecurityAlertURL.String }}{{ downloadB .Filesize}}
        {{- linkPreview .ID .Filename.String .Platform.String}}
        {{- if eq $jsdos true}} {{- linkRunApp .ID}}{{end}}
      </div>
      <a href="{{linkHref .ID}}">{{thumb .UUID.String .Filename.String true }}</a>
    </div>
  </div>
  {{- /*  End of the iteration of the records */}}
  {{- end}}
</div>
{{- end}}
