{{- /* artifact_editor.tmpl */}}
{{- define "artifactEditor" }}
{{- if eq false (index . "editor")}}
{{- /* render nothing in the layout   */}}
{{- else}}
{{- $faSize := "fa-fw fa-2x" -}}
{{- $id := index . "recID"}}
{{- $previewImg := recordImgSample (index . "uuid")}}
{{- $thumbImg := recordThumbSample (index . "uuid")}}
{{- $replace := "refresh the page to see the changes"}}
{{- /*  File assets and metadata editors  */}}
<div class="modal fade" id="assetEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="assetEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      {{/*  Modify the file assets for ID  */}}
      <div class="modal-header">
        <i class="fal fa-file-alt {{ $faSize }}" title="Modify the record"></i> &nbsp;
        <h1 class="modal-title fs-5" id="assetEditorModalLabel">Modify the file assets for ID {{index . "recID"}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Internal identifiers"><strong>Identifiers</strong></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              {{- /*  UUID used for the filename of assets  */}}
                <input type="text" readonly class="form-control-plaintext" id="recordUUID" value="{{index . "uuid"}}"
                data-bs-toggle="tooltip" data-bs-title="Universal Unique Identifier">
            </div>
            <div class="col-xl-2">
              {{- /*  Database table auto ID  */}}
              <input type="text" readonly class="form-control-plaintext" id="recordID" value="{{$id}}"
              data-bs-toggle="tooltip" data-bs-title="Database table, auto-increment unique key">
            </div>
            <div class="col-xl-3">
              {{- /*  Example file link  */}}
              <input type="text" readonly class="form-control-plaintext" id="recordLink" value="defacto2.net{{linkHref $id}}"
              data-bs-toggle="tooltip" data-bs-title="URL for this file artifact">
            </div>
          </div>
        </div>
        {{/*  Filename  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Original filename of the artifact">Filename</dt>
          <dd class="col-xl-10">{{index . "filename"}}</dd>
        </dl>
        {{/*  Metadata - last modified and size  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Last modified date and sizes of the artifact">Metadata</dt>
          <dd class="col-xl-5"><strong>last modified on server</strong> {{index . "recStatMod"}}</dd>
          <dd class="col-xl-5"><strong>size</strong> {{index . "recStatSize"}}</dd>
        </dl>
        {{/*  Quick type  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Common media type, this maybe inaccurate">Quick type</dt>
          <dd class="col-xl-10">{{index . "recKind"}}</dd>
        </dl>
        {{/*  Location  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Path to file artifact on the server">Location</dt>
          <dd class="col-xl-10">{{index . "recAbsDownload"}}</dd>
        </dl>
        <hr class="m-0 mb-3">
        {{/*  Complementary assets  */}}
        <table class="table table-success table-striped table-hover">
          <thead>
            <tr>
              <th class="col-xl-3" scope="col" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Files generated by the server">Complementary assets</th>
              <th class="col-xl-9" scope="col" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Metadata for the assets">Info</th>
            </tr>
          </thead>
          <tbody>
            {{- range $name, $info := .recAssets}}
            <tr>
              <td scope="row">{{$name}}</td>
              <td>{{$info}}</td>
            </tr>
            {{- end}}
            <tr><td colspan="2">{{/*  empty placeholder  */}}</td></tr>
          </tbody>
        </table>
        {{/*  /view/app/artifact_editor_archive.tmpl  */}}
        {{ template "artifactEditorArchive" . }}
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Preview from upload  */}}
        <div class="mb-3 row">
          <label for="edUploadPreview" id="edUploadPreviewLabel" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Preview</strong> from upload</label>
          <div class="col-10 col-xl-5">
            {{- /*  TODO: default disabled based on hide value  */}}
            <input type="file" class="form-control" id="edUploadPreview" value="" 
              accept="image/png, image/jpeg, image/webp, image/bmp, image/gif, image/tiff">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="edUploadPreviewReset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="edUploadPreviewBtn">Upload and recreate</button>  
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Download artifact */}}
        <div class="mb-3 row">
          <label for="edUploadArtifact" id="edUploadArtifactLabel" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Download</strong> artifact</label>
          <div class="col-10 col-lg-5">
            <input type="file" class="form-control" id="edUploadArtifact" value="">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="edUploadArtifactReset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="edUploadArtifactBtn">Upload and replace</button>   
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Delete complementary images  */}}
        {{- /*  Delete readme asset  */}}
        <div class="my-2 row">
          <div class="col-sm-6 text-start">
            {{- /*  <button class="btn btn-sm btn-dark">Regenerate complementary images</button>    */}}
          </div>
          <div class="col-sm-6 text-end">
            <button class="btn btn-sm btn-danger" id="edBtnImgs">Delete complementary <strong>images</strong></button>  
            <button class="btn btn-sm btn-danger" id="edBtnRead" disabled>Delete <strong>readme</strong> asset</button>
          </div>
          <input type="hidden" id="edBtnsHide">
          <div id="edBtnsFeedback" class="text-end"></div>
          {{- /*  Preview and Thumbnail images  */}}
          <div class="row g-3 text-center">
            <div class="col-md">{{$previewImg}}<div class="form-text">Preview</div></div>
            <div class="col-md">{{$thumbImg}}<div class="form-text">Thumbnail</div></div>
          </div>
        </div>
      </div>
      <div class="modal-footer row g-3 mt-1">
        <div class="col-md text-center">
          <button class="btn btn-primary" data-bs-target="#fileEditorModal" data-bs-toggle="modal">Switch to metadata</button>
          <button class="btn btn-secondary" data-bs-target="#viewContentModal" data-bs-toggle="modal">List archive content</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{- /*  Artifact metadata editor  */}}
<div class="modal fade" id="fileEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fileEditorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      {{/*  Modify the file metadata for ID...  */}}
      <div class="modal-content">
        <div class="modal-header">
          <i class="fal fa-file-alt {{ $faSize }}" title="Modify the record"></i> &nbsp;
          <h1 class="modal-title fs-5" id="fileEditorModalLabel">Modify the file metadata for ID {{index . "recID"}}</h1><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
          {{/*  ID and file artifact is online  */}}
          <div class="mb-3 row">
            <div class="col-xl-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Internal identifiers"><strong>ID</strong></div>
            <div class="col-xl-6 text-start">{{index . "uuid"}}</div>
            <div class="col-xl-5 text-start">
              <div class="form-check form-switch">
                {{recordOnline (index . "recOnline") }}
                <label class="form-check-label" id="recordOnlineLabel" for="recordOnline">File artifact is <strong>online and public</strong></label>
                <div class="invalid-feedback" id="recordOnlineErr">error placeholder</div>  
              </div>  
            </div>
          </div>
          {{/*  Title  */}}
          <div class="mb-3 row">
            <label for="recordTitle" id="recordTitleLabel" class="col-xl-1 col-form-label"><strong>Title</strong></label>
            <div class="col-xl-5">
              <input type="text" name="title" class="form-control" id="recordTitle" 
                value="{{index . "recTitle"}}" placeholder="{{index . "filename"}}">
              <div class="invalid-feedback" id="recordTitleErr" class="d-none">something went wrong</div>
              <div class="form-text">
                A title can be the name of the release or title of the document,<br>
                or a very brief description of the file artifact.<br>
                The title is optional, otherwise the filename is used.
                <div id="recordTitleOG" class="text-info d-none">previous title: <span id="recordTitleOGValue">{{index . "recTitle"}}</span></div>
              </div>
            </div>
            <label for="recordReleasers" id="recordReleasersLabel" class="col-xl-1 col-form-label"><strong>Releasers</strong></label>
            <div class="col-xl-5">
              <input type="text" name="releasers" class="form-control" id="recordReleasers" value="{{index . "recReleasers"}}">
              <div class="form-text">
                <span id="recordReleasersMax">A maximum of two releasers</span>, 
                  example: <code class="">RAZOR 1911 + TITAN</code><code class="d-none">CONSOLE NEWS + TITAN</code>
                  <span class=""><br>A bbs name or ftp site must end with <q>BBS</q> or <q>FTP</q>,<br>example: <code>DARK DOMAIN BBS</code></span>
              </div>
              <div class="form-text">
                <span>There are 2 other artifacts for XXX and 3 for XXX.</span>
              </div>
            </div>
          </div>
          {{/*  Year, month and day of release  */}}
          <div class="mb-3 row">
            <label for="recordReleasers" id="recordReleasersLabel" class="col-xl-3 col-form-label">Year, month, day <strong>of release</strong></label>
            <div class="col-xl-9">
              <div class="input-group mb-1">
                <input type="number" name="release-year" id="recordYear" min="1980" max="2023" aria-label="Year of release" class="form-control input-date" value="{{index . "recYear"}}" placeholder="{{exampleYear}}">
                <input type="number" name="release-month" id="recordMonth" min="0" max="12" aria-label="Month of release" class="form-control input-date" value="{{index . "recMonth"}}" placeholder="{{exampleMonth}}">
                <input type="number" name="release-day" id="recordDay" min="0" max="31" aria-label="Day of release" class="form-control input-date" value="{{index . "recDay"}}" placeholder="{{exampleDay}}">
              </div>
              <div class="input-group">
                <button id="recordYMDReset" class="btn btn-outline-danger" type="button">Reset</button>
                {{recordLastMod (index . "recLastMod") }}Set to last modification</button>
                <button id="recordYMDSave" class="btn btn-success px-5" type="button">Save date</button>
              </div>
              <input type="hidden" id="recordOgY" value="{{index . "recYear"}}">
              <input type="hidden" id="recordOgM" value="{{index . "recMonth"}}">
              <input type="hidden" id="recordOgD" value="{{index . "recDay"}}">
            </div>
            <input type="hidden" id="recordLastMod" value="{{index . "recLastModValue"}}">
          </div>
          {{/*  Platform and tag (popular) */}}
          <div class="mb-3 row">
            <label for="recordTitle" id="recordTitleLabel" class="col-xl-2 col-form-label"><strong>Platform</strong> and <strong>tag</strong></label>
            <div class="col-sm-10 mb-3 text-end">
              <div class="btn-group">
                <button class="btn btn-sm btn-link link-danger" id="recTagsReset" type="button">Reset</button>
              </div>
              <div class="btn-group">
                <span class="form-text ms-3">Popular</span>
                <button class="btn btn-sm btn-link" id="recordDosText" type="button">MsDos text</button>
                <button class="btn btn-sm btn-link" id="recordAmigaText" type="button">Amiga text</button>
                <button class="btn btn-sm btn-link" id="recordProof" type="button">Proof</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-sm btn-link" id="recordDostro" type="button">MsDos intro</button>
                <button class="btn btn-sm btn-link" id="recordWintro" type="button">Windows intro</button>
                <button class="btn btn-sm btn-link" id="recordBBStro" type="button">BBStro</button>
                <button class="btn btn-sm btn-link" id="recordBBSAnsi" type="button">BBS ANSI ad</button>
              </div>
              <div class="btn-group">
                <span class="form-text ms-3">Magazine</span>
                <button class="btn btn-sm btn-link" id="recordTextMag" type="button">Magazine as text</button>
                <button class="btn btn-sm btn-link" id="recordDosMag" type="button">Magazine on MsDos</button>
              </div>
              <input type="hidden" id="recOSOg" value="{{index . "recOS"}}">
              <input type="hidden" id="recTagOg" value="{{index . "recTag"}}">
            </div>
            {{/*  Platform and tag (inputs) */}}
            <div class="mb-1 row">
              <div class="input-group">
                <label class="input-group-text col-xl-1" name="platform" for="recordPlatform">Platform</label>
                <select class="form-select col-xl-10" id="recordPlatform">
                  {{ template "optionOS" . }}
                </select>
                <span class="input-group-text col-xl-1" name="tag" for="recordTag">Tag</span>
                <select class="form-select col-xl-10" id="recordTag">
                  {{ template "optionTag" . }}
                </select>
              </div>
              <div id="optionsTags" class="invalid-feedback text-center">
                Both the Platform and the Tag must be selected.
              </div>
            </div>
            {{/*  Briefs  */}}
            <div class="row">
              <div class="form-text mb-3 col-xl-6">
                <span>Platform and tag brief: <span id="platformTagInfo" class="text-primary-emphasis">{{recordInfoOSTag (index . "recOS") (index . "recTag") }}</span></span>
              </div>
              <div class="form-text mb-3 col-xl-6">
                <span>Tag brief: <span id="tagInfo" class="text-primary-emphasis">{{recordTagInfo (index . "recTag") }}</span></span>
              </div>
            </div>
          </div>
          {{/*  Artists, coders...  */}}
          <div class="mb-3">
            <div class="input-group">
              <div class="form-floating">
                <input type="text" class="form-control" id="recordArtist" value="{{index . "artists"}}">
                <label for="recordArtist">Artists</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordCoder" value="{{index . "programmers"}}">
                <label for="recordCoder">Coders</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordMusic" value="{{index . "musicians"}}">
                <label for="recordMusic">Musicians</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordWriter" value="{{index . "writers"}}">
                <label for="recordWriter">Writers</label>
              </div>
            </div>
            <div class="form-text">Join multiple artists, coders, musicians and writers with commas, example: <code>nick1,nick2,nick3</code></div>
          </div>
          {{/*  horizontal rule  */}}
          <hr>
          <div class="form-text text-info-emphasis mb-2">All the fields below are optional and usually don't need modification</div>
          <div class="mb-3 input-group">
            <div class="form-floating">
              <input type="text" class="form-control" id="recordDemozoo" value="{{index . "demozoo"}}">
              <label for="recordDemozoo">Demozoo prod</label>
              <p class="form-text"><a href="https://demozoo.org/productions/{{index . "demozoo"}}">link to demozoo</a></p>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="recordPouet" value="{{index . "pouet"}}">
              <label for="recordPouet">Pouet prod</label>
              <p class="form-text"><a href="https://www.pouet.net/prod.php?which={{index . "pouet"}}">link to pouet</a></p>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="record16colors" value="{{index . "sixteenColors"}}">
              <label for="record16colors">16colors partial</label>
              <p class="form-text"><a href="https://16colo.rs/{{index . "sixteenColors"}}">link to 16colors</a></p>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="recordGitHub" value="{{index . "github"}}">
              <label for="recordGitHub">GitHub repository</label>
              <p class="form-text"><a href="https://github.com{{index . "github"}}">link to github</a></p>
            </div>
          </div>
          {{/*  Releases and website examples  */}}
          <div class="mb-3">
            <div class="row">
              <div class="form-text col-md-6">releases example: <code>NFO;9b1c6 | Intro;a92116e</code></div>
              <div class="form-text col-md-6 text-end">websites example: <code>Web;example.com | Docs;docs.example.com</code></div>
            </div>
            <div class="input-group">
              <div class="form-floating">
                <input type="text" class="form-control" id="recordLinks" value="{{index . "listReleases"}}">
                <label for="recordLinks">Links to other releases</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="recordWebsites" value="{{index . "listWebsites"}}">
                <label for="recordWebsites">Websites</label>
              </div>
            </div>
          </div>
          <div class="row g-2 mb-3">
            {{/*  YouTube and VirusTotal  */}}
            <div class="col-md">
              <div class="input-group">
                <div class="form-floating">
                  <input type="text" class="form-control" id="recordYouTube" value="{{index . "youtube"}}">
                  <label for="recordYouTube">YouTube ID</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="recordVTotal">
                  <label for="recordVTotal">VirusTotal URL</label>
                </div>
              </div>
            </div>
            {{/*  Filename  */}}
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="recordFilename" value="{{index . "filename"}}">
                <label for="recordFilename">Filename</label>
              </div>
            </div>
          </div>
          {{/*  Comments  */}}
          <div class="form-floating">
            <textarea class="form-control" id="recordComment" style="height:5em;">{{index . "comment"}}</textarea>
            <label for="recordComment">Comments</label>
          </div>
        </div>
        {{/*  Switch to assets and reset buttons  */}}
        <div class="modal-footer row g-3 mt-1">
          <div class="col-md text-center">
            <button class="btn btn-primary" data-bs-target="#assetEditorModal" data-bs-toggle="modal">Switch to assets</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end}}
{{- end}}