{{- /* 
    artifactfooter.tmpl ~ Footer buttons to switch between the various artifact editor modals.
*/ -}}
{{- define "artifactfooter" }}
<div class="modal-footer bg-dark-subtle g-3 mt-1">
    <div id="artifact-editor-alert" class="d-none alert alert-warning w-100" role="alert">
        <div class="d-none">This is a placeholder <strong>alert text</strong>!</div>
    </div>
    <div class="row col-12 gy-1 text-center">
        <div class="col-lg-4 text-lg-start d-none d-lg-inline">
            <a href="#" data-bs-toggle="modal" data-bs-target="#artifact-delete-forever-modal"  class="btn btn-warning">Delete forever</a>
        </div>
        <div class="col-lg-8 text-lg-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#artifact-editor-modal"  class="btn btn-outline-primary">Data editor</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#asset-editor-modal"     class="btn btn-outline-primary">File editor</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#emulate-editor-modal"   class="btn btn-outline-primary">Emulate editor</a>
            <button type="button" data-bs-dismiss="modal"                               
                class="btn btn-secondary d-none d-lg-inline">Close</button>
        </div>
    </div>
</div>
{{- end}}