{{- /* 
    artifactinfo.tmpl ~ Artifact information template.
*/ -}}
{{- define "artifactinfo" -}}
{{- $content := index . "content"}}
{{- $alert := index . "alertURL"}}
{{- $checksum := index . "checksum"}}
{{- $preview := index . "linkpreview"}}
{{- $previewTip := index . "linkpreviewTip"}}
{{- $jsdos6 := index . "jsdos6"}}
{{- $writers := trimSpace (index . "writers") }}
{{- $artists := trimSpace (index . "artists") }}
{{- $readmeL := index . "readmeLatin1"}}
{{- $readmeLines := index . "readmeLines"}}
{{- $readmeRows := index . "readmeRows"}}
{{- $programmers := trimSpace (index . "programmers") }}
{{- $musicians := trimSpace (index . "musicians") }}
{{- $demozoo := (index . "demozoo")}}
{{- $pouet := (index . "pouet")}}
{{- $sixteenColors := trimSpace (index . "sixteenColors")}}
{{- $youtube := trimSpace (index . "youtube")}}
{{- $github := trimSpace (index . "github")}}
{{- $comment := trimSpace (index . "comment")}}
{{- $mimetype := mimeMagic (index . "magic")}}
{{- $noDownload := index . "noDownload"}}
{{- $contentDesc := index . "contentDesc"}}
{{- $lastModAgo := index . "lastmodifiedAgo"}}
{{- $lastMod := index . "lastmodified"}}
{{- $filesize := index . "filesize"}}
{{- $filebyte := index . "filebyte"}}
{{- $filename := index . "filename"}}
{{- $download := index . "download"}}
{{- $downloadText := print "Download &nbsp; " print $filesize}}
{{- $fileEntry := index . "filentry"}}
{{- if $noDownload}}{{$downloadText = print `<span class="text-decoration-line-through">` print $downloadText print "</span>"}}{{end}}
            {{- /*  [FILENAME] Content  */}}
            {{- if $content}}
            <div class="modal fade" id="viewContentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="viewContentModalLabel">{{$filename}} <small>content</small></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Filename or path</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{- range $i, $v := $content }}
                                <tr>
                                    <th scope="row">{{add $i}}</th>
                                    <td><code>{{trimSpace $v}}</code></td>
                                </tr>
                                {{- end }}
                                </tbody>
                            </table>
                        </div>
                        {{- /*  Switch to assets and Close button  */}}
                        <div class="modal-footer row g-3 mt-1">
                            <div class="col-md text-center">
                                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{- end}}
            {{- /*  Artifact file download link  */}} 
            <div class="d-grid gap-2 d-xl-block">
            {{/*  text-decoration-line-through  */}}
            {{- if eq $alert "" }}
                {{- /*  standard download  */}}
                <a class="btn btn-success btn-lg" href="/d/{{$download}}" rel="nofollow" role="button">{{$downloadText | safeHTML}}</a>
            {{- else }}
                {{- /*  google download warning  */}}
                <a class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">{{$downloadText | safeHTML}}</a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Download warning</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start">
                                Google Search has flagged this download as an unsafe or unwanted download. 
                                It can be a false positive, but we recommend carefully running the file in a virtualized environment or an emulator.
                                <p class="m-3 text-center"><a class="link-offset-2" href="{{$alert}}">You should read this scan report before downloading</a></p>
                                <p class="m-5 text-center">
                                    <small><a class="link-secondary link-offset-3" href="/d/{{$download}}" rel="nofollow" role="button">I understand, download anyway</a></small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>               
            {{- end }}
            {{- if eq $jsdos6 true}}
                <a href="#" id="jsdosRunLink" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#jsDOSModal">Run app in browser</a>
            {{- end}}
            </div>
            <div class="mt-2 mb-2 d-grid gap-2 d-xl-flex justify-content-xl-end">
            {{- if ne "" $checksum}}
                <a class="d-none d-sm-inline btn btn-outline-secondary btn-sm" href="/sum/{{$download}}" role="button" 
                    data-bs-toggle="tooltip" data-bs-title="Checksum download">#sum</a>
                <a class="d-inline d-sm-none btn btn-outline-secondary btn-sm" href="/sum/{{$download}}" role="button">Checksum</a>
            {{- end}}
            {{- if $content}}
                <a class="d-inline btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#viewContentModal">view content</a>
            {{- end}}
            {{- if ne "" $preview}}
                <a class="d-inline btn btn-outline-secondary btn-sm" href="{{$preview}}" role="button" 
                    data-bs-toggle="tooltip" data-bs-title="{{$previewTip}}">preview</a>
            {{- end}}
            </div>
            {{- /*  Comment on the artifact  */}}
            {{- if ne $comment ""}}
            <div class="container p-2 text-start">
                <q>{{$comment}}</q>
            </div>
            {{- end}}
            {{- /*  Table with details  */}}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span class="text-nowrap">Download info</span></th>
                        <td><span data-bs-toggle="tooltip" data-bs-title="{{$filebyte}} bytes">{{$filesize}}</span>
                            {{- if ne "" $contentDesc}}, {{$contentDesc}}{{end -}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="text-nowrap">Last modification</span></th>
                        <td><span data-bs-toggle="tooltip" data-bs-title="{{$lastModAgo}}">{{$lastMod}}</span></td>
                    </tr>
                    {{- if ne $mimetype ""}}
                    <tr>
                        <th scope="row"><span class="text-nowrap">Mime type</span></th>
                        <td>{{$mimetype}}</td>
                    </tr>
                    {{- end}}
                    {{- if $readmeL}}
                    <tr>
                        <th scope="row"><span class="text-nowrap">Text dimensions</span></th>
                        <td><span data-bs-toggle="tooltip" data-bs-title="Number of lines in the text">{{$readmeLines}}</span> x 
                            <span data-bs-toggle="tooltip" data-bs-title="Maximum number of rows or characters per-line">{{$readmeRows}}</span></td>
                    </tr>
                    {{- end}}
                    <tr>
                        <th scope="row">&nbsp;</th>
                        <td></td>
                    </tr>
                    {{- /*  Authors and attributions  */}}
                    {{- if ne $writers "" }}
                    <tr>
                        <th scope="row">Writers</th>
                        <td>{{fmtRoles $writers}}</td>
                    </tr>{{- end}}
                    {{- if ne $artists "" }}
                    <tr>
                        <th scope="row">Artists</th>
                        <td>{{fmtRoles $artists}}</td>
                    </tr>{{- end}}
                    {{- if ne $programmers "" }}
                    <tr>
                        <th scope="row">Programmers</th>
                        <td>{{fmtRoles $programmers}}</td>
                    </tr>{{- end}}
                    {{- if ne $musicians "" }}
                    <tr>
                        <th scope="row">Musicians</th>
                        <td>{{fmtRoles $musicians}}</td>
                    </tr>{{- end}}
                    {{- /*  Pouet, Demozoo, 16colors links  */}}
                    {{- if ne $pouet ""}}
                    <tr id="pouetRow" class="d-none">
                        <th scope="row">Pouët reviews</th>
                        <td>
                            <a id="pouetStars" href="https://www.pouet.net/prod.php?which={{$pouet}}">? stars</a>
                            &nbsp; <small id="pouetVotes">? votes</small>
                            <span class="d-none" id="pouetVoteID">{{$pouet}}</span>
                        </td>
                    </tr>{{- end}}
                    {{- if ne $demozoo ""}}
                    <tr>
                        <th scope="row">Demozoo</th>
                        <td>
                            <small><a class="link-offset-3 icon-link icon-link-hover" href="https://demozoo.org/productions/{{$demozoo}}">Downloads, links and extras{{linkSVG}}</a></small>
                        </td>
                    </tr>{{- end}}
                    {{- if ne $sixteenColors ""}}
                    <tr>
                        <th scope="row">16colors</th>
                        <td>
                            <small><a class="link-offset-3 icon-link icon-link-hover" href="https://16colo.rs/{{$sixteenColors}}">Downloads, links and extras{{linkSVG}}</a></small>
                        </td>
                    </tr>{{- end}}
                    {{- /*  YouTube, GitHub and other links  */}}
                    {{- if ne $youtube ""}}
                    <tr>
                        <th scope="row">YouTube</th>
                        <td>
                            <small><a class="link-offset-3 icon-link icon-link-hover" href="https://www.youtube.com/watch?v={{$youtube}}">Watch on YouTube{{linkSVG}}</a></small>
                        </td>
                    </tr>{{- end}}
                    {{- if ne $github ""}}
                    <tr>
                        <th scope="row">GitHub</th>
                        <td>
                            <small><a class="link-offset-3 icon-link icon-link-hover" href="https://github.com/{{$github}}"><var>{{$github}}</var>{{linkSVG}}</a></small>
                        </td>
                    </tr>{{- end}}
                    {{- /*  "Link to" items  */}}
                    {{- index . "websites" }}
                    {{- index . "relations" }}
                    {{- /*  File created and updated dates  */}}
                    {{- if $fileEntry}}
                    <tr>
                        <th scope="row"><small>Artifact</small></th>
                        <td><small>{{$fileEntry | safeHTML}}</small></td>
                    </tr>
                    {{- end}}
                </tbody>
            </table>
{{- end}}