{{- /* 
    artifactedit.tmpl ~ Edit a single artifact file on record.
*/ -}}
{{- define "artifactedit" -}}
{{- if eq false (index . "editor")}}{{/*  render nothing  */}}{{else}}
{{- $epochY := index . "epochYear"}}
{{- $delay := "50ms" }}
{{- $lDelay := "1s"}}
{{- $hundred := "100"}}
{{- $oneK := "1024" }}
{{- $key := index . "modID"}}
{{- $unid := index . "unid"}}
{{- $record := index . "modOnline"}}
{{- $rel1 := index . "modReleaser1"}}
{{- $rel2 := index . "modReleaser2"}}
{{- $title := index . "modTitle"}}
{{- $filename := index . "filename"}}
{{- $os := index . "modOS"}}
{{- $tag := index . "modTag"}}
{{- $dateYear := index . "modYear"}}
{{- $dateMonth := index . "modMonth"}}
{{- $dateDay := index . "modDay"}}
{{- $lmYear := index . "modLMYear"}}
{{- $lmMonth := index . "modLMMonth"}}
{{- $lmDay := index . "modLMDay"}}
{{- $lastMod := index . "lastmodified"}}
{{- $writers := index . "writers"}}
{{- $artists := index . "artists"}}
{{- $youtube := index . "youtube"}}
{{- $sixteen := index . "sixteenColors"}}
{{- $demozoo := index . "demozoo"}}
{{- $pouet := index . "pouet"}}
{{- $github := index . "github"}}
{{- $comment := index . "comment"}}
{{- $relations := index . "modRelations"}}
{{- $websites := index . "modWebsites"}}
{{- $programmers := index . "programmers"}}
{{- $musicians := index . "musicians"}}
{{- $alertURL := index . "alertURL"}}
{{- $previewImg := recordImgSample $unid}}
{{- $thumbImg := recordThumbSample $unid}}
{{- $linkExamples := recordLinkPreviews $youtube $demozoo $pouet $sixteen $github $relations $websites }}
{{- $replace := "refresh the page to see the changes"}}
{{- $hxClassification := "[name='artifact-editor-categories'],[name='artifact-editor-operatingsystem'],[name='artifact-editor-key']"}}
<div class="modal fade bg-warning-subtle" id="artifact-delete-forever-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" 
aria-labelledby="artifact-delete-forever-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete forever the artifact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> 
      <div class="modal-body container">
        <p class="lead">This action is intended for unwanted uploads.</p>
        <p>
          <strong>It will remove the artifact from the database and the server.</strong>
          You should always keep artifacts, as deleting them is irreversible and will break search engine links and any existing references to the artifact on third-party sites such as Demozoo or Wikipedia.
          Instead, replace the existing artifact with new content. 
        </p>
        <div hx-ext="response-targets" class="text-center my-5" id="artifact-delete-forever">
          I understand, <a role="button" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" 
            hx-confirm="Confirm, this is the last chance to back out"
            hx-delete="/editor/delete/forever/{{$key}}" 
            hx-target="#artifact-delete-forever" 
            hx-target-error="#artifact-delete-forever-errors"
            hx-swap="innerHTML">remove and delete forever</a>:
          <p class="mt-2">
            <q>{{$title}}</q><br><code>{{$filename}}</code>
          </p>
          <div class="text-danger" id="artifact-delete-forever-errors"></div>
        </div>
      </div>
      <div class="modal-footer bg-dark-subtle mt-1">
        <div class="d-grid col-12 mx-auto">
          <a href="#artifact-editor-modal" data-bs-toggle="modal" class="btn btn-primary">
          Back to the Data editor</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{- /*  Artifact metadata editor  */}}
<div class="modal fade" id="artifact-editor-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="artifact-editor-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    {{- /*  Data editor for record key, ...  */}}
    <div class="modal-content">
      <div id="artifact-editor-modal-header" class="modal-header {{if eq $record true}}bg-success-subtle{{else}}bg-danger-subtle{{end}}">
        <svg class="bi" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
          <use xlink:href="/svg/bootstrap-icons.svg#file-binary"/>
        </svg>
        <h1 class="modal-title fs-4 ps-2" id="artifact-editor-modal-label">Data editor for record key, {{$key}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#artifact-editor-modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
        <div class="row row-cols-4 g-1">
          {{- /*  Public or hidden record */}}
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioPublic ($record)}}
            <label class="btn btn-outline-success" for="artifact-editor-public">Public record</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 d-grid">
            {{radioHidden ($record)}}
            <label class="btn btn-outline-danger" for="artifact-editor-hidden">Hidden record</label>
          </div>
          <div class="col-12 col-xl-2 col-lg-6 offset-xl-1">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-key-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the key">Record key</button>
              <input type="text" value='{{$key}}' class="form-control" name="artifact-editor-key" id="artifact-editor-key-value"
                aria-describedby="artifact-editor-key-label" readonly>
            </div>
          </div>
          <div class="col-12 col-xl-5 col-lg-6">
            <div class="input-group">
              <button type="button" class="btn btn-secondary" id="artifact-editor-unique-id-label"
                data-bs-toggle="tooltip" data-bs-title="Copy the ID">Unique ID</button>
              <input type="text" value='{{$unid}}' class="form-control" 
                aria-describedby="artifact-editor-unique-id-label" id="artifact-editor-unique-id-value" readonly>
            </div>
          </div>
        </div>
        <div class="row bg-light mt-3 align-items-center">
          <div class="col-xl-6">
            {{- /*  Classifications  */}}
            <label class="form-label">
              <span class="col-form-label-lg">Classifications</span>, 
              <small id="artifact-editor-classification-help">{{classification $tag $os | safeHTML}}</small>.
            </label>
            <div class="input-group mb-1">
              <label class="input-group-text w-50" for="artifact-editor-operating-system" id="artifact-editor-os-label">Operating system</label>
              <select name="artifact-editor-operatingsystem" id="artifact-editor-operating-system" class="form-select"
                aria-describedby="artifact-editor-os-label" autocomplete="off"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">
              {{- template "optionOS" . }}
              </select>
            </div>
            <div class="input-group">
              <label class="input-group-text w-50" for="artifact-editor-category" id="artifact-editor-category-label">Tag as category</label>
              <select name="artifact-editor-categories" id="artifact-editor-category" class="form-select"
                aria-describedby="artifact-editor-category-label" autocomplete="off"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">
              {{- template "optionTag" . }}
              </select>
            </div>
            <div class="btn-group" role="group" aria-label="Reset classifications">
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-classifications-undo" type="button" 
                data-preset-os="{{$os}}" data-preset-tag="{{$tag}}"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">
                  Reset<small class="link-dark"> classifications to <q>{{$os}}</q> + <q>{{$tag}}</q></small></button>
            </div>
          </div>
          <div class="col-xl-6">
            <div><label class="col-form-label-lg">Popular</label></div>
            {{- /*  Popular classifications  */}}
            <div class="row row-cols-2 row-cols-md-3">
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-text-for-dos" type="button" 
                data-preset-os="text" data-preset-tag="releaseinformation"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Text or NFO</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-text-for-amiga" type="button"
                data-preset-os="textamiga" data-preset-tag="releaseinformation"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Text for Amiga</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-magazine-for-text" type="button"
                data-preset-os="text" data-preset-tag="magazine"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Text magazine</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-ansi-for-bbs" type="button"
                data-preset-os="ansi" data-preset-tag="bbs"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">ANSI for BBS</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-intro-for-dos" type="button"
                data-preset-os="dos" data-preset-tag="releaseadvert"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">MsDos-tro</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-trainer-for-dos" type="button"
                data-preset-os="dos" data-preset-tag="gamehack"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">MsDos trainer</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-magazine-for-dos" type="button"
                data-preset-os="dos" data-preset-tag="magazine"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">MsDos magazine</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-intro-for-bbs" type="button"
                data-preset-os="dos" data-preset-tag="bbs"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">BBS-tro</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-intro-for-win" type="button"
                data-preset-os="windows" data-preset-tag="releaseadvert"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Windows-tro</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-trainer-for-win" type="button"
                data-preset-os="windows" data-preset-tag="gamehack"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Windows trainer</button>
              <button class="btn btn-link" name="prereset-classifications" id="artifact-editor-proof-of-release" type="button"
                data-preset-os="image" data-preset-tag="releaseproof"
                hx-patch="/editor/classifications" 
                hx-target="#artifact-editor-classification-help"
                hx-include="{{$hxClassification}}">Proof of release</button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          {{- /*  Title or brief description  */}}
          <div class="col-xl-6">
            <label for="artifact-editor-title" class="col-form-label-lg">Title <small>or magazine issue</small></label>
            <input type="text" name="artifact-editor-title" id="artifact-editor-title" autocomplete="off" maxlength="{{$hundred}}"
              aria-describedby="artifact-editor-title-help" placeholder="example: 500000th release!" class="form-control form-control-lg" 
              value="{{$title}}"
              hx-patch="/editor/title" 
              hx-trigger="keyup changed delay:{{$lDelay}}"
              hx-include="[name='artifact-editor-key']">
            <div id="artifact-editor-title-help" class="form-text">
              An optional brief description or name of the release.<br>
              Or a magazine issue, example: <q>1</q>, or include a volume, example: <q>1, volume 1</q>.
            </div>
            <div class="btn-group" role="group">
              <input type="hidden" name="artifact-editor-titleundo" value="{{$title}}" readonly>
              <button class="btn btn-link" type="button" id="artifact-editor-title-undo"
                hx-patch="/editor/title/reset"
                hx-target="#artifact-editor-title-quote"
                hx-include="[name='artifact-editor-key'],
                            [name='artifact-editor-titleundo']">
                  Reset<small class="link-dark"> title to <q id="artifact-editor-title-quote">{{$title}}</q></small></button>
            </div>
          </div>
          {{/*  Comments  */}}
          <div class="col-xl-6">
            <label class="form-label col-form-label-lg">
                Comment
              </label>
              <textarea class="form-control" name="artifact-editor-comment" id="artifact-editor-comment" 
                style="height:6em;" autocomplete="off" aria-describedby="artifact-editor-comment-help"                
                hx-patch="/editor/comment" 
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">{{$comment}}</textarea>
              <div class="form-text" id="artifact-editor-comment-help">Optional, comments can be used to store longer form notes about the artifact.</div>
              <input type="hidden" id="artifact-editor-comment-resetter" name="artifact-editor-comment-resetter" value="{{$comment}}" readonly>
              <div>
                <button type="button" class="btn btn-link" id="artifact-editor-comment-undo"
                hx-patch="/editor/comment/reset"
                hx-include="[name='artifact-editor-key'],
                            [name='artifact-editor-comment'],
                            [name='artifact-editor-comment-resetter']">Undo<small class="link-dark"> changes</small></button>
              </div>
          </div>
        </div>
        <div class="row bg-light my-3">
          {{- /*  Releasers  */}}
          <div class="col-xl-6">
            <label for="artifact-editor-releaser-1" class="form-label col-form-label-lg">Releasers <small>maximum of 2</small></label>
            <form id="artifact-editor-releasers-form" class="row row-cols-2 row-cols-lg-4 gy-1">
              <div class="col-6 col-lg-4 d-grid d-block">
                <button class="btn btn-success" type="button" id="artifact-editor-releaser-update"
                    hx-patch="/editor/releasers"
                    hx-include="[name='artifact-editor-key']"
                    hx-vals='{"releaser1": "{{$rel1}}","releaser2": "{{$rel2}}"}'>Save</button>
              </div>
              <div class="w-100 d-block d-lg-none"></div>
              <div class="col-12 col-lg-8">
                <input type="text" list="artifact-editor-list-1" name="artifact-editor-releaser1" id="artifact-editor-releaser-1" autocomplete="off"
                    aria-describedby="artifact-editor-releasers-help" placeholder="example: Razor 1911" class="form-control{{if eq $rel1 ""}} is-invalid{{end}}" 
                    value="{{$rel1}}" data-reset-rel1="{{$rel1}}"
                    hx-patch="/uploader/releaser/1" 
                    hx-trigger="keyup[checkUserKeydown.call(this, event)] changed delay:{{$delay}}"
                    hx-target="#artifact-editor-list-1" minlength="2" maxlength="{{$hundred}}" required>
              </div>
              <div class="col-12 col-lg-8 offset-lg-4">
                <input type="text" list="artifact-editor-list-2" name="artifact-editor-releaser2" id="artifact-editor-releaser-2" autocomplete="off"
                    aria-describedby="artifact-editor-releasers-help" placeholder="example: Titan" class="form-control" 
                    value="{{$rel2}}" data-reset-rel2="{{$rel2}}"
                    hx-patch="/uploader/releaser/2" 
                    hx-trigger="keyup[checkUserKeydown.call(this, event)] changed delay:{{$delay}}"
                    hx-target="#artifact-editor-list-2" minlength="2" maxlength="{{$hundred}}">
                    <div class="input-group col-xl-3"></div>
              </div>
            </form>
            <datalist id="artifact-editor-list-1"></datalist>
            <datalist id="artifact-editor-list-2"></datalist>            
            <div id="artifact-editor-releasers-error" class="invalid-feedback{{if eq $rel1 ""}} d-block{{end}}">
              A releaser is required, for example: <q>Razor 1911</q>.
            </div>
            <div id="artifact-editor-releasers-help" class="form-text">
              A releaser can be a group name, magazine title, bbs name or ftp site,
              if unknown or not applicable, use <q>independent</q>. 
              A bbs or ftp site must end with <q>BBS</q> or <q>FTP</q>,<br>
              for example: <q>Dark Domain BBS</q> or <q>Dark Domain FTP</q>.
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-link" type="button" id="artifact-editor-releaser-undo"
              hx-patch="/editor/releasers/reset"
              hx-target="#artifact-editor-releaser-quotes"
              hx-include="[name='artifact-editor-key'],
                          [name='artifact-editor-releaser1'],
                          [name='artifact-editor-releaser2']"
              hx-vals='{"releaser1": "{{$rel1}}","releaser2": "{{$rel2}}"}'>
                Reset<small class="link-dark"> releasers to 
                  <span name="artifact-editor-releaserquotes" id="artifact-editor-releaser-quotes"><q>{{$rel1}}</q>
                  {{if ne $rel2 ""}}+<q>{{$rel2}}</q>{{end}}</span></small></button>
            </div>
          </div>
          {{- /*  Date of release  */}}
          <div class="col-xl-6">
            <label class="form-label col-form-label-lg">Date of release</label>
            <div class="row row-cols-2 row-cols-lg-4 gy-1">
              <div class="col-6 col-lg-4 d-grid d-block">
                <button class="btn btn-success" type="button" id="artifact-editor-date-update"
                hx-patch="/editor/date"
                hx-include="[name='artifact-editor-key'],
                            [name='artifact-editor-year'],
                            [name='artifact-editor-year-resetter'],
                            [name='artifact-editor-month'],
                            [name='artifact-editor-day']">Save</button>
              </div>
              <div class="w-100 d-none d-lg-block"></div>
              <div class="col-6 col-lg-4">
                <div class="input-group">
                  <span class="input-group-text">Year</span>
                  <input type="hidden" name="artifact-editor-yearval" value="{{$dateYear}}" readonly>
                  <input type="number" name="artifact-editor-year" min="1980" max="{{exampleYear}}" autocomplete="off"
                    id="artifact-editor-year" aria-label="Year of release" class="form-control input-date" 
                    value="{{$dateYear}}" placeholder="{{exampleYear}}">
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="input-group">
                  <span class="input-group-text">Month</span>
                  <input type="hidden" name="artifact-editor-monthval" value="{{$dateYear}}" readonly>
                  <input type="number" name="artifact-editor-month" min="1" max="12" autocomplete="off"
                    id="artifact-editor-month" aria-label="Month of release" class="form-control input-date" 
                    value="{{$dateMonth}}" placeholder="{{exampleMonth}}">
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">Day</span>
                  <input type="hidden" name="artifact-editor-dayval" value="{{$dateYear}}" readonly>
                  <input type="number" name="artifact-editor-day" min="1" max="31" autocomplete="off"
                    id="artifact-editor-day" aria-label="Day of release" class="form-control input-date" 
                    value="{{$dateDay}}" placeholder="{{exampleDay}}">
                </div>
              </div>
            </div>
            <div id="artifact-editor-date-help" class="form-text">
              A year of release is recommended.
            </div>
            <div class="d-flex flex-column">
              <input type="hidden" id="artifact-editor-date-resetter" name="artifact-editor-date-resetter" 
                value="{{$dateYear}}-{{$dateMonth}}-{{$dateDay}}" readonly>
              <button type="button" class="btn btn-link" id="artifact-editor-date-reset"
                  hx-patch="/editor/date/reset"
                  hx-target="#artifact-editor-date-quote"
                  hx-include="[name='artifact-editor-key'],[name='artifact-editor-date-resetter']">
                  Reset<small class="link-dark"> date to 
                <q id="artifact-editor-date-quote">{{- if ne $dateYear 0}}{{$dateYear}}{{end}}
                {{- if ne $dateMonth 0}}-{{$dateMonth}}{{end}}
                {{- if ne $dateDay 0}}-{{$dateDay}}{{end}}</q></small>
              </button>
              {{- if gt $lmYear $epochY}}
              <input type="hidden" id="artifact-editor-date-lastmodder" name="artifact-editor-date-lastmodder" 
                value="{{$lmYear}}-{{$lmMonth}}-{{$lmDay}}" readonly>
              <button type="button" class="btn btn-link" id="artifact-editor-date-lastmod"
                  hx-patch="/editor/date/lastmod"
                  hx-target="#artifact-editor-date-lastmod-quote"
                  hx-include="[name='artifact-editor-key'],[name='artifact-editor-date-lastmodder']">
                  Use<small class="link-dark"> the last modification date 
                {{- if ne $lmYear 0}}<small><q id="artifact-editor-date-lastmod-quote">{{$lmYear}}
                {{- if ne $lmMonth 0}}-{{$lmMonth}}{{end}}
                {{- if ne $lmDay 0}}-{{$lmDay}}{{end}}</q></small>{{end}}
              </button>
              {{- end}}
            </div>
          </div>
        </div>
        <div class="row my-3">
          {{/*  Filename  */}}
          <div class="col-xl-6">
            <label for="artifact-editor-filename" class="col-form-label-lg">Filename</label>
            <input type="text" class="form-control{{if eq $filename ""}} is-invalid{{end}}" 
              name="artifact-editor-filename" id="artifact-editor-filename" autocomplete="off" maxlength="255"
              value="{{$filename}}" aria-describedby="artifact-editor-filename-help"
              hx-patch="/editor/filename" 
              hx-trigger="keyup changed delay:{{$lDelay}}"
              hx-include="[name='artifact-editor-key']">
            <div id="artifact-editor-filename-help" class="form-text">
              The filename should usually be left unchanged and is required.<br>
              <span class="text-warning-emphasis">A file extension is always advisable</span>, for example: <q>example.zip</q>.
            </div>
            <div class="btn-group" role="group">
              <input type="hidden" name="artifact-editor-filename-undo" value="{{$filename}}" readonly>
              <button class="btn btn-link" type="button" id="artifact-editor-filename-reset"
                hx-patch="/editor/filename/reset"
                hx-target="#artifact-editor-filename-quote"
                hx-include="[name='artifact-editor-key'],
                            [name='artifact-editor-filename-undo']">
                  Reset<small class="link-dark"> filename to <q id="artifact-editor-filename-quote">{{$filename}}</q></small></button>
            </div>
          </div>
          {{/*  VirusTotal  */}}
          <div class="col-xl-6">
            <label for="artifact-editor-virustotal" class="col-form-label-lg">VirusTotal alert</label>
            <input type="text" class="form-control" name="artifact-editor-virustotal" id="artifact-editor-virustotal" autocomplete="off" maxlength="256"
              aria-describedby="artifact-editor-virustotal-help" value="{{$alertURL}}"
              hx-patch="/editor/virustotal" 
              hx-trigger="keyup changed delay:{{$lDelay}}"
              hx-include="[name='artifact-editor-key']">
            <div id="artifact-editor-virustotal-help" class="form-text">
              <span class="text-info-emphasis">Provide an link to a VirusTotal report to block the artifact download.</span><br>
              The VirusTotal alert should usually be left empty.
            </div>
          </div>
        </div>
        <div class="row bg-light">
          {{- /*  Creators  */}}
          <label class="form-label col-form-label-lg mb-0 pb-0">
            Creators
          </label>
          <div class="row row-cols-2 gy-1">
            <div class="col">
              <div class="form-floating">
              <input type="text" class="form-control" name="artifact-editor-credittext" id="artifact-editor-credit-text" autocomplete="off" maxlength="{{$oneK}}"
                value="{{$writers}}" data-reset-credit-text="{{$writers}}" placeholder="example: Name" aria-details="artifact-editor-credit-help"
                hx-patch="/editor/creator/text" 
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-credit-text">Writers</label>
              </div>
            </div>
            <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" name="artifact-editor-creditill" id="artifact-editor-credit-ill" autocomplete="off" maxlength="{{$oneK}}"
                value="{{$artists}}" data-reset-credit-ill="{{$artists}}" placeholder="example: Name" aria-details="artifact-editor-credit-help"
                hx-patch="/editor/creator/ill" 
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-credit-ill">Visual artists</label>
            </div>
            </div>
            <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" name="artifact-editor-creditprog" id="artifact-editor-credit-prog" autocomplete="off" maxlength="{{$hundred}}" 
                value="{{$programmers}}" data-reset-credit-prog="{{$programmers}}" placeholder="example: Name" aria-details="artifact-editor-credit-help"
                hx-patch="/editor/creator/prog" 
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-credit-prog">Programmers</label>
            </div>
            </div>
            <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" name="artifact-editor-creditaudio" id="artifact-editor-credit-audio" autocomplete="off" maxlength="{{$hundred}}"
                value="{{$musicians}}" data-reset-credit-audio="{{$musicians}}" placeholder="example: Name" aria-details="artifact-editor-credit-help"
                hx-patch="/editor/creator/audio" 
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-credit-audio">Musicians</label>
            </div>
            </div>
          </div>
          <div class="form-text" id="artifact-editor-credit-help">Join multiple creators with commas, for example: <q>Name,Name two,Name3</q>.</div>
          <div>
            <button type="button" class="btn btn-link" id="artifact-editor-credit-undo"
                hx-patch="/editor/creator/reset"
                hx-include="[name='artifact-editor-key'],
                [name='artifact-editor-creditundo'],
                [name='artifact-editor-credittext'],
                [name='artifact-editor-creditill'],
                [name='artifact-editor-creditprog'],
                [name='artifact-editor-creditaudio']">Undo<small class="link-dark"> changes</small></button>
            </div>
        </div>
        <div class="btn-group" role="group">
          <input type="hidden" id="artifact-editor-credits-undo" name="artifact-editor-credits-undo" 
            value="{{$writers}};{{$artists}};{{$programmers}};{{$musicians}}" readonly>
        </div>
        <hr class="d-block d-lg-none">
        {{- /*  Links  */}}
        <form autocomplete="off"     
            hx-patch="/editor/links"
            hx-trigger="input from:#artifact-editor-youtube,
                        input from:#artifact-editor-demozoo,
                        input from:#artifact-editor-pouet,
                        input from:#artifact-editor-16colors,
                        input from:#artifact-editor-github,
                        input from:#artifact-editor-relations,
                        input from:#artifact-editor-websites"
            hx-include="[name='artifact-editor-key']"
            hx-target="#artifact-editor-link-examples">
        <div class="row">
          <label class="form-label col-form-label-lg mb-0 pb-0">
            Links
          </label>
          <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-6 justify-content-center">
            <div class="col" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="YouTube watch ID, example: 62BuDfBIcMo">
              <div class="form-floating">
                <input type="hidden" name="artifact-editor-youtubeval" id="artifact-editor-youtube-reset" value="{{$youtube}}" readonly>
                {{- /*  maxlength/minlength values means htmx will only ever trigger with 11 chars  */}}
                <input type="text" class="form-control" name="artifact-editor-youtube" id="artifact-editor-youtube" 
                  autocomplete="off" maxlength="11" minlength="11" value="{{$youtube}}" placeholder="62BuDfBIcMo"
                  hx-patch="/editor/youtube"
                  hx-validate="true"
                  hx-trigger="keyup changed delay:{{$lDelay}}"
                  hx-include="[name='artifact-editor-key']">
                <label for="artifact-editor-youtube">YouTube ID</label>
              </div>
            </div>
            <div class="col" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Numeric production ID, example: 185828">
              <div class="form-floating">
                <input type="hidden" name="artifact-editor-demozooval" id="artifact-editor-demozoo-reset" value="{{$demozoo}}" readonly>
                {{- /*  do not use a min=1 input element, otherwise htmx will never save when deleting a value  */}}
                <input type="number" class="form-control" name="artifact-editor-demozoo" id="artifact-editor-demozoo" 
                  autocomplete="off" max="{{ demozooSanity }}" value="{{$demozoo}}" placeholder="185828"
                  hx-patch="/editor/demozoo"
                  hx-trigger="keyup changed delay:{{$lDelay}}"
                  hx-include="[name='artifact-editor-key']">
                <label for="artifact-editor-demozoo">Demozoo prod</label>
              </div>
            </div>
            <div class="col" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Numeric production ID, example: 75854">
              <div class="form-floating">
                <input type="hidden" name="artifact-editor-pouetval" id="artifact-editor-pouet-reset" value="{{$pouet}}" readonly>
                <input type="number" class="form-control" name="artifact-editor-pouet" id="artifact-editor-pouet" 
                  autocomplete="off" max="{{ pouetSanity }}" value="{{$pouet}}" placeholder="75854"
                  hx-patch="/editor/pouet"
                  hx-trigger="keyup changed delay:{{$lDelay}}"
                  hx-include="[name='artifact-editor-key']">
                <label for="artifact-editor-pouet">Pouet prod</label>
              </div>
            </div>
            <div class="col" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="A URL path, example: /tags/magazine/dreadloc">
              <div class="form-floating">
                <input type="hidden" name="artifact-editor-16colorstval" id="artifact-editor-16colors-reset" value="{{$sixteen}}" readonly>
                <input type="text" class="form-control" name="artifact-editor-16colors" id="artifact-editor-16colors" 
                  autocomplete="off" maxlength="{{$oneK}}" value="{{$sixteen}}" placeholder="/tags/magazine/dreadloc"
                  hx-patch="/editor/16colors"
                  hx-trigger="keyup changed delay:{{$lDelay}}"
                  hx-include="[name='artifact-editor-key']">
                <label for="artifact-editor-16colors">16colors partial</label>
              </div>
            </div>
            <div class="col" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="A repository path, example: /Defacto2/database">
              <div class="form-floating">
                <input type="hidden" name="artifact-editor-githubval" id="artifact-editor-github-reset" value="{{$github}}" readonly>
                <input type="text" class="form-control" name="artifact-editor-github" id="artifact-editor-github" 
                  autocomplete="off" maxlength="{{$oneK}}" value="{{$github}}" placeholder="/Defacto2/database"
                  hx-patch="/editor/github"
                  hx-trigger="keyup changed delay:{{$lDelay}}"
                  hx-include="[name='artifact-editor-key']">
                <label for="artifact-editor-github">GitHub repo</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 gy-2 pt-2">
          <div class="col">
            <div class="form-floating" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Info and a Defacto2 ID, example: NFO;9f1c2">
              <input type="hidden" name="artifact-editor-relationsval" id="artifact-editor-relations-reset" value="{{$relations}}" readonly>
              <input type="text" class="form-control" name="artifact-editor-relations" id="artifact-editor-relations" 
                autocomplete="off" maxlength="255" value="{{$relations}}"
                placeholder="example: NFO;9f1c2" aria-describedby="artifact-editor-relations-help"
                hx-patch="/editor/relations"
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-relations">Link to releases</label>
            </div>
            <div class="form-text" id="artifact-editor-relations-help">Links include a brief title and file ID, for example, 
              <q>NFO;9f1c2|Intro;a92116e</q>, creates the following two links:<br>
              <div class="d-none d-lg-block">Link to <a href="/f/9f1c2">NFO</a><br>Link to <a href="/f/a92116e">Intro</a></div>
            </div>
          </div> 
          <div class="col">
            <div class="form-floating">
              <input type="hidden" name="artifact-editor-websitesval" id="artifact-editor-websites-reset" value="{{$websites}}" readonly>
              <input type="text" class="form-control" name="artifact-editor-websites" id="artifact-editor-websites" 
                autocomplete="off" maxlength="2048" value="{{$websites}}"
                placeholder="Website;example.com" aria-describedby="artifact-editor-websites-help"
                hx-patch="/editor/sites"
                hx-trigger="keyup changed delay:{{$lDelay}}"
                hx-include="[name='artifact-editor-key']">
              <label for="artifact-editor-websites">Link to websites</label>
            </div>
            <div class="form-text" id="artifact-editor-websites-help">Brief title &amp; link, example: 
              <q>Site;<a href="https://example.com">example.com</a>|Documentation;<a href="https://example.com/doc">example.com/doc</a></q>.
              <div class="d-none d-lg-block">Link to <a href="https://example.com">Site</a><br>Link to <a href="https://example.com/doc">Documentation</a></div>
            </div>
          </div>
        </div>
        <div id="artifact-editor-link-examples" class="mt-3">
          {{range $linkExamples}}
              <small><strong>Link to</strong></small> &nbsp; {{. | safeHTML}}<br>
          {{end}}
        </div>
        <div>
          <button type="button" class="btn btn-link" id="artifact-editor-links-reset"
              hx-patch="/editor/links/reset"
              hx-include="[name='artifact-editor-key'],
              [name='artifact-editor-youtubeval'],
              [name='artifact-editor-demozooval'],
              [name='artifact-editor-pouetval'],
              [name='artifact-editor-16colorstval'],
              [name='artifact-editor-relationsval'],
              [name='artifact-editor-websitesval']"
              hx-target="#artifact-editor-link-examples">
              Undo<small class="link-dark"> changes</small>
          </button>
        </div>
        </form>
        <hr class="d-block d-lg-none">
      </div>
      {{/*  Switch to assets and reset buttons  */}}
      {{- template "artifactfooter" . }}
    </div>
  </div>
</div>
{{- end}}
{{- end}}