{{- /* artifactfile.tmpl */}}
{{- define "artifactfile" }}
{{- if eq false (index . "editor")}}
{{- /* render nothing in the layout   */}}
{{- else}}
{{- $faSize := "fa-fw fa-2x" -}}
{{- $id := index . "modID"}}
{{- $previewImg := recordImgSample (index . "uuid")}}
{{- $thumbImg := recordThumbSample (index . "uuid")}}
{{- $replace := "refresh the page to see the changes"}}
{{- /*  File assets and metadata editors  */}}
<div class="modal fade" id="assetEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="assetEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      {{/*  Modify the assets for ID  */}}
      <div class="modal-header">
        <i class="fal fa-file-alt {{ $faSize }}" title="Modify the record"></i> &nbsp;
        <h1 class="modal-title fs-5" id="assetEditorModalLabel">Modify the assets for ID {{index . "modID"}}</h1><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Internal identifiers"><strong>Identifiers</strong></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              {{- /*  UUID used for the filename of assets  */}}
                <input type="text" readonly class="form-control-plaintext" id="recordUUID" value="{{index . "uuid"}}"
                data-bs-toggle="tooltip" data-bs-title="Universal Unique Identifier">
            </div>
            <div class="col-xl-2">
              {{- /*  Database table auto ID  */}}
              <input type="text" readonly class="form-control-plaintext" id="recordID" value="{{$id}}"
              data-bs-toggle="tooltip" data-bs-title="Database table, auto-increment unique key">
            </div>
            <div class="col-xl-3">
              {{- /*  Example file link  */}}
              <input type="text" readonly class="form-control-plaintext" id="recordLink" value="defacto2.net{{linkHref $id}}"
              data-bs-toggle="tooltip" data-bs-title="URL for this file artifact">
            </div>
          </div>
        </div>
        {{/*  Filename  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Original filename of the artifact">Filename</dt>
          <dd class="col-xl-10">{{index . "filename"}}</dd>
        </dl>
        {{/*  Metadata - last modified and size  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Last modified date and sizes of the artifact">Metadata</dt>
          <dd class="col-xl-5"><strong>last modified on server</strong> {{index . "modStatModify"}}</dd>
          <dd class="col-xl-5"><strong>size</strong> {{index . "modStatSize"}}</dd>
        </dl>
        {{/*  Quick type  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Common media type, this maybe inaccurate">Quick type</dt>
          <dd class="col-xl-10">{{index . "modKind"}}</dd>
        </dl>
        {{/*  Location  */}}
        <dl class="row mb-0">
          <dt class="col-xl-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Path to file artifact on the server">Location</dt>
          <dd class="col-xl-10">{{index . "modAbsDownload"}}</dd>
        </dl>
        <hr class="m-0 mb-3">
        {{/*  Complementary assets  */}}
        <table class="table table-success table-striped table-hover">
          <thead>
            <tr>
              <th class="col-xl-3" scope="col" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Files generated by the server">Complementary assets</th>
              <th class="col-xl-9" scope="col" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Metadata for the assets">Info</th>
            </tr>
          </thead>
          <tbody>
            {{- range $name, $info := .modAssets}}
            <tr>
              <td scope="row">{{$name}}</td>
              <td>{{$info}}</td>
            </tr>
            {{- end}}
            <tr><td colspan="2">{{/*  empty placeholder  */}}</td></tr>
          </tbody>
        </table>
        {{ template "artifactzip" . }}
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Preview from upload  */}}
        <div class="mb-3 row">
          <label for="edUploadPreview" id="edUploadPreviewLabel" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Preview</strong> from upload</label>
          <div class="col-10 col-xl-5">
            {{- /*  TODO: default disabled based on hide value  */}}
            <input type="file" class="form-control" id="edUploadPreview" value="" 
              accept="image/png, image/jpeg, image/webp, image/bmp, image/gif, image/tiff">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="edUploadPreviewReset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="edUploadPreviewBtn">Upload and recreate</button>  
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Download artifact */}}
        <div class="mb-3 row">
          <label for="edUploadArtifact" id="edUploadArtifactLabel" class="col-lg-3 col-form-label"
          data-bs-toggle="tooltip" data-bs-title="An included image to use as the preview and thumbnail"><strong>Download</strong> artifact</label>
          <div class="col-10 col-lg-5">
            <input type="file" class="form-control" id="edUploadArtifact" value="">
            <div class="valid-feedback">Download artifact replaced, {{$replace}}</div>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" id="edUploadArtifactReset">Clear</button>
          </div>
          <div class="col-8 mt-1 col-lg-3 mt-lg-0 text-start">
            <button class="btn btn-outline-success" id="edUploadArtifactBtn">Upload and replace</button>   
          </div>
        </div>
        <hr class="m-0 mb-3 mt-3">
        {{- /*  Delete complementary images  */}}
        {{- /*  Delete readme asset  */}}
        <div class="my-2 row">
          <div class="col-sm-6 text-start">
            {{- /*  <button class="btn btn-sm btn-dark">Regenerate complementary images</button>    */}}
          </div>
          <div class="col-sm-6 text-end">
            <button class="btn btn-sm btn-danger" id="edBtnImgs">Delete complementary <strong>images</strong></button>  
            <button class="btn btn-sm btn-danger" id="edBtnRead" disabled>Delete <strong>readme</strong> asset</button>
          </div>
          <input type="hidden" id="edBtnsHide">
          <div id="edBtnsFeedback" class="text-end"></div>
          {{- /*  Preview and Thumbnail images  */}}
          <div class="row g-3 text-center">
            <div class="col-md">{{$previewImg}}<div class="form-text">Preview</div></div>
            <div class="col-md">{{$thumbImg}}<div class="form-text">Thumbnail</div></div>
          </div>
        </div>
      </div>
      <div class="modal-footer row g-3 mt-1">
        <div class="col-md text-center">
          <button class="btn btn-secondary" data-bs-target="#viewContentModal" data-bs-toggle="modal">List archive content</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{- end}}
{{- end}}