{{- /*
  brokentexts.tmpl ~ Broken text files
*/ -}}
{{- define "content" }}
<p class="fs-4">
  How did these texts and Scene releases break?
</p>
<p class="lead">1) Packaging mistakes</p>
<p>Sometimes, the original packager would have a queue of tasks and would occasionally pack and include the wrong text files in the release. 
In the era of MS-DOS without application multitasking, this was an easy mistake to make.
</p>
<p class="lead">2) BBS mistakes</p>
<p>
During the peak BBS era of the 1990s, many bulletin boards utilized scripts and automated tools to help manage the influx of uploads. 
At times, they would inject advertising into the files, parse, even replace metadata, or rebuild the release archive from scratch. 
However, these scripts could be buggy and break the packaged release that would get reshared elsewhere.
</p>
<p class="lead">3) Oldware and abandonware communities</p>
<p>
It might be surprising today, but even in the mid-1990s, there was an active online community of people who were into old and retro gaming.
</p><p>
At the time, the web was still a relatively new technology and wasn't the most effective way to share files. 
People would instead share online over ftp servers (<a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol">file transfer protocol</a>) 
or using IRC (<a href="https://en.wikipedia.org/wiki/IRC">internet relay chat</a>) chatbots with the <a href="https://en.wikipedia.org/wiki/XDCC">XDCC</a> file exchange protocol, with <code>#oldwarez</code> being the primary chat channel.
</p>
<p>
However, the Scene also used ftp servers and irc. With some groups even hosting new-release warez over irc chatbots.
<a href="/g/fast-action-trading-elite">fATE</a>'s <code>#fatefiles</code> and <a href="/g/motiv8">Motiv8</a>'s <code>#m8leech</code> were two notable chat channel examples.
</p>
<p>
This is speculation; yet, the close online proximity of new release pirated software probably made some members of the abandonware community anxious.
They were sharing copyrighted software online but felt justified as their titles were out of print and unattainable. 
Yet they did not want to be associated with the pirates of contemporary software or draw the ire of law enforcement.
</p>
<p>
Many in the abandonware community would reshare old Scene releases but modify or 
delete the included texts by removing references to the original Scene group or 
deleting the listings of the distribution boards and group members. 
It was an issue acknowledged at the time with the 1996 group Old Warez Inc <a href="/f/af4624">writing</a>, 
<q>We DO NOT STRIP ANY CREDIT FROM THESE ORIGINAL RELEASERS</q>.
Unfortunately, these tainted Scene releases are sometimes the ones that survive today.
</p>
<p>examples: 
<small>(1995-6)</small> <a href="/g/distributors-of-classic-warez">Distributors of Classic Warez</a>,
<small>(1996)</small> <a href="/g/dead-pirates-society">Dead Pirates Society</a>,
<small>(1996-7)</small> <a href="/g/8088-state">8088 State</a>, 
<small>(1996-98)</small> <a href="/g/old-warez-inc">Old Warez Inc</a>,
<small>(1998)</small> <a href="/g/classic-old-warez">Classic Old Warez</a>, &nbsp; <a href="/f/ab287ee">BloodRose XDCC</a>
</p>
<p class="lead">4) Web mistakes</p>
<p>
English language text files of the DOS and early Windows eras were predominantly saved in a limited character encoding known as 
<a href="https://en.wikipedia.org/wiki/Code_page_437">CP437</a>. 
While microcomputers such as the Commodore Amiga and workstations running Unix used an incompatible character encoding 
<a href="https://en.wikipedia.org/wiki/ISO/IEC_8859-1">ISO-8859-1</a> (also known as Latin 1 or OEM-US).
</p>
<p>
For a decade or two, ISO-8859 was also the default encoding used for the Internet, the web, and many web browsers. 
This meant <a href="/files/nfo">NFO</a> files created in the CP437 encoding can not be correctly viewed in web browsers and could become corrupted if downloaded incorrectly. 
Today when a text file using a legacy CodePage such as 437 is incorrectly downloaded in the wrong encoding, then often the characters are altered or lost and cannot be recovered.
</p>
<p>
For example, the Defacto2 website hero text-logo was drawn in CP-437.
</p>
<p>When converted to Latin 1, it corrupts on view but can be recovered</p>
<p class="font-monospace text-break">
      ú      ±ÛÛß ß       ±ÛÛß ß              ß ß±ÛÛ             ß ßÛÛÛ ú
      : ±ÛÛß ²ÛÛ ±ÛÛßßÛÛ² ²ÛÛßß±ÛÛßßÛÛÛ ±ÛÛßßÛÛ² ²ÛÛß ±ÛÛßßÛÛÛ ±ÛÛßßßßß :
 ú úúÄÅÄ²ÛÛÄÄÛÛÛÄ²ÛÛÄÜÛÛÛÄÛÛÛÄÄ²ÛÛÄÄÛÛÛÄ²ÛÛÄÄÄÄÄÄÛÛÛÄÄ²ÛÛÄÄÛÛÛÄ²ÛÛÄÄÛÛÛÄÅÄúú ú
      ³ ÛÛÛÜÜÛÛ² ÛÛÛÜÜÜÜÜÜÛÛ²  ÛÛÛÜ ÛÛÛÜÛÛÛÜÜÛÛÛ ÛÛÛÜÜÛÛÛÜ ÛÛÛÜÛÛÛÜÜÛÛÛ ³
ú úúÄÄÅÄÄÄÄÄÄÄÄÄúú                defacto2.net               úúÄÄÄÄÄÄÄÄÄÅÄÄúú ú
      ³                                                                 :
</p>
<p>When saved as Unicode it permanently corrupts and cannot be restored</p>
<p class="font-monospace text-break">
      ∩┐╜      ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜       ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜              ∩┐╜ ▀▒∩┐╜∩┐╜             ∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜
      : ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜█▓ ∩┐╜∩┐╜∩┐╜∩┐╜▀▒∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜█▓ ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ :
 ∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜─▓∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜
      ∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜█▓ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜█▓  ∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜
∩┐╜ ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜                defacto2.net               ∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜ ∩┐╜
      ∩┐╜                                                                 :
</p>
{{- end}}
