{{- /*  
    categories.tmpl ~ the categories template is for the files, browse categories menu.
*/ -}}
{{- define "content" }}
{{- $cardClass := " h-100"}}
{{- $rels := index . "counter" }}
{{- $linkClass := "lead card-link text-nowrap"}}
{{- /* note row-cols-sm-* is the smallest row-cols value */}}
{{- $rowCols := "row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 p-3 g-md-0 p-md-0"}}
{{/*  hashtags  */}}
<div class="row row-cols-1 g-1">
    <div class="h-100">
        <div class="card">
            <div class="card-body fs-6 fw-light">
            <div class="d-flex flex-wrap gap-2 mb-3">
                <a class="badge bg-success" rel="nofollow" href="/files/text-amiga">amiga text</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/announcement">announcement</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi">ansi</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi-bbs">ansi bbs advert</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi-ftp">ansi ftp advert</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi-brand">ansi logo</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi-nfo">ansi nfo</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi-pack">ansi pack</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/text-apple2">apple 2</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/job-advert">application ad</a>
                <a class="badge bg-success" rel="nofollow" href="/files/image">art</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/text-atari-st">atari</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/bbs">BBS</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/bbstro">BBStro</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/restrict">behind the scenes</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/bbs">board</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/takedown">bust</a>
                <a class="badge bg-info" rel="nofollow" href="/files/hack">cheat</a>
                <a class="badge bg-success" rel="nofollow" href="/files/ansi">color text</a>
                <a class="badge bg-info" rel="nofollow" href="/files/trial-crackme">crackme</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/intro">cracktro</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/intro">crack intro</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/intro">crack screen</a>
                <a class="badge bg-info" rel="nofollow" href="/files/database">database</a>
                <a class="badge bg-info" rel="nofollow" href="/files/database">db</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/demoscene">demo</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/demoscene">demoscene</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/magazine">disk mag</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/msdos">dos</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/msdos-pack">dos pack</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/drama">drama</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/magazine">emag</a>
                <a class="badge bg-info" rel="nofollow" href="/files/hack">exploit</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/advert">for sale</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/ftp">FTP</a>
                <a class="badge bg-info" rel="nofollow" href="/files/hack">game hack</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/how-to">guide</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/how-to">how-to</a>
                <a class="badge bg-success" rel="nofollow" href="/files/html">html</a>
                <a class="badge bg-success" rel="nofollow" href="/files/image-pack">image pack</a>
                <a class="badge bg-success" rel="nofollow" href="/files/nfo">information text</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/restrict">insider</a>
                <a class="badge bg-success" rel="nofollow" href="/files/installer">installer</a>
                <a class="badge bg-success" rel="nofollow" href="/files/installer">installation app</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/how-to">instruction</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/intro">intro</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/java">java</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/job-advert">job ad</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/linux">linux</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/intro">loader</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/macos">macOS</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/magazine">magazine</a>
                <a class="badge bg-warning" rel="nofollow" href="/magazine">magazine title</a>
                <a class="badge bg-success" rel="nofollow" href="/files/music">mod</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/msdos">ms-dos</a>
                <a class="badge bg-success" rel="nofollow" href="/files/music">music</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/news-article">news media</a>
                <a class="badge bg-success" rel="nofollow" href="/files/nfo">NFO</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/macos">os x</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/msdos">pc-dos</a>
                <a class="badge bg-success" rel="nofollow" href="/files/pdf">pdf</a>
                <a class="badge bg-success" rel="nofollow" href="/files/image">picture</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/proof">proof</a>
                <a class="badge bg-success" rel="nofollow" href="/files/nfo">readme</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/proof">release proof</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/restrict">restricted</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/standards">scene rules</a>
                <a class="badge bg-success" rel="nofollow" href="/files/script">script</a>
                <a class="badge bg-success" rel="nofollow" href="/files/script">shell</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/ftp">site</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/standards">standards</a>
                <a class="badge bg-danger" rel="nofollow" href="/files/takedown">takedown</a>
                <a class="badge bg-success" rel="nofollow" href="/files/text">text</a>
                <a class="badge bg-success" rel="nofollow" href="/files/text-pack">text pack</a>
                <a class="badge bg-success" rel="nofollow" href="/files/music">tracker</a>
                <a class="badge bg-info" rel="nofollow" href="/files/hack">trainer</a>
                <a class="badge bg-secondary" rel="nofollow" href="/files/how-to">unprotect</a>
                <a class="badge bg-success" rel="nofollow" href="/files/video">video</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/windows">windows</a>
                <a class="badge bg-primary" rel="nofollow" href="/files/windows-pack">windows pack</a>
                <a class="badge bg-warning" rel="nofollow" href="/files/magazine">zine</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-2 g-4 mt-1">
    {{- if .stats }}
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-title">Count and filesize</h5>
                <div class="fs-6">
                    <div class="mb-3 pb-2 border-bottom">
                        <strong>Totals:</strong> {{ byteFile $rels.Record.Count $rels.Record.Bytes }}
                    </div>
                    <div class="lh-lg" style="font-size: 0.95rem;">
                        <div>ansi art: {{ byteFile $rels.AnsiBBS.Count $rels.AnsiBBS.Bytes }}</div>
                        <div>ansi art and texts: {{ byteFile $rels.Ansi.Count $rels.Ansi.Bytes }}</div>
                        <div>BBS adverts: {{ byteFile $rels.BBS.Count $rels.BBS.Bytes }}</div>
                        <div>BBStros: {{ byteFile $rels.BBStro.Count $rels.BBStro.Bytes }}</div>
                        <div>cracktros and intros: {{ byteFile $rels.Intro.Count $rels.Intro.Bytes }}</div>
                        <div>cracktros and intros on {{msdos}}: {{ byteFile $rels.IntroD.Count $rels.IntroD.Bytes }}</div>
                        <div>cracktros and intros on Windows: {{ byteFile $rels.IntroW.Count $rels.IntroW.Bytes }}</div>
                        <div>Demoscene productions: {{ byteFile $rels.Demoscene.Count $rels.Demoscene.Bytes }}</div>
                        <div>editors: {{ byteFile $rels.NfoTool.Count $rels.NfoTool.Bytes }}</div>
                        <div>installers: {{ byteFile $rels.Installer.Count $rels.Installer.Bytes }}</div>
                        <div>Java files: {{ byteFile $rels.Java.Count $rels.Java.Bytes }}</div>
                        <div>Linux files: {{ byteFile $rels.Linux.Count $rels.Linux.Bytes }}</div>
                        <div>MacOS files: {{ byteFile $rels.Macos.Count $rels.Macos.Bytes }}</div>
                        <div>{{msdos}} files: {{ byteFile $rels.MsDos.Count $rels.MsDos.Bytes }}</div>
                        <div>nfo texts: {{ byteFile $rels.Nfo.Count $rels.Nfo.Bytes }}</div>
                        <div>proofs: {{ byteFile $rels.Proof.Count $rels.Proof.Bytes }}</div>
                        <div>scripts: {{ byteFile $rels.Script.Count $rels.Script.Bytes }}</div>
                        <div>text files: {{ byteFile $rels.BBSText.Count $rels.BBSText.Bytes }}</div>
                        <div>Windows files: {{ byteFile $rels.Windows.Count $rels.Windows.Bytes }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-title">Publish dates</h5>
                <div class="fs-6">
                    <div class="mb-3 pb-2 border-bottom">
                        <strong>Overall:</strong> {{$rels.Record.MinYear}} - {{$rels.Record.MaxYear}}
                    </div>
                    <div class="lh-lg" style="font-size: 0.95rem;">
                        <div>ansi art: {{$rels.Ansi.MinYear}}-{{$rels.Ansi.MaxYear}}</div>
                        <div>BBS adverts: {{$rels.BBS.MinYear}}-{{$rels.BBS.MaxYear}}</div>
                        <div>cracktros and intros: {{$rels.Intro.MinYear}}-{{$rels.Intro.MaxYear}}</div>
                        <div>Java files: {{$rels.Java.MinYear}}-{{$rels.Java.MaxYear}}</div>
                        <div>Linux files: {{$rels.Linux.MinYear}}-{{$rels.Linux.MaxYear}}</div>
                        <div>magazines: {{$rels.Magazine.MinYear}}-{{$rels.Magazine.MaxYear}}</div>
                        <div>MacOS files: {{$rels.Macos.MinYear}}-{{$rels.Macos.MaxYear}}</div>
                        <div>{{msdos}} files: {{$rels.MsDos.MinYear}}-{{$rels.MsDos.MaxYear}}</div>
                        <div>nfo texts: {{$rels.Nfo.MinYear}}-{{$rels.Nfo.MaxYear}}</div>
                        <div>scripts: {{$rels.Script.MinYear}}-{{$rels.Script.MaxYear}}</div>
                        <div>text files: {{$rels.Text.MinYear}}-{{$rels.Text.MaxYear}}</div>
                        <div>Windows files: {{$rels.Windows.MinYear}}-{{$rels.Windows.MaxYear}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{- end}}
    {{/*  descriptions  */}}
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-subtitle lead mb-2 text-body-secondary">cracktro, loader, intro, crack-screen</h5>
                <p class="card-text">
                    Cracktros and loaders are mini adverts created by cracking groups to announce their
                    releases to the community.
                    Initially, these inserted ads launched whenever the cracked software was in use.
                </p>
                <span class="card-link">Runs on</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/files/intro-windows" class="{{$linkClass}}">Windows</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro-msdos" class="{{$linkClass}}">{{msdos}}</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro" class="{{$linkClass}}">any platform</a>
                        </div>
                    </div>
                </div>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">installation program</h5>
                <p class="card-text">
                    As software repackaging by Scene groups became more complicated, there was a need to develop installation programs that walk the users through installing their ill-gotten wares.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/installer" class="{{$linkClass}}">installers</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-title">Release text</h5>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">NFO, information text, README</h5>
                <p class="card-text">
                    Text files are generally in every scene release.
                    Often, they are stylised with text art and arranged in a standard format.
                    In the early days, these texts included detailed group information, but now they focus more on the
                    describing the software.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/nfo" class="{{$linkClass}}">nfo files</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">release proof</h5>
                <p class="card-text">
                    A proof of a release is usually a photograph to verify that physical media sold in retail stores is the source of the warez release.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/proof" class="{{$linkClass}}">proofs</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">Demoscene production</h5>
                <p class="card-text">
                    Demoscene productions are artistic apps that generate visuals and audio to show the creators' programming, audio, and graphic abilities. Early demo productions developed within warez scene before they distanced themselves and spun into their own community.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/demoscene" class="{{$linkClass}}">demos</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-subtitle lead mb-2 text-body-secondary">ANSI color text</h5>
                <p class="card-text">
                    Stylized ANSI text art was commonly created for the theming and advertising of Bulletin Board Systems.
                </p>
                <span class="{{$linkClass}}">Browse all the <a href="/files/ansi" class="{{$linkClass}}">ansi files</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">branding &amp; logo</h5>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-brand" class="{{$linkClass}}">ansi logos</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">BBS board advert</h5>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-bbs" class="{{$linkClass}}">ansi board ads</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">FTP site advert</h5>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-ftp" class="{{$linkClass}}">ansi site ads</a></span>
                <hr>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">ANSI color NFO</h5>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-nfo" class="{{$linkClass}}">ansi nfos</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-title">BBS</h5>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">bulletin board system</h5>
                <p class="card-text">
                    Bulletin Board Systems were like proto-websites that offered message forums, real-time chat, and file sharing but used a text user interface and ran on the landline telephone network. 
                    Users had to use their PCs or microcomputers with a modem peripheral to dial and connect to the individual boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/bbs" class="{{$linkClass}}">adverts</a></span>
                <hr>
                <p class="{{$linkClass}}">Or only the</p>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                      <div class="col-sm">
                <a href="/files/bbstro" class="{{$linkClass}}">BBS-tros</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/ansi-bbs" class="{{$linkClass}}">ansi ads</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-image" class="{{$linkClass}}">images ads</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-text" class="{{$linkClass}}">texts &amp; ads</a>
                        </div>
                    </div>
                </div>
                <hr>
                <h5 class="card-title">FTP</h5>
                <h5 class="card-subtitle lead mb-2 text-body-secondary">file site</h5>
                <p class="card-text">
                    FTP sites eventually supplanted BBS boards as The Scene moved onto the Internet in the early to mid-1990s. The utilitarian sites were more efficient at organizing and transferring files but lacked the social features of the earlier boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/ftp" class="{{$linkClass}}">adverts</a></span> 
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-subtitle lead mb-2 text-body-secondary">Magazine</h5>
                <p class="card-text">
                    Before the web and social media existed, groups and individuals used to exchange ideas and write articles on their communities in digitally distributed magazines and newsletters.
                </p>
                <p class="{{$linkClass}}">Browse the</p>
                 <a href="/files/magazine" class="{{$linkClass}}">issues</a>
                 <hr>
                 <p class="{{$linkClass}}">Or the</p>
                 <a href="/magazine" class="{{$linkClass}}">magazine titles</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-subtitle lead mb-2 text-body-secondary">File pack</h5>
                <p class="card-text">
                    Curated file packs are collections of files with a common theme.
                </p>
                <p class="{{$linkClass}}">Browse the packs of</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                      <div class="col">
                <a href="/files/ansi-pack" class="{{$linkClass}}">ansi art</a>
                        </div>
                        <div class="col">
                <a href="/files/msdos-pack" class="{{$linkClass}}">{{msdos}} software</a>
                        </div>
                        <div class="col">
                <a href="/files/text-pack" class="{{$linkClass}}">text and nfos</a>
                        </div>
                        <div class="col">
                <a href="/files/windows-pack" class="{{$linkClass}}">Windows software</a>
                        </div>
                        <div class="col">
                <a href="/files/image-pack" class="{{$linkClass}}">images</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-subtitle lead mb-2 text-body-secondary">Database</h5>
                <p class="card-text">
                    Scene databases are often private datasets of cracked software titles, release dates and
                    associated groups.
                    Due to their scope and size, these sets are often incomplete and sometimes inaccurate.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/database" class="{{$linkClass}}">databases</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h5 class="card-title">Text file</h5>
                <p class="card-text">
                    The vast majority of scene releases involve text and documents.
                    Plain text files have the advantage of being platform-agnostic and small in file size.
                </p>
                <p class="{{$linkClass}}">Browse the text</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                        <div class="col">
                <a href="/files/text" class="{{$linkClass}}">files, everything</a>
                        </div>
                        <div class="col">
                <a href="/files/text-apple2" class="{{$linkClass}}">Apple ][ files, a microcomputer</a>
                        </div>
                        <div class="col">
                <a href="/files/text-amiga" class="{{$linkClass}}">Amiga files, a microcomputer from Commodore</a>
                        </div>
                        <div class="col">
                <a href="/files/pdf" class="{{$linkClass}}">PDF documents, an alternative format</a>
                        </div>
                        <div class="col">
                <a href="/files/text-atari-st" class="{{$linkClass}}">Atari ST files, a microcomputer</a>
                        </div>
                        <div class="col">
                <a href="/files/html" class="{{$linkClass}}">HTML documents, a web format</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{- block "morecategories" . -}}{{ "<!-- More categories -->" | safeHTML -}}{{end}}
{{- end}}
