{{- /*  
    categories.tmpl ~ the categories template is for the files, browse categories menu.
*/ -}}
{{- define "content" }}
{{- $titleClass := " h3" }}
{{- $otherClass := " h5" }}
{{- $cardClass := " h-100"}}
{{- $rels := index . "counter" }}
{{- $linkClass := "lead card-link text-nowrap"}}
{{- /* note row-cols-sm-* is the smallest row-cols value */}}
{{- $rowCols := "row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 p-3 g-md-0 p-md-0"}}
{{/*  hashtags  */}}
<div class="row row-cols-1 g-1">
    <div class="h-100">
        <div class="card-body fs-6 fw-light">
            <div class="d-flex flex-wrap mb-3">
                <div class="p-1"><a href="/files/text-amiga">amiga text</a></div>
                <div class="p-1"><a href="/files/announcement">announcement</a></div>
                <div class="p-1"><a href="/files/ansi">ansi</a></div>
                <div class="p-1"><a href="/files/ansi-bbs">ansi bbs advert</a></div>
                <div class="p-1"><a href="/files/ansi-ftp">ansi ftp advert</a></div>
                <div class="p-1"><a href="/files/ansi-brand">ansi logo</a></div>
                <div class="p-1"><a href="/files/ansi-nfo">ansi nfo</a></div>
                <div class="p-1"><a href="/files/ansi-pack">ansi pack</a></div>
                <div class="p-1"><a href="/files/text-apple2">apple 2</a></div>
                <div class="p-1"><a href="/files/job-advert">application ad</a></div>
                <div class="p-1"><a href="/files/image">art</a></div>
                <div class="p-1"><a href="/files/text-atari-st">atari</a></div> 
                <div class="p-1"><a href="/files/bbs">BBS</a></div>
                <div class="p-1"><a href="/files/bbstro">BBStro</a></div>
                <div class="p-1"><a href="/files/restrict">behind the scenes</a></div>
                <div class="p-1"><a href="/files/bbs">board</a></div>
                <div class="p-1"><a href="/files/takedown">bust</a></div>
                <div class="p-1"><a href="/files/hack">cheat</a></div>
                <div class="p-1"><a href="/files/ansi">color text</a></div>
                <div class="p-1"><a href="/files/trial-crackme">crackme</a></div>
                <div class="p-1"><a href="/files/intro">cracktro</a></div>
                <div class="p-1"><a href="/files/intro">crack intro</a></div>
                <div class="p-1"><a href="/files/intro">crack screen</a></div>
                <div class="p-1"><a href="/files/database">database</a></div>
                <div class="p-1"><a href="/files/database">db</a></div>
                <div class="p-1"><a href="/files/demoscene">demo</a></div>
                <div class="p-1"><a href="/files/demoscene">demoscene</a></div>
                <div class="p-1"><a href="/files/magazine">disk mag</a></div>
                <div class="p-1"><a href="/files/msdos">dos</a></div>
                <div class="p-1"><a href="/files/msdos-pack">dos pack</a></div>
                <div class="p-1"><a href="/files/drama">drama</a></div>
                <div class="p-1"><a href="/files/magazine">emag</a></div>
                <div class="p-1"><a href="/files/hack">exploit</a></div>
                <div class="p-1"><a href="/files/advert">for sale</a></div>
                <div class="p-1"><a href="/files/ftp">FTP</a></div>
                <div class="p-1"><a href="/files/hack">game hack</a></div>
                <div class="p-1"><a href="/files/how-to">guide</a></div>
                <div class="p-1"><a href="/files/how-to">how-to</a></div>
                <div class="p-1"><a href="/files/html">html</a></div>
                <div class="p-1"><a href="/files/image-pack">image pack</a></div>
                <div class="p-1"><a href="/files/nfo">information text</a></div>
                <div class="p-1"><a href="/files/restrict">insider</a></div>
                <div class="p-1"><a href="/files/installer">installer</a></div>
                <div class="p-1"><a href="/files/installer">installation app</a></div>
                <div class="p-1"><a href="/files/how-to">instruction</a></div>
                <div class="p-1"><a href="/files/intro">intro</a></div>
                <div class="p-1"><a href="/files/java">java</a></div>
                <div class="p-1"><a href="/files/job-advert">job ad</a></div>
                <div class="p-1"><a href="/files/linux">linux</a></div>
                <div class="p-1"><a href="/files/intro">loader</a></div>
                <div class="p-1"><a href="/files/macos">macOS</a></div>
                <div class="p-1"><a href="/files/magazine">magazine</a></div>
                <div class="p-1"><a href="/magazine">magazine title</a></div>
                <div class="p-1"><a href="/files/music">mod</a></div>
                <div class="p-1"><a href="/files/msdos">ms-dos</a></div>
                <div class="p-1"><a href="/files/music">music</a></div>
                <div class="p-1"><a href="/files/news-article">news media</a></div>
                <div class="p-1"><a href="/files/nfo">NFO</a></div>
                <div class="p-1"><a href="/files/macos">os x</a></div>
                <div class="p-1"><a href="/files/msdos">pc-dos</a></div>
                <div class="p-1"><a href="/files/pdf">pdf</a></div>
                <div class="p-1"><a href="/files/image">picture</a></div>
                <div class="p-1"><a href="/files/proof">proof</a></div>
                <div class="p-1"><a href="/files/nfo">readme</a></div>
                <div class="p-1"><a href="/files/proof">release proof</a></div>
                <div class="p-1"><a href="/files/restrict">restricted</a></div>
                <div class="p-1"><a href="/files/standards">scene rules</a></div>
                <div class="p-1"><a href="/files/script">script</a></div>
                <div class="p-1"><a href="/files/script">shell</a></div>
                <div class="p-1"><a href="/files/ftp">site</a></div>
                <div class="p-1"><a href="/files/standards">standards</a></div>
                <div class="p-1"><a href="/files/takedown">takedown</a></div>
                <div class="p-1"><a href="/files/text">text</a></div>
                <div class="p-1"><a href="/files/text-pack">text pack</a></div>
                <div class="p-1"><a href="/files/music">tracker</a></div>
                <div class="p-1"><a href="/files/hack">trainer</a></div>
                <div class="p-1"><a href="/files/how-to">unprotect</a></div>
                <div class="p-1"><a href="/files/video">video</a></div>
                <div class="p-1"><a href="/files/windows">windows</a></div>
                <div class="p-1"><a href="/files/windows-pack">windows pack</a></div>
                <div class="p-1"><a href="/files/magazine">zine</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-2 g-4 mt-1">
    {{- if .stats }}
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h2 class="card-title h5">Count and filesize</h2>
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item lead">
                            totals {{ byteFile $rels.Record.Count $rels.Record.Bytes }}
                        </li>
                        <li class="list-group-item lead">
                            <small>
                                ansi art: {{ byteFile $rels.AnsiBBS.Count $rels.AnsiBBS.Bytes }}<br>
                                ansi art and texts: {{ byteFile $rels.Ansi.Count $rels.Ansi.Bytes }}<br>
                                BBS adverts: {{ byteFile $rels.BBS.Count $rels.BBS.Bytes }}<br>
                                BBStros: {{ byteFile $rels.BBStro.Count $rels.BBStro.Bytes }}<br>
                                cracktros and intros: {{ byteFile $rels.Intro.Count $rels.Intro.Bytes }}<br>
                                cracktros and intros on {{msdos}}: {{ byteFile $rels.IntroD.Count $rels.IntroD.Bytes }}<br>
                                cracktros and intros on Windows: {{ byteFile $rels.IntroW.Count $rels.IntroW.Bytes }}<br>
                                Demoscene productions: {{ byteFile $rels.Demoscene.Count $rels.Demoscene.Bytes }}<br>
                                editors: {{ byteFile $rels.NfoTool.Count $rels.NfoTool.Bytes }}<br>
                                installers: {{ byteFile $rels.Installer.Count $rels.Installer.Bytes }}<br>
                                Java files: {{ byteFile $rels.Java.Count $rels.Java.Bytes }}<br>
                                Linux files: {{ byteFile $rels.Linux.Count $rels.Linux.Bytes }}<br>
                                MacOS files: {{ byteFile $rels.Macos.Count $rels.Macos.Bytes }}<br>
                                {{msdos}} files: {{ byteFile $rels.MsDos.Count $rels.MsDos.Bytes }}<br>
                                nfo texts: {{ byteFile $rels.Nfo.Count $rels.Nfo.Bytes }}<br>
                                proofs: {{ byteFile $rels.Proof.Count $rels.Proof.Bytes }}<br>
                                scripts: {{ byteFile $rels.Script.Count $rels.Script.Bytes }}<br>
                                text files: {{ byteFile $rels.BBSText.Count $rels.BBSText.Bytes }}<br>
                                Windows files: {{ byteFile $rels.Windows.Count $rels.Windows.Bytes }}<br>
                            </small>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h2 class="card-title h5">Publish dates</h2>
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item lead">
                            years {{$rels.Record.MinYear}} - {{$rels.Record.MaxYear }}
                        </li>
                        <li class="list-group-item lead">
                            <small>
                            ansi art: {{$rels.Ansi.MinYear}}-{{$rels.Ansi.MaxYear}}<br>
                            BBS adverts: {{$rels.BBS.MinYear}}-{{$rels.BBS.MaxYear}}<br>
                            cracktros and intros: {{$rels.Intro.MinYear}}-{{$rels.Intro.MaxYear}}<br>
                            Java files: {{$rels.Java.MinYear}}-{{$rels.Java.MaxYear}}<br>
                            Linux files: {{$rels.Linux.MinYear}}-{{$rels.Linux.MaxYear}}<br>
                            magazines: {{$rels.Magazine.MinYear}}-{{$rels.Magazine.MaxYear}}<br>
                            MacOS files: {{$rels.Macos.MinYear}}-{{$rels.Macos.MaxYear}}<br>
                            {{msdos}} files: {{$rels.MsDos.MinYear}}-{{$rels.MsDos.MaxYear}}<br>
                            nfo texts: {{$rels.Nfo.MinYear}}-{{$rels.Nfo.MaxYear}}<br>
                            scripts: {{$rels.Script.MinYear}}-{{$rels.Script.MaxYear}}<br>
                            text files: {{$rels.Text.MinYear}}-{{$rels.Text.MaxYear}}<br>
                            Windows files: {{$rels.Windows.MinYear}}-{{$rels.Windows.MaxYear}}<br>
                            </small>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    {{- end}}
    {{/*  descriptions  */}}
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h6 class="card-subtitle lead mb-2 text-body-secondary">cracktro, loader, intro, crack-screen</h6>
                <p class="card-text">
                    Cracktros and loaders are mini adverts created by cracking groups to announce their
                    releases to the community.
                    Initially, these inserted ads launched whenever the cracked software was in use.
                </p>
                <span class="card-link">Runs on</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/files/intro-windows" class="{{$linkClass}}">Windows</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro-msdos" class="{{$linkClass}}">{{msdos}}</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro" class="{{$linkClass}}">any platform</a>
                        </div>
                    </div>
                </div>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">installation program</h6>
                <p class="card-text">
                    As software repackaging by Scene groups became more complicated, there was a need to develop installation programs that walk the users through installing their ill-gotten wares.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/installer" class="{{$linkClass}}">installers</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h2 class="card-title h5">Release text</h2>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">NFO, information text, README</h6>
                <p class="card-text">
                    Text files are generally in every scene release.
                    Often, they are stylised with text art and arranged in a standard format.
                    In the early days, these texts included detailed group information, but now they focus more on the
                    describing the software.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/nfo" class="{{$linkClass}}">nfo files</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">release proof</h6>
                <p class="card-text">
                    A proof of a release is usually a photograph to verify that physical media sold in retail stores is the source of the warez release.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/proof" class="{{$linkClass}}">proofs</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">Demoscene production</h6>
                <p class="card-text">
                    Demoscene productions are artistic apps that generate visuals and audio to show the creators' programming, audio, and graphic abilities. Early demo productions developed within warez scene before they distanced themselves and spun into their own community.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/demoscene" class="{{$linkClass}}">demos</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h6 class="card-subtitle lead mb-2 text-body-secondary">ANSI color text</h6>
                <p class="card-text">
                    Stylized ANSI text art was commonly created for the theming and advertising of Bulletin Board Systems.
                </p>
                <span class="{{$linkClass}}">Browse all the <a href="/files/ansi" class="{{$linkClass}}">ansi files</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">branding &amp; logo</h6>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-brand" class="{{$linkClass}}">ansi logos</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">BBS board advert</h6>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-bbs" class="{{$linkClass}}">ansi board ads</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">FTP site advert</h6>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-ftp" class="{{$linkClass}}">ansi site ads</a></span>
                <hr>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">ANSI color NFO</h6>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi-nfo" class="{{$linkClass}}">ansi nfos</a></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h2 class="card-title h5">BBS</h2>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">bulletin board system</h6>
                <p class="card-text">
                    Bulletin Board Systems were like proto-websites that offered message forums, real-time chat, and file sharing but used a text user interface and ran on the landline telephone network. 
                    Users had to use their PCs or microcomputers with a modem peripheral to dial and connect to the individual boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/bbs" class="{{$linkClass}}">adverts</a></span>
                <hr>
                <span class="{{$linkClass}}">Or only the</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                      <div class="col-sm">
                <a href="/files/bbstro" class="{{$linkClass}}">BBS-tros</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/ansi-bbs" class="{{$linkClass}}">ansi ads</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-image" class="{{$linkClass}}">images ads</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-text" class="{{$linkClass}}">texts &amp; ads</a>
                        </div>
                    </div>
                </div>
                <hr>
                <h2 class="card-title h5">FTP</h2>
                <h6 class="card-subtitle lead mb-2 text-body-secondary">file site</h6>
                <p class="card-text">
                    FTP sites eventually supplanted BBS boards as The Scene moved onto the Internet in the early to mid-1990s. The utilitarian sites were more efficient at organizing and transferring files but lacked the social features of the earlier boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/ftp" class="{{$linkClass}}">adverts</a></span> 
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h6 class="card-subtitle lead mb-2 text-body-secondary">Magazine</h6>
                <p class="card-text">
                    Before the web and social media existed, groups and individuals used to exchange ideas and write articles on their communities in digitally distributed magazines and newsletters.
                </p>
                <span class="{{$linkClass}}">Browse the</span>
                <div class="d-none d-sm-inline">
                    <a href="/files/magazine" class="{{$linkClass}}">issues</a>
                </div>
                <div class="container text-left d-inline d-sm-none">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/files/magazine" class="{{$linkClass}}">issues</a>
                        </div>
                    </div>
                </div>
                <hr>
                <span class="{{$linkClass}}">Or the</span>
                <div class="container text-left d-inline d-sm-none">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/magazine" class="{{$linkClass}}">magazine titles</a>
                        </div>
                    </div>
                </div>                
                <div class="d-none d-sm-inline">
                    <a href="/magazine" class="{{$linkClass}}">magazine titles</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h6 class="card-subtitle lead mb-2 text-body-secondary">File pack</h6>
                <p class="card-text">
                    Curated file packs are collections of files with a common theme.
                </p>
                <p class="{{$linkClass}}">Browse the packs of</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                      <div class="col">
                <a href="/files/ansi-pack" class="{{$linkClass}}">ansi art</a>
                        </div>
                        <div class="col">
                <a href="/files/msdos-pack" class="{{$linkClass}}">{{msdos}} software</a>
                        </div>
                        <div class="col">
                <a href="/files/text-pack" class="{{$linkClass}}">text and nfos</a>
                        </div>
                        <div class="col">
                <a href="/files/windows-pack" class="{{$linkClass}}">Windows software</a>
                        </div>
                        <div class="col">
                <a href="/files/image-pack" class="{{$linkClass}}">images</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h6 class="card-subtitle lead mb-2 text-body-secondary">Database</h6>
                <p class="card-text">
                    Scene databases are often private datasets of cracked software titles, release dates and
                    associated groups.
                    Due to their scope and size, these sets are often incomplete and sometimes inaccurate.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/database" class="{{$linkClass}}">databases</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h2 class="card-title h5">Text file</h2>
                <p class="card-text">
                    The vast majority of scene releases involve text and documents.
                    Plain text files have the advantage of being platform-agnostic and small in file size.
                </p>
                <p class="{{$linkClass}}">Browse the text</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                        <div class="col">
                <a href="/files/text" class="{{$linkClass}}">files, everything</a>
                        </div>
                        <div class="col">
                <a href="/files/text-apple2" class="{{$linkClass}}">Apple ][ files, a microcomputer</a>
                        </div>
                        <div class="col">
                <a href="/files/text-amiga" class="{{$linkClass}}">Amiga files, a microcomputer from Commodore</a>
                        </div>
                        <div class="col">
                <a href="/files/pdf" class="{{$linkClass}}">PDF documents, an alternative format</a>
                        </div>
                        <div class="col">
                <a href="/files/text-atari-st" class="{{$linkClass}}">Atari ST files, a microcomputer</a>
                        </div>
                        <div class="col">
                <a href="/files/html" class="{{$linkClass}}">HTML documents, a web format</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{- block "morecategories" . -}}{{ "<!-- More categories -->" | safeHTML -}}{{end}}
{{- end}}