{{- /*
  compression.tmpl ~ File compression formats and history.
*/ -}}
{{- define "content" }}
<h1 class="mb-4">File Compression Formats</h1>

<h4 class="index-section-header">Squeeze</h4>
<div class="index-intro-section">
<p>
One of the original compression formats used on the PC was known as File Squeezer, which was introduced in May 1981 for the CP/M systems and later ported to the Microsoft disk operating systems by various authors. 
<a href="http://fileformats.archiveteam.org/wiki/Squeeze">Squeezing</a> comprises two programs, <code>SQ.EXE</code>, the file squeezer for compression, and <code>USQ.EXE</code>, the file unsqueezer for decompression. 
Squeeze initially did not preserve file modification dates and could not group collections of files into archives; instead, this was handled separately by an unrelated program, Library Utility (<code>LU.EXE</code>), which created ".LBR" files.
</p>
</div>

<h4 class="index-section-header">ARC (File Archive Utility)</h4>
<div class="index-intro-section">
<p>
This process was convoluted, and several solutions arrived on the PC to simplify the archiving and sharing of software online. 
But the one of the first was ARC, "File Archive Utility" by Thom Henderson under the company, System Enhancement Associates. 
This tool archived and compressed groups of files using a single command, and <a href="http://www.textfiles.com/programming/FORMATS/arc-lbr.pro">caught on</a> 
in the PC BBS community, with many boards adopting it as a standard and re-packaging their existing file offerings.
</p>
<p>
Unfortunately, this means today there are no known original PC scene releases compressed with File Squeezer or packaged with the Library Utility. 
They have all been repackaged using the ARC tool. 
For example, a release by the Duplicators for the game Bluebush Chess (BBCHESS.COM) was modified in September 1984; 
however, the package we have (<a href="https://defacto2.net/f/b627a2c">BLUEBUSH.ARC</a>) was created in June 1986. 
Another example is the SPI release of Shamus, which proclaims "<span class="font-monospace">(C) Copyright invalid in 1984</span>"; however, our <a href="https://defacto2.net/f/b92e146">SHAMUS.ARC</a> package was made in December 1985. 
Both examples were probably repackaged by a third party to use the newer ARC tools, which didn't exist in 1984.
</p>
<p>
The author of UNARC for the CP/M systems <a href="https://www.cpc-power.com/index.php?page=detail&onglet=notices&num=13880">notes</a> in May 1986, 
<q>The files which UNARC processes are the product of a utility program, ARC, which executes on 16-bit computers running the MS-DOS (or PC-DOS) operating system. 
This program has achieved widespread popularity since it was first introduced in March 1985.</q>
</p>
</div>

<h4 class="index-section-header">Zoo (A Fast File Archiver)</h4>
<div class="index-intro-section">
<p>
A competing compression format known as <a href="http://fileformats.archiveteam.org/wiki/Zoo">Zoo</a>, "A Fast File Archiver," by Rahul Dhesi, was released on the PC in August 1986. 
And, while it never caught on with the PC scene due to ARC, it did prove to be more popular on the Commodore Amiga microcomputer and Unix systems.
</p>
</div>

<h4 class="index-section-header">PKARC (The Faster ARC)</h4>
<div class="index-intro-section">
<p>
ARC had evolved into a standard on the PC by offering its source code for porting to other microcomputers and systems. 
And while free, Thom, the author of ARC, asked for payments from users who thought the tools or the standard were useful.
</p>
<p>
In late 1985, a programmer by the name of Phil Katz took a look at the source code and created a set of more optimized tools named PKARC 
and <a href="http://cd.textfiles.com/rbbsv3n1/pool/pkxarc.zip">PKXARC</a>, "Fast! Archive Create/Update/Extract Utility" that would handle ARC archives. 
He, too, <a href="http://cd.textfiles.com/rbbsv3n1/pool/pkx33a12.com">asked</a> for payments from the users who thought his more performant tools were useful, which put him in competition with Thom, the original author of ARC.
</p>
<p>
Phil kept improving his tools and ultimately introduced new compression methods that broke compatibility with the ARC standard; however, he kept using the ARC branding and ".ARC" file extension. 
This confused users, forcing the adoption of Phil's tools over Thom's originals by following the later Microsoft playbook of embrace, extend, and extinguish. 
SEA responded by suing Phil for trademark and software likeness violations, where they ultimately settled.
</p>
<p>
Paul Homchick, in October 1988, <a href="http://bbsdocumentary.com/library/CONTROVERSY/LAWSUITS/SEA/arc-hist.txt">wrote</a>, 
<q>Phil Katz continued to produced new versions of PKARC, finally, in the latter part of 1987, introducing "SQUASHING" which was similar to zoo's 13-bit LZW compression. 
Although PKARC was no longer "ARC-compatible" it retained the .ARC extension.
This caused confusion for novice users and a lot of grief for BBS operators.
This policy was regarding by many as "standard busting," and likely was a factor in the litigation that followed in the summer of 1988.</q>
</p>
<p>
Unfortunately for Thom, the litigation initiated an online <a href="http://www.bbsdocumentary.com/library/CONTROVERSY/LAWSUITS/SEA/">flame war</a> and the cancellation of the SEA brand. 
Many ARC users and BBS system operators sided with Phil, who presented himself as an underdog in a David and Goliath battle. 
With his supporters ditching the use of the tools offered by SEA, and eventually leading to the demise of the tiny company with the abandonment of the ARC standard.
</p>
</div>

<h4 class="index-section-header">PKPAK & PKZIP</h4>
<div class="index-intro-section">
<p>
In the settlement, Phil agreed to rename his PKARC tools to PKPAK and PKUNPAK, but later retired them after introducing a new set of programs that were free of any source code or trademark violations. 
These tools were released as PKZIP and PKUNZIP and became the standard archiver for online boards and later the World Wide Web.
</p>
<p>
But much like Phil had done earlier with his PKARC toolset, newer releases of PKZIP would introduce incompatible compression methods while keeping to the ".ZIP" file extension. 
This again led to confusion, with the users not always knowing which archiving tool version to use for a particular ZIP archive.
</p>
<p>
By the end of 1992, the ZIP standard eventually <a href="https://www.hanshq.net/zip.html">settled</a> on the "deflate" compression method first introduced in 1990, and is still used today. 
However, some of the more esoteric compression techniques that are found in the ZIP files created before 1993 are often not usable with modern archiving tools or operating systems.
</p>
<p>
<img src="/image/new/zip-error.webp" class="rounded mx-auto d-block" alt="There was an error extracting 'CONQUEST.ZIP' screenshot">
</p>
</div>

<h4 class="index-section-header">RAR (Roshal Archive)</h4>
<div class="index-intro-section">
<p>
The <a href="http://fileformats.archiveteam.org/wiki/RAR">Roshal Archive</a> is proprietary format developed by a sole engineer in 1994. 
RAR compressed packages are commonly used with large files on online distributed networks such as BitTorrent where the hosting or transfer may not always be stable. 
The reason for this is that RAR supports redundancy data that allows the recovery of individual files within a package even when the package itself is not complete. 
RAR decompression software is free but file compression requires a commercial product.
</p>
</div>

<h4 class="index-section-header">ACE</h4>
<div class="index-intro-section">
<p>
ACE is another <a href="http://fileformats.archiveteam.org/wiki/ACE">proprietary</a> format that was developed by a sole engineer and first released in 1997. 
It offers slightly better compression than RAR and briefly became popular when home Internet speeds were measured in the kbit/s. 
Like RAR, ACE packages can be decompressed using free software but file compression requires a commercial product.
</p>
</div>

<h4 class="index-section-header">Historical Examples</h4>
<div class="index-intro-section">
<div class="row">
<div class="col-12 col-xxl-6">
<p class="text-muted small mb-2"><strong>Squeezing and unsqueezing</strong> a file using MS-DOS, circa 1983:</p>
<pre style="font-size:22px;" class="font-dos-mda reader reader-invert border border-black rounded-1 p-1">
C:\>SQ.EXE
File squeezer version 1.8u    10-10-83 (D. Galorath) by
        Richard Greenlaw
        251 Colony Ct.
        Gahanna, Ohio 43230
Usage: sq [-] pathname ...
        - squeezed output to stdout

C:\>SQ.EXE INFO.DOC

INFO.DOC -> INFO.DQC: analyzing, squeezing,  done.


C:\>DIR INFO.DQC

 Volume in drive C is DOSHD
 Directory of  C:\

INFO     DQC    17290  12-01-83  1:02p
        1 File(s)


C:\>USQ.EXE
Usage: usq [-nu] file ...MS-DOS VERSION 10-10-83 D. GALORATH
        -n Nlmode: remove carriage returns
        -u perserve Uppercase pathnames

C:\>USQ.EXE INFO.DQC
usq: INFO.DQC -> info.doc


C:\>DIR INFO.DOC

 Volume in drive C is DOSHD
 Directory of  C:\

INFO     DOC    28511  12-01-83  1:03p
        1 File(s)</pre>
<p class="text-muted small">
<a href="http://cd.textfiles.com/pcsig08/101_200/DISK0115/SQUEEZE.EXE">Squeezing</a> and 
<a href="http://cd.textfiles.com/pcsig08/101_200/DISK0115/UNSQUEEZ.EXE">unsqueezing</a> tools
</p>
</div>
<div class="col-12 col-xxl-6">
<p class="text-muted small mb-2"><strong>Early ARC and PKARC releases:</strong></p>
<pre style="font-size:22px;" class="font-dos-mda reader reader-invert border border-black rounded-1 p-1">
C:\>ARC.EXE

ARC - Archive utility, Version 3.10, created on 05/01/85 at 22:34:50
(C) COPYRIGHT 1985 by System Enhancement Associates; ALL RIGHTS RESERVED

You may copy and distribute this program free of charge, provided that:
    1)   No fee is charged for such copying and distribution,
    2)   You distribute this as a complete set of all files, and
    3)   It is distributed ONLY in this original, unmodified state

Usage: ARC {aumdxerplvt}[bwn] [archive] [filename  .  .  .]


C:\>PKXARC.EXE

PKXARC FAST!  Archive Extract Utility  Version 1.1  10-21-85 by Phil Katz
                         PKXARC/h for help

Extracts files from an ARChive to their original name, size, time, & date.

        PKXARC [/r] [d:path\]ARCfile [d:path\]


C:\>PKARC.EXE

PKARC   FAST!  Archive Create/Update Utility   Version 1.2   10-23-86
Copyright (c) 1986 PKWARE, Inc. All Rights Reserved. PKARC/h for help

Usage: PKARC options archive [filename...]

If you find PKARC fast, easy, and convenient to use, a contribution of $20
would be appreciated. With each contribution of $45 or more you will be
registered to receive a diskette with the next versions of PKARC and 
PKXARC when available. Please state the current versions of PKARC and 
PKXARC which you have.  Send contributions to:</pre>
<p class="text-muted small">
The partial outputs of an <a href="http://old-dos.ru/index.php?page=files&mode=files&do=show&id=699">early</a> release of ARC,
an <a href="http://cd.textfiles.com/rbbsv3n1/pool/pkx33a12.com">early</a> release of PKARC,
and an <a href="http://cd.textfiles.com/rbbsv3n1/pool/pkxarc.zip">early</a> release of PKXARC.
</p>
</div>
</div>
</div>

{{- end }}
