{{- /* 
    configurations.tmpl ~ Configurations page template.
*/ -}}
{{- define "content" }}
{{- $configs := index . "configurations"}}
{{- $checkDownloads := index . "checkDownloads"}}
{{- $checkPreviews := index . "checkPreviews"}}
{{- $checkThumbnails := index . "checkThumbnails"}}
{{- $checkExtras := index . "checkExtras"}}
{{- $checkOrphaned := index . "checkOrphaned"}}
{{- $extsDownloads := index . "extsDownloads"}}
{{- $extsPreviews := index . "extsPreviews"}}
{{- $extsThumbnails := index . "extsThumbnails"}}
{{- $extsExtras := index . "extsExtras"}}
{{- $extsOrphaned := index . "extsOrphaned"}}
{{- $checkDBConns := index . "dbConnections"}}
{{- $responseRow := "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-0"}}
{{- /*    */}}
<h1 class="lead mt-5">Database</h1>
<div class="pb-3">
  The number of active connections should always be as low as possible. 
  Having too many connections open are problematic and usually means some SQL queries are waiting to time out.
</div>
<div class="mb-3">
  <button class="btn btn-outline-primary" hx-get="/editor/configurations/dbconns" hx-target="#database-response">
    Refresh the connections <span id="database-htmx-indicator" class="htmx-indicator spinner-border spinner-border-sm text-primary" role="status"></span>
  </button>
</div>
<div class="p-2 lead">
  <div><strong>Artifacts available to the public: {{index . "countPublic"}}</strong></div>
  <div>Active connections to the database: <span id="database-response">{{$checkDBConns}}</span></div>
  <div><small>Artifact records in the table: {{index . "countArtifacts"}}</small></div>
  <div><small class="text-success">New uploads: {{index . "countNewUpload"}}</small></div>
  <div><small>Hidden and unavailable artifacts: {{index . "countHidden"}}</small></div>
</div>
{{- /*  Ping internal URIs */}}
<h1 class="lead mt-5">Web application routes</h1>
<div class="pb-3">
  The web application routes runs a stress test that fetches dozens of local URLs to confirm they work. 
  All the pinged URLs should return <span class="text-success">200</span> HTTP statuses, 
  except those that require signing in, which returns <span class="text-warning">403</span>, <q>the requested resource is forbidden</q>.
</div>
<div class="mb-3">
  <button class="btn btn-outline-primary" hx-get="/editor/configurations/pings" hx-target="#ping-response">
    Ping the routes <span id="ping-htmx-indicator" class="htmx-indicator spinner-border spinner-border-sm text-primary" role="status"></span>
  </button>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 p-2" id="ping-response">
  <!-- ping response will be rendered here -->
</div>
{{- /*  Asset counts  */}}
<h1 class="lead mt-5">Web application assets</h1>
<div class="mb-3">
  The web application assets are served to the end users as file downloads, images, or other media. 
  Assets like image previews are available in multiple formats to optimize transfers, such as the original PNG and the newer WEBP. 
  However, the new formats get skipped in odd cases where the newer format offers no file size improvements.
</div>
<div class="table-responsive">
<table class="table align-middle table-striped-columns">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Total</th>
      <th scope="col">Assets</th>
      <th scope="col">Other finds</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">Downloads</th>
      <td>{{index . "countDownloads"}}</td>
      <td>
        {{- if gt (len $extsDownloads) 0 }}{{- $first := index $extsDownloads 0 }}
        <span clas="col"><code>{{$first.Name}}</code> <small>{{$first.Count}}</small></span>
        {{- end}}
      </td>
      <td>
        {{if ne nil $checkDownloads}}<span class="text-danger-emphasis">{{$checkDownloads}}</span>{{- else}}
        <div class="{{$responseRow}}">
          {{- range $index, $value := $extsDownloads}}
          {{- if ne $index 0}}<span clas="col"><code>{{$value.Name}}</code> <small>{{$value.Count}}</small></span>{{end}}
          {{- end}}
        </div>
        {{- end}}
      </td>
    </tr>
    <tr>
      <th scope="row">Previews</th>
      <td>{{index . "countPreviews"}}</td>
      <td>
        {{- if gt (len $extsPreviews) 0 }}{{- $first := index $extsPreviews 0 }}
        <span clas="col"><code>{{$first.Name}}</code> <small>{{$first.Count}}</small></span>
        {{- end}}
      </td>
      <td>
        {{if ne nil $checkPreviews}}<span class="text-danger-emphasis">{{$checkPreviews}}</span>{{- else}}
        <div class="{{$responseRow}}">
          {{- range $index, $value := $extsPreviews}}
          {{- if ne $index 0}}<span clas="col"><code>{{$value.Name}}</code> <small>{{$value.Count}}</small></span>{{end}}
          {{- end}}
        </div>
        {{- end}}
      </td>
      </tr>
    <tr>
      <th scope="row">Thumbnails</th>
      <td>{{index . "countThumbnails"}}</td>
      <td>
        {{- if gt (len $extsThumbnails) 0 }}{{- $first := index $extsThumbnails 0 }}
        <span clas="col"><code>{{$first.Name}}</code> <small>{{$first.Count}}</small></span>
        {{- end}}
      </td>
      <td>
        {{if ne nil $checkThumbnails}}<span class="text-danger-emphasis">{{$checkThumbnails}}</span>{{- else}}
        <div class="{{$responseRow}}">
          {{- range $index, $value := $extsThumbnails}}
          {{- if ne $index 0}}<span clas="col"><code>{{$value.Name}}</code> <small>{{$value.Count}}</small></span>{{end}}
          {{- end}}
        </div>
        {{- end}}
      </td>
    </tr>
    <tr>
      <th scope="row">Extras</th>
      <td>{{index . "countExtras"}}</td>
      <td></td>
      <td>
        {{if ne nil $checkExtras}}<span class="text-danger-emphasis">{{$checkExtras}}</span>{{- else}}
        <div class="{{$responseRow}}">
          {{- range $index, $value := $extsExtras}}
          <span clas="col"><code>{{$value.Name}}</code> <small>{{$value.Count}}</small></span>
          {{- end}}
        </div>
        {{- end}}
      </td>
    </tr>
    <tr>
      <th scope="row">Orphaned</th>
      <td>{{index . "countOrphaned"}}</td>
      <td></td>
      <td>
        {{if ne nil $checkOrphaned}}<span class="text-danger-emphasis">{{$checkOrphaned}}</span>{{- else}}
        <div class="{{$responseRow}}">
          {{- range $index, $value := $extsOrphaned}}
          <span clas="col"><code>{{$value.Name}}</code> <small>{{$value.Count}}</small></span>
          {{- end}}
        </div>
        {{- end}}
      </td>
    </tr>
  </tbody>
</table>
</div>
{{- /*  Settings  */}}
<h1 class="lead mt-5">Web application settings</h1>
<div class="table-responsive">
<table class="table align-middle table-striped-columns">
  <caption>A complete list of configurations set using operating system environment variables.</caption>
  <thead>
    <tr>
      <th scope="col">Configuration</th>
      <th scope="col">Value</th>
      <th scope="col"><span class="d-none d-lg-block">Description</span></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{- range $config := $configs.List}}
    {{- if ne $config.Title ""}}
    <tr>
      <th scope="row">{{.Title}}<br><var><small>{{.Variable}}</small></var></th>
      <td>{{.Value}}</td>
      <td class="d-none d-lg-block">{{.Description}}</td>
    </tr>
    {{- end}}{{end}}
  </tbody>
</table>
</div>
{{- /*  Links to records  */}}
<h1 class="lead mt-5">Links to special records</h1>
<div>These are highlighted artifacts that have unusual edge cases.<br>Items with a ❎ icon means they need fixing.</div>
<dl class="row row-cols-1 row-cols-md-2 g-2 p-2 bg-body-tertiary mt-2">
  <div class="col">
  <dt>Readme using multi-bytes</dt>
  <dd>
    To display correctly, the UTF-8 file magic must be set<br>
    <a href="/f/b12d05f">b12d05f</a> · <a href="/f/b228a8e">b228a8e</a> · <a href="/f/b53028e">b53028e</a>
  </dd>
  </div><div class="col">
  <dt>Readme with unknown encodings</dt>
  <dd>
    These are textfiles that are probably corrupt<br>
    <a href="/f/ac2319e">ac2319e</a> · <a href="/f/b0269ca">b0269ca</a> <small>vs</small> <a href="/f/ac1d9d3">ac1d9d3</a>
  </dd>  
  </div><div class="col">
  <dt>Readme CP-437</dt>
  <dd>
    These are textfiles encoded in the IBM PC code page 437<br>
    <a href="/f/ab2f2b4">ab2f2b4</a> · <a href="/f/ba2db9e">ba2db9e</a> · <a href="/f/ab43cb">ab43cb</a> · <a href="/f/b42ccd8">b42ccd8</a>
  </dd>  
  </div><div class="col">
  <dt>Readme ISO-8859-1</dt>
  <dd>
    These are textfiles encoded in Latin-1<br>
    <a href="/f/a5191c3">a5191c3</a> · <a href="/f/ab1fc8b">ab1fc8b</a> · <a href="/f/b61f24f">b61f24f</a>
  </dd>
  </div><div class="col">
  <dt>Readme UTF-16</dt>
  <dd>
    These are textfiles would need transformation<br>
    <a href="/f/b22e849">b22e849</a>
  </dd>
  </div><div class="col">
  <dt>Readme Amiga ANSI</dt>
  <dd>
    Current, all control codes are stripped<br>
    <a href="/f/b02ecf1">b02ecf1</a>
  </dd>  
  </div><div class="col">
  <dt>Readme requires wrapping</dt>
  <dd>
    <a href="/f/b14bb1">b14bb1</a> · <a href="/f/b12fe37">b12fe37</a> · <a href="/f/b61f24f">b61f24f</a> · <a href="/f/b122787">b122787</a>
  </dd>
  </div><div class="col">
  <dt>Readme requires trimming</dt>
  <dd>
    <a href="/f/b830654">b830654</a>
  </dd>  
  </div><div class="col">
  <dt>Readme block art</dt>
  <dd>
    <a href="/f/ad217af">ad217af</a> · <a href="/f/ae2a9cc">ae2a9cc</a> · <a href="/f/ad2b193">ad2b193</a> · <a href="/f/ac1a2dc">ac1a2dc</a>
  </dd>
  </div><div class="col">
  <dt>Readme archived</dt>
  <dd>
    Textfiles contained within an archive that need to be extracted<br>
    <a href="/f/a92c1dc">a92c1dc</a> · 
    <a href="/f/a734e9">a734e9</a> · 
    <a href="/f/ac2a79">ac2a79</a> · 
    <a href="/f/af31a9">af31a9</a>
  </dd>
  </div><div class="col">
  <dt>Readme extra long</dt>
  <dd>
    While a quick download, these files can overload the browser DOM<br>
    <a href="/f/ae219e8">ae219e8</a> (129178 lines, 5MB)
  </dd> 
  </div><div class="col">
  <dt>Images <code>.PNG</code></dt>
  <dd>
    Images categorized as text should not preview in the readme app<br>
    <small>These images should be previewed</small><br>
    <a href="/f/af20fcb">af20fcb</a> · <a href="/f/a73208">a73208</a> · <a href="/f/b34c2a">b34c2a</a>
  </dd>
  </div><div class="col">
  <dt>Images <code>.IFF</code></dt>
  <dd>
    Images categorized as text should not preview in the readme app<br>
    <small>These images should be previewed</small><br>
    <a href="/f/b522116">b522116</a> · <a href="/f/b526ffe">b526ffe</a> · <a href="/f/b4307c4">b4307c4</a>
  </dd>
  </div><div class="col">
  <dt>Images <code>.GIF</code></dt>
  <dd>
    <a href="/f/b828636">b828636</a> · <a href="/f/b42e22b">b42e22b</a> · <a href="/f/ae2a407">ae2a407</a>
  </dd>
  </div><div class="col">
  <dt>Images <code>.RIP</code></dt>
  <dd>
    <a href="/f/b02392f">b02392f</a>
  </dd>
  </div><div class="col">
  <dt>Documents <code>.PDF</code></dt>
  <dd>
    <a href="/f/b04139">b04139</a>
  </dd>
  </div><div class="col">
  <dt>Documents <var>HTML</var></dt>
  <dd>
    <a href="/f/a722b1f">a722b1f</a>
  </dd>
  </div><div class="col">
  <dt>Artifacts with <q>link to</q></dt>
  <dd>
    <a href="/f/b029330">b029330</a> · <a href="/f/ab27f81">ab27f81</a> · <a href="/f/ba4805">ba4805</a> · <a href="/f/b029330">b029330</a>
  </dd>
  </div><div class="col">
  <dt>js-dos supported <code>.EXE</code></dt>
  <dd>
    <a href="/f/b23b9c">b23b9c</a> · <a href="/f/ad18cf0">ad18cf0</a> · <a href="/f/b030891">b030891</a> · <a href="/f/b33057"><code>COM</code></a>
  </dd>
  </div><div class="col">
  <dt>js-dos unsupported <code>.ZIP</code></dt>
  <dd>
    The JS emulator only supports zip archives using the <var>DEFLATE</var> method<br>
    <small>To fix, these archives need to be recompressed and stored as extras</small><br>
    <a href="/f/a22af8">a22af8</a> · <a href="/f/b72d52b">b72d52b</a> · <a href="/f/b52e058">b52e058</a> · <a href="/f/b3286a2">b3286a2</a>
  </dd>
  </div><div class="col">
  <dt>js-dos unsupported</dt>
  <dd>
    Other archives unsupported<br>
    <a href="/f/a724be8"><code>lha</code></a> · 
    <a href="/f/a418d56"><code>arc</code></a> · 
    <a href="/f/ad18c43"><code>arj</code></a> · 
    <a href="/f/ae1c87b"><code>arj</code></a> · 
    <a href="/f/b41eefb"><code>arj</code></a>
  </dd>
  </div><div class="col">
  <dt>Download large</dt>
  <dd>
    Cloudflare limits the download size to 1GB<br>
    <a href="/f/aa256f1">aa256f1</a>
  </dd>
  </div>
</dl>
{{- end}}