{{/*  files.html  */}}
{{- define "content" }}
{{- $cardClass := " h-100"}}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    {{range .records -}}
    <div class="col">
        <div class="card{{$cardClass}} placeholder-glow">
            <img src="..." class="card-img-top placeholder" style="min-height:10em;" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{linkGroups .GroupBrandFor .GroupBrandBy }}</h5>
                {{subTitle .RecordTitle}}
                <p class="card-text">A MS-DOS intro published in 1983.</p>
                <p class="card-text"><small class="text-body-secondary">{{lastUpdated .Updatedat}}</small></p>
                {{linkPage .ID}}
                {{linkDL .ID}}{{ sizeOfDL .Filesize}}
            </div>
            {{/*  <ul class="list-group list-group-flush">
                <li class="list-group-item">A VirusTotal alert</li>
              </ul>              */}}
            {{/*  <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>  */}}
            <div class="card-footer text-body-secondary text-center">
                <code>{{.Filename.String}}</code>
            </div>            
        </div>
    </div>
    {{- end}}
</div>
{{- end}}