{{- /* files.tmpl */}}
{{- /* TODO: VirusTotal alert, JS Music player to play in this view, a video player? */}}
{{- define "content" }}
{{- $files := index .stats.files }}
{{- $years := index .stats.years}}
{{- $cnt := len .records}}
{{- $cardClass := " h-100"}} 
{{- $zoo := index .demozoo }}
{{- $sixteen := index .sixteen }}
{{- $scener := index .scener }}
{{- $noYears := false}}
{{- $rowCols := "row-cols-1 row-cols-md-2 row-cols-lg-3"}}
<p class="text-start lead"><small>There {{if eq $cnt 1}}is{{else}}are{{end}} {{$files | safeHTML}}{{if ne $years ""}} from {{$years | safeHTML}}{{end}}.</small></p>
{{- if or (ne $zoo "0") (ne $sixteen "")}}
<p class="text-start text-sm-center text-md-end lead">
  {{- if ne $zoo "0"}}
  <small><a class="link-offset-2" href="https://demozoo.org/groups/{{$zoo}}/"><strong>Demozoo</strong></a> offers production and member lists</small><br>
  {{- end}}
  {{- if ne $sixteen ""}}
  <small><a class="link-offset-2" href="https://16colo.rs/{{$sixteen}}"><strong>16colors</strong></a> collection of ANSI and text artworks</small><br>
  {{- end}}
</p>
{{- end}}
<div class="row justify-content-md-center {{$rowCols}} g-4 mt-1">
  {{- range .records }}
{{- if and (eq $noYears false) (eq .DateIssuedYear.Int16 0)}}
  {{- $noYears = true}}
</div>
<hr class="mt-5 mb-4"><p class="text-center lead"><small>These are files from an unknown year</small></p>
<div class="row justify-content-md-center {{$rowCols}} g-4 mt-1">
{{- end}}
  {{- $attr := attribute .CreditText.String .CreditProgram.String .CreditIllustration.String .CreditAudio.String $scener}}
  <div class="col">
    <div class="card{{$cardClass}}">
      <div class="card-header text-body-secondary text-center">
        <code>{{.Filename.String}}</code>
      </div>
      <div class="card-body">
        <h5 class="card-title text-truncate">{{linkRelrs .GroupBrandFor .GroupBrandBy }}</h5>
        {{subTitle .Section .RecordTitle}}
        <p class="card-text">{{describe .Platform .Section .DateIssuedYear .DateIssuedMonth}}</p>
        <p class="card-text"><small class="text-body-secondary">{{lastUpdated .Updatedat}}</small></p>
        {{- if ne $attr ""}}
        <p class="card-text"><small class="text-body-secondary">{{$attr}}</small></p>
        {{- end}}
        {{linkPage .ID}}
        {{linkDownload .ID}}{{ downloadB .Filesize}}
        {{linkPreview .ID .Filename.String .Platform.String}}
      </div>
      {{thumb .UUID.String .Filename.String true }}
    </div>
  </div>
  {{- end}}
</div>
{{- end}}