{{- /* 
    files.tmpl ~ the file template is for the files, browse categories menu
    see the artifact.tmpl for the file artifact template
*/ -}}
{{- define "content" }}
{{- $files := index .stats.files }}
{{- $years := index .stats.years}}
{{- $cnt := len .records}}
{{- $cardClass := " h-100"}}
{{- $web := index .website }}
{{- $zoo := index .demozoo }}
{{- $sixteen := index .sixteen }}
{{- $scener := index .scener }}
{{- $noYears := false}}
{{- $unYears := index .unknownYears }}
{{- $editor := index .editor}}
{{- $rowCols := "row-cols-1 row-cols-md-2 row-cols-lg-3"}}
<p class="text-start lead"><small>There {{if eq $cnt 1}}is{{else}}are{{end}} {{$files | safeHTML}}{{if ne $years ""}} from {{$years | safeHTML}}{{end}}.</small></p>
{{- if or (ne $zoo "0") (ne $sixteen "") (gt (len $web) 0)}}
<p class="text-start text-sm-center text-md-end lead">
  {{- if ne $zoo "0"}}
  <small><small>Production and member lists</small> <a class="link-offset-2 icon-link icon-link-hover" href="https://demozoo.org/groups/{{$zoo}}/"><strong>Demozoo</strong>{{linkSVG}}</a></small><br>
  {{- end}}
  {{- if ne $sixteen ""}}
  <small><small>ANSI and text artworks</small> <a class="link-offset-2 icon-link icon-link-hover" href="https://16colo.rs/{{$sixteen}}"><strong>16colors</strong>{{linkSVG}}</a></small><br>
  {{- end}}
  {{- if gt (len $web) 0}}
    {{- range $web }}
      {{- if and (ne .URL "") (eq .NotWorking false ) }}
      <small><a class="link-offset-2 icon-link icon-link-hover" href="{{.URL}}"><strong>{{.Name}}</strong>{{websiteIcon .URL}}</a></small><br>
      {{- end}}
      {{- if and (ne .URL "") (eq .NotWorking true ) }}
      <small><strong>{{.Name}}</strong></a> ex-site, <span class="text-decoration-line-through fw-lighter">{{.URL}}</span></small><br>
      {{- end}}
    {{- end}}
  {{- end}}
</p>
{{- end}}
<div class="row justify-content-md-center {{$rowCols}} g-4 mt-1">
  {{- range .records }}
{{- /*  this should not display with search or order by date of records listings */}}
{{- if and (eq $unYears true) (eq $noYears false) (eq .DateIssuedYear.Int16 0)}}
  {{- $noYears = true}}
</div>
<hr class="mt-5 mb-4"><p class="text-center lead"><small>These are files from an unknown year</small></p>
<div class="row justify-content-md-center {{$rowCols}} g-4 mt-1">
{{- end}}
  {{- $attr := attribute .CreditText.String .CreditProgram.String .CreditIllustration.String .CreditAudio.String $scener}}
  <div class="col">
    <div class="card{{$cardClass}}">
      <div class="card-header text-body-secondary text-center">
        <code>{{.Filename.String}}</code>
      </div>
      <div class="card-body">
        <h2 class="card-title text-truncate fs-5">{{linkRelrs .GroupBrandFor .GroupBrandBy }}</h2>
        {{subTitle .Section .RecordTitle}}
        <p class="card-text">{{describe .Platform .Section .DateIssuedYear .DateIssuedMonth}}</p>
        <p class="card-text"><small class="text-body-secondary">{{lastUpdated .Updatedat}}</small></p>
        {{- if ne $attr ""}}
        <p class="card-text"><small class="text-body-secondary">{{$attr}}</small></p>
        {{- end}}
        {{- if eq $editor true}}
        {{/*  TODO use a template to only render for /editor/for-approval  */}}
        <p class="card-text"><small class="text-body-info" id="editorFeedback{{ .WebIDDemozoo.Int64 }}"></small></p>
        {{- demozooGetLink .Filename .Filesize .WebIDDemozoo .UUID }}
        {{- end}}
        {{- linkPage .ID}}
        {{- linkDownload .ID .FileSecurityAlertURL.String }}{{ downloadB .Filesize}}
        {{- linkPreview .ID .Filename.String .Platform.String}}
      </div>
      <a href="{{linkHref .ID}}">{{thumb .UUID.String .Filename.String true }}</a>
    </div>
  </div>
  {{- end}}
</div>
{{- end}}