{{- /* files.html */}}
{{- /* TODO: VirusTotal alert, JS Music player to play in this view, a video player? */}}
{{- define "content" }}
{{- $files := index .stats.files }}
{{- $years := index .stats.years}}
{{- $cnt := len .records}}
{{- $cardClass := " h-100"}} 
<p class="text-start lead"><small>There {{if eq $cnt 1}}is{{else}}are{{end}} {{$files | safeHTML}} from {{$years | safeHTML}}.</small></p>
<div class="row justify-content-md-center row-cols-1 row-cols-md-3 g-4 mt-1">
  {{- range .records }}
  <div class="col">
    <div class="card{{$cardClass}} placeholder-glow">
      {{thumb .UUID.String .Filename.String}}
      <div class="card-body">
        <h5 class="card-title text-truncate">{{linkRelrs .GroupBrandFor .GroupBrandBy }}</h5>
        {{subTitle .RecordTitle}}
        <p class="card-text">{{describe .Platform .Section .DateIssuedYear .DateIssuedMonth}}</p>
        <p class="card-text"><small class="text-body-secondary">{{lastUpdated .Updatedat}}</small></p>
        {{linkPage .ID}}
        {{linkDownload .ID}}{{ sizeOfDL .Filesize}}
      </div>
      <div class="card-footer text-body-secondary text-center">
        <code>{{.Filename.String}}</code>
      </div>
    </div>
  </div>
  {{- end}}
</div>
{{- if gt (index  .pagination.SumPages) 1}}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end mt-4">
    {{if ge (index .pagination.TwoBelow) 2}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/1">1</a></li>{{end}}
    {{if ge (index .pagination.TwoBelow) 1}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/{{index .pagination.TwoBelow}}">{{index .pagination.TwoBelow}}</a></li>{{end}}
    {{if ge (index .pagination.PrevPage) 1}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/{{index .pagination.PrevPage}}">{{index .pagination.PrevPage}}</a></li>{{end}}
    <li class="page-item active" aria-current="page"><a class="page-link">{{index .pagination.CurrPage}}</a></li>
    {{if (le (index .pagination.NextPage) (index .pagination.SumPages))}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/{{index .pagination.NextPage}}">{{index .pagination.NextPage}}</a></li>{{end}}
    {{if (le (index .pagination.TwoAfter) (index .pagination.SumPages))}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/{{index .pagination.TwoAfter}}">{{index .pagination.TwoAfter}}</a></li>{{end}}
    {{if (lt (index .pagination.TwoAfter) (index .pagination.SumPages))}}<li class="page-item"><a class="page-link" href="{{index .pagination.BaseURL}}/{{index .pagination.SumPages}}">{{index .pagination.SumPages}}</a></li>{{end}}
  </ul>
</nav>{{- end}}
{{- end}}