{{- /*  
    file.tmpl ~ the file template is for the Files, Browse Categories menu
    see the about.tmpl for the file artefact template
*/}}
{{- define "content" }}
{{- $titleClass := " h3" }}
{{- $otherClass := " h5" }}
{{- $cardClass := " h-100"}}
{{- $rels := index . "counter" }}
{{- $linkClass := "card-link text-nowrap"}}
{{- /* note row-cols-sm-* is the smallest row-cols value */}}
{{- $rowCols := "row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 p-3 g-md-0 p-md-0"}}
<div class="row row-cols-1 row-cols-lg-2 g-4 mt-1">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Cracktros and intros</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus loaders, installers and demos</h6>
                <p class="card-text">
                    <strong>Cracktros</strong> <small>and <strong>loaders</strong></small> are mini adverts created by cracking groups to announce their
                    releases to the community.
                    Initially, these inserted ads launched whenever the cracked software was in use.
                </p>
                <span class="card-link">Runs on</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/files/intro-windows" class="{{$linkClass}}">Windows</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro-msdos" class="{{$linkClass}}">{{msdos}}</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/intro" class="{{$linkClass}}">any platform</a>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="card-text">
                    As software repackaging by Scene groups became more complicated, there was a need to develop <strong>installation programs</strong> that walk the users through installing their ill-gotten wares.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/installer" class="{{$linkClass}}">installers</a></span>
                <hr>
                <p class="card-text">
                    <strong>Demoscene productions</strong> are artistic apps that generate visuals and audio to show the creators' programming, audio, and graphic abilities. Early demo productions developed within warez scene before they distanced themselves and spun into their own community.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/demoscene" class="{{$linkClass}}">demos</a></span>

                {{- if .stats }}
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>
                            Cracktros and intros: {{ byteFile $rels.Intro.Count $rels.Intro.Bytes }}<br>
                            Windows cracktros and intros: {{ byteFile $rels.IntroW.Count $rels.IntroW.Bytes }}<br>
                            {{msdos}} cracktros and intros: {{ byteFile $rels.IntroD.Count $rels.IntroD.Bytes }}<br>
                            Installers: {{ byteFile $rels.Installer.Count $rels.Installer.Bytes }}<br>
                            Demoscene productions: {{ byteFile $rels.Demoscene.Count $rels.Demoscene.Bytes }}<br>
                        </small>
                    </li>
                    <li class="list-group-item">
                        <small>releases date range: {{$rels.Intro.MinYear}}-{{$rels.Intro.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Nfo files<small> for scene releases</small></h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus proofs of releases</h6>
                <p class="card-text">
                    <strong>I<u>nfo</u>mation text files</strong>, <small>or README and file_id.diz texts</small> are generally in every scene release.
                    Often, they are stylised with text art and arranged in a standard format.
                    In the early days, these texts included detailed group information, but now they focus more on the
                    describing the software.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/nfo" class="{{$linkClass}}">nfo files</a></span>
                <hr>
                <p class="card-text">
                    <strong>Release proofs</strong> are usually photographs to verify that physical media sold in retail stores is the source of the warez release.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/proof" class="{{$linkClass}}">proofs</a></span>
                {{- if .stats }}
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>
                            nfo texts: {{ byteFile $rels.Nfo.Count $rels.Nfo.Bytes }}<br>
                            proofs: {{ byteFile $rels.Proof.Count $rels.Proof.Bytes }}<br>
                            editors: {{ byteFile $rels.NfoTool.Count $rels.NfoTool.Bytes }}<br>
                        </small>
                    </li>
                    <li class="list-group-item">
                        <small>nfo date range: {{$rels.Nfo.MinYear}}-{{$rels.Nfo.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Ansi art</h1>
                <p class="card-text">
                    <strong>Stylized ANSI text</strong> art was commonly created for the theming and advertising of Bulletin Board Systems.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/ansi" class="{{$linkClass}}">ansi files</a></span>
                <hr>
                <span class="{{$linkClass}}">Or only the</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                      <div class="col-sm">
                        <a href="/files/ansi-brand" class="{{$linkClass}}">brands</a>
                      </div>
                      <div class="col-sm">
                        <a href="/files/ansi-bbs" class="{{$linkClass}}">BBS ads</a>
                      </div>
                      <div class="col-sm">
                        <a href="/files/ansi-ftp" class="{{$linkClass}}">FTP ads</a>
                      </div>
                      <div class="col-sm">
                        <a href="/files/ansi-nfo" class="{{$linkClass}}">nfos</a>
                      </div>
                    </div>
                </div>
                <hr>
                {{- if .stats }}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>
                            ansi art and texts: {{ byteFile $rels.Ansi.Count $rels.Ansi.Bytes }}<br>
                        </small>
                    </li>
                    <li class="list-group-item">
                        <small>ansi art date range: {{$rels.Ansi.MinYear}}-{{$rels.Ansi.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Adverts for the Online</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">BBS and FTP sites</h6>
                <p class="card-text">
                    <strong>Bulletin Board Systems</strong> were like proto-websites that offered message forums, real-time chat, and file sharing but used a text user interface and ran on the landline telephone network. 
                    Users had to use their PCs or microcomputers with a modem peripheral to dial and connect to the individual boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/bbs" class="{{$linkClass}}">adverts</a></span>
                <hr>
                <span class="{{$linkClass}}">Or only the</span>
                <div class="container text-left">
                    <div class="{{$rowCols}}">
                      <div class="col-sm">
                <a href="/files/bbstro" class="{{$linkClass}}">BBStros</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/ansi-bbs" class="{{$linkClass}}">ansi</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-image" class="{{$linkClass}}">images</a>
                        </div>
                        <div class="col-sm">
                <a href="/files/bbs-text" class="{{$linkClass}}">texts</a>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="card-text">
                    <strong>FTP sites</strong> eventually supplanted BBS boards as The Scene moved onto the Internet in the early to mid-1990s. The utilitarian sites were more efficient at organizing and transferring files but lacked the social features of the earlier boards.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/ftp" class="{{$linkClass}}">adverts</a></span> 
                {{- if .stats }}
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>
                            BBS adverts: {{ byteFile $rels.BBS.Count $rels.BBS.Bytes }}<br>
                            BBStros: {{ byteFile $rels.BBStro.Count $rels.BBStro.Bytes }}<br>
                            ansi art: {{ byteFile $rels.AnsiBBS.Count $rels.AnsiBBS.Bytes }}<br>
                            text files: {{ byteFile $rels.BBSText.Count $rels.BBSText.Bytes }}<br>
                        </small>
                    </li>
                    <li class="list-group-item">
                        <small>bbs ads date range: {{$rels.BBS.MinYear}}-{{$rels.BBS.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Magazines</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also called e-mags</h6>
                <p class="card-text">
                    Before the web and social media existed, groups and individuals used to exchange ideas and write articles on their communities in digitally distributed magazines and newsletters.
                </p>
                <span class="{{$linkClass}}">Browse the</span>
                <div class="d-none d-sm-inline">
                    <a href="/files/magazine" class="{{$linkClass}}">issues</a>
                </div>
                <div class="container text-left d-inline d-sm-none">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/files/magazine" class="{{$linkClass}}">issues</a>
                        </div>
                    </div>
                </div>
                <hr>
                <span class="{{$linkClass}}">Or the</span>
                <div class="container text-left d-inline d-sm-none">
                    <div class="{{$rowCols}}">
                        <div class="col-sm">
                <a href="/magazine" class="{{$linkClass}}">magazine titles</a>
                        </div>
                    </div>
                </div>                
                <div class="d-none d-sm-inline">
                    <a href="/magazine" class="{{$linkClass}}">magazine titles</a>
                </div>
                {{- if .stats }}
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>magazine date range: {{$rels.Magazine.MinYear}}-{{$rels.Magazine.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">File packs</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also includes art packs</h6>
                <p class="card-text">
                    Curated file packs are collections of files with a common theme.
                </p>
                <p class="{{$linkClass}}">Browse the packs of</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                      <div class="col">
                <a href="/files/ansi-pack" class="{{$linkClass}}">ansi art</a>
                        </div>
                        <div class="col">
                <a href="/files/msdos-pack" class="{{$linkClass}}">{{msdos}} software</a>
                        </div>
                        <div class="col">
                <a href="/files/text-pack" class="{{$linkClass}}">text and nfos</a>
                        </div>
                        <div class="col">
                <a href="/files/windows-pack" class="{{$linkClass}}">Windows software</a>
                        </div>
                        <div class="col">
                <a href="/files/image-pack" class="{{$linkClass}}">images</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Databases</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PreDB</h6>
                <p class="card-text">
                    Scene databases are often private datasets of cracked software titles, release dates and
                    associated groups.
                    Due to their scope and size, these sets are often incomplete and sometimes inaccurate.
                </p>
                <span class="{{$linkClass}}">Browse the <a href="/files/database" class="{{$linkClass}}">databases</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Text files</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PDF and markup documents</h6>
                <p class="card-text">
                    The vast majority of scene releases involve <strong>text</strong> and <strong>documents</strong>.
                    Plain text files have the advantage of being platform-agnostic and small in file size.
                </p>
                <p class="{{$linkClass}}">Browse</p>
                <div class="container text-left">
                    <div class="row row-cols-1 row-cols-sm-2 g-3 p-3 g-md-0 p-md-0">
                        <div class="col">
                <a href="/files/text" class="{{$linkClass}}">the text files</a>
                        </div>
                        <div class="col">
                <a href="/files/text-apple2" class="{{$linkClass}}">texts for Apple ][ microcomputers</a>
                        </div>
                        <div class="col">
                <a href="/files/text-amiga" class="{{$linkClass}}">texts for Commodore Amiga microcomputers</a>
                        </div>
                        <div class="col">
                <a href="/files/pdf" class="{{$linkClass}}">the documents in PDF</a>
                        </div>
                        <div class="col">
                <a href="/files/text-atari-st" class="{{$linkClass}}">texts for Atari ST microcomputers</a>
                        </div>
                        <div class="col">
                <a href="/files/html" class="{{$linkClass}}">the documents in HTML</a>
                        </div>
                    </div>
                </div>
                {{- if .stats }}
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small>texts date range: {{$rels.Text.MinYear}}-{{$rels.Text.MaxYear}}</small>
                    </li>
                </ul>
                {{- end}}
            </div>
        </div>
    </div>
</div>
{{- block "morecategories" . -}}{{ "<!-- More categories -->" | safeHTML -}}{{end}}
{{- end}}