{{/*  file.html  */}}
{{- define "content" }}
{{- $titleClass := " h3" }}
{{- $otherClass := " h5" }}
{{- $cardClass := " h-100"}}
{{- $rels := index . "counter" }}
{{/*  TODO: remove these alias vars  */}}
{{- $intB := $rels.Intro.Bytes}}
{{- $intC := $rels.Intro.Count}}
{{- $intDB := $rels.IntroD.Bytes}}
{{- $intDC := $rels.IntroD.Count}}
{{- $intWB := $rels.IntroW.Bytes}}
{{- $intWC := $rels.IntroW.Count}}
{{- $instB := $rels.Installer.Bytes}}
{{- $instC := $rels.Installer.Count}}
{{- $demoB := $rels.Demo.Bytes}}
{{- $demoC := $rels.Demo.Count}}
{{- $nfoB := $rels.Nfo.Bytes}}
{{- $nfoC := $rels.Nfo.Count}}
{{- $nfoTB := $rels.NfoTool.Bytes}}
{{- $nfoTC := $rels.NfoTool.Count}}
{{- $proofB := $rels.Proof.Bytes}}
{{- $proofC := $rels.Proof.Count}}
{{- $ansiB := $rels.Ansi.Bytes}}
{{- $ansiC := $rels.Ansi.Count}}
{{- $bbsB := $rels.BBS.Bytes}}
{{- $bbsC := $rels.BBS.Count}}
{{- $bbsTB := $rels.BBStro.Bytes}}
{{- $bbsTC := $rels.BBStro.Count}}
{{- $ansiBB := $rels.AnsiBBS.Bytes}}
{{- $ansiBC := $rels.AnsiBBS.Count}}
{{- $bbsTxB := $rels.BBSText.Bytes}}
{{- $bbsTxC := $rels.BBSText.Count}}
<div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Cracktros and intros</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus loaders, installers and demos</h6>
                <p class="card-text">
                    Cracktros <small>and loaders</small> are mini adverts created by cracking groups to announce their
                    releases to the community.
                    Initially, these programs were inserted and launched whenever the cracked software was in use.
                </p>
                <span class="card-link">Runs on</span>
                <a href="/files/intro-windows" class="card-link">Windows</a>
                <a href="/files/intro-msdos" class="card-link">MS-DOS</a>
                <a href="/files/intro" class="card-link">any platform</a><br>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Installers are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="/files/installer" class="card-link">Installers</a>
                </li>
                <li class="list-group-item">
                    Demoscene productions...<br>
                    <span class="card-link">Browse the</span> <a href="/files/demoscene" class="card-link">demos</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        Cracktros and intros: {{ cntByteFmt $intC $intB }}<br>
                        Windows cracktros and intros: {{ cntByteFmt $intWC $intWB }}<br>
                        MS-DOS cracktros and intros: {{ cntByteFmt $intDC $intDB }}<br>
                        Installers: {{ cntByteFmt $instC $instB }}<br>
                        Demoscene productions: {{ cntByteFmt $demoC $demoB }}<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>releases date range: {{$rels.Intro.Year0}}-{{$rels.Intro.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">NFO files<small> for scene releases</small></h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus proofs of releases</h6>
                <p class="card-text">
                    NFO text files, <small>or README and file_id.diz texts</small> are generally in every scene release.
                    Often, they are stylised with ASCII text art and arranged in a standard format.
                    In the early days, these texts included detailed group information, but now they focus more on the
                    describing the software.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/nfo" class="card-link">NFO files</a><br>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Release proofs are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="/files/proof" class="card-link">proofs</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        NFO texts: {{ cntByteFmt $nfoC $nfoB }}<br>
                        Proofs: {{ cntByteFmt $proofC $proofB }}<br>
                        Editors: {{ cntByteFmt $nfoTC $nfoTB }}<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>nfo date range: {{$rels.Nfo.Year0}}-{{$rels.Nfo.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">ANSI art</h1>
                <p class="card-text">
                    Coloured ANSI text art was commonly used on BBSes for advertising and theming of their sites.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/ansi" class="card-link">ANSI files</a><br>
                <span class="card-link">Or only the</span>
                <a href="/files/ansi-brand" class="card-link">brands</a>
                <a href="/files/ansi-bbs" class="card-link">BBS ads</a>
                <a href="/files/ansi-ftp" class="card-link">FTP ads</a>
                <a href="/files/ansi-nfo" class="card-link">NFOs</a>
            </div>
            {{- if .stats }}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small>
                        ANSI art and texts: {{ cntByteFmt $ansiC $ansiB }}<br>
                    </small>
                </li>
            </ul>
            <div class="card-footer">
                <small>ansi art date range: {{$rels.Ansi.Year0}}-{{$rels.Ansi.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">BBS adverts</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus FTP site adverts</h6>
                <p class="card-text">
                    Bulletin Board Systems were a proto-Interweb for online communication and the exchange of files
                    during the 1980s until the mid-1990s.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/bbs" class="card-link">adverts</a><br>
                <span class="card-link">Or only the</span>
                <a href="/files/bbstro" class="card-link">BBStros</a>
                <a href="/files/ansi-bbs" class="card-link">ANSI</a>
                <a href="/files/bbs-image" class="card-link">images</a>
                <a href="/files/bbs-text" class="card-link">texts</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    FTP adverts are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="/files/ftp" class="card-link">adverts</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        BBS adverts: {{ cntByteFmt $bbsC $bbsB }}<br>
                        BBStros: {{ cntByteFmt $bbsTC $bbsTB }}<br>
                        ANSI art: {{ cntByteFmt $ansiBC $ansiBB }}<br>
                        text files: {{ cntByteFmt $bbsTxC $bbsTxB }}<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>bbs ads date range: {{$rels.BBS.Year0}}-{{$rels.BBS.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Magazines</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also called e-mags</h6>
                <p class="card-text">
                    Before the web and social media existed, groups used to exchange ideas and write articles on their
                    communities in the form of digital magazines and newsletters.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/magazine" class="card-link">issues</a><br>
                <span class="card-link">Or the</span>
                <a href="/magazine" class="card-link">magazine titles</a>
            </div>
            {{- if .stats }}
            <div class="card-footer">
                <small>magazine date range: {{$rels.Mag.Year0}}-{{$rels.Mag.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">File packs</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also includes art packs</h6>
                <p class="card-text">
                    File packs are packages of files that share a common theme that people have collected and curated
                    for easy distribution.
                </p>
                <span class="card-link">Browse the packs of</span>
                <a href="/files/ansi-pack" class="card-link">ANSI art</a>
                <a href="/files/text-pack" class="card-link">Text art</a>
                <a href="/files/nfo-pack" class="card-link">NFO texts</a>
                <a href="/files/image-pack" class="card-link">Images</a>
                <a href="/files/windows-pack" class="card-link">Windows software</a>
                <a href="/files/msdos-pack" class="card-link">MS-DOS software</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Databases</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PreDB</h6>
                <p class="card-text">
                    Scene databases are often once private datasets of cracked software titles, release dates and
                    associated groups.
                    Due to their size, these sets are often incomplete and sometimes inaccurate.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/database" class="card-link">databases</a>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Text files</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PDF and markup documents</h6>
                <p class="card-text">
                    The vast majority of scene releases involve text and documents.
                </p>
                <span class="card-link">Browse the</span>
                <a href="/files/text" class="card-link">text files</a>
                <a href="/files/text-amiga" class="card-link">Commodore Amiga texts</a>
                <a href="/files/text-apple2" class="card-link">Apple ][ texts</a>
                <a href="/files/text-atari-st" class="card-link">Atari ST texts</a>
                <a href="/files/pdf" class="card-link">documents in PDF</a>
                <a href="/files/html" class="card-link">documents in HTML</a>
            </div>
            {{- if .stats }}
            <div class="card-footer">
                <small>texts date range: {{$rels.Text.Year0}}-{{$rels.Text.YearX}}</small>
            </div>
            {{- end}}
        </div>
    </div>
</div>
{{- block "morecategories" . -}}{{ "<!-- More categories -->" | safeHTML -}}{{end}}
{{- end}}