{{/*  history.tmpl  */}}
{{- define "content" }}
{{- $carouselClass := "carousel-caption d-none d-md-block bg-dark rounded" -}}
{{- $carouselImg := "d-block w-100 rounded" }}
{{- $carouselID := "carouselDf2Artpacks" }}
<p class="display-6"><small>Defacto<br><span class="fs-4 fw-light">1996, an e-mag application</span></small></p>
<p>
  The releaser or group <em>Defacto</em> started as a <a href="/magazine">digitally distributed magazine</a> in the last days of February or early March of 1996. 
  As a free title, it wrote about the happenings and gossip on The Scene warez subculture and was shared using <a href="/ftp">FTP sites</a> and <a href="/bbs">online bulletin boards</a>. 
  In that era, publishing on the web was expensive and complicated, so it was easier to compile the magazine as an app for Ms-Dos and distribute it as a Scene release.
</p>
<p>
    As a side project for the PC piracy group  <a href="/g/sodom">Sodom</a>, 
    the intention was to create an electronic magazine or e-mag to fill the gap left by an earlier retired publication, <a href="/f/a355e">Reality Check Network</a>. 
    While the new magazine gained a smaller following than other <a href="/magazine">titles of that era</a>, it was considered a decent alternative. 
    After eight issues, Defacto vanished but returned six months later in a new format titled <em>Defacto 2</em>.
</p>
<p class="lead">
    <a href="/g/defacto">The issues of Defacto</a>
    <br><small>* There was never a Defacto issue 1, and these magazine issues must run on MS-Dos or DOSBox.</small>
</p>
<hr>
<p class="display-6"><small>Defacto 2<br><span class="fs-4 fw-light">1997, a text e-mag</span></small></p>
<p>
  The first <em>Defacto 2</em> iteration is a monthly magazine published in an OEM-US text format.
  While plain text wasn't always desirable, other successful magazines, <a href="/g/the-week-in-warez">The Week In Warez</a>, <a href="/g/inquisition">Inquisition</a>, <a href="/g/the-naked-truth-magazine">The Naked Truth</a>, and <a href="/g/the-game-review">The Game Review,</a> used the format. 
  Plus, text meant platform inclusivity with a broader audience, allowing readers of any micro, personal computer, or workstation, and most importantly, reliability over the web!
  </p>
  <p>
    The publication was released over three issues but improved over the earlier Defacto electronic magazine due to the extensive articles and collections of interviews with scene personalities.
  </p>
<p class="lead">
    <a href="/g/defacto2?section=magazine">The magazine releases of Defacto 2</a>
    <br><small>* The magazine text encoding is OEM-US or code page 437; while readable in UTF-8, the text-art logos won't display.</small>
</p>
<hr>
<p class="display-6"><small>Defacto2 Design<br><span class="fs-4 fw-light">1997-99, an art group</span></small></p>
<p>
    Due to time constraints, the Defacto 2 magazine stopped, but the brand continued. 
    It morphed into a moderately successful <a href="https://demozoo.org/groups/10000/">art group</a> and website. 
    Defacto2 Design operated as a collective of digital artists who did gratis commissions for groups and unrelated non-scene art. 
    These commissions and works included web pages, logos, and text file NFO layouts. 
</p>
<p>
    Initially led by <a href="https://demozoo.org/sceners/46994/">Ipggi</a> and later by <a href="https://demozoo.org/sceners/14474/">Seffren</a>, the group was unique because it didn't demand membership exclusivity. 
    Many of our members were co-members of popular groups such as <a href="https://demozoo.org/groups/15984/">X-Pression</a> and <a href="https://demozoo.org/groups/7050/">Superior Art Creations</a>. 
</p>
<p>
    While you can find some of our work below under Defacto2 Art Packs, many members were involved in side projects that would be familiar to The Scene of the late 1990s and early 2000s. 
    For example, <a href="https://demozoo.org/sceners/47321/">Antibody</a>'s ASCII logo for <a href="/g/class">Class</a> can be seen all their NFOs from 1998 until retirement. 
    If you ever see the tag <strong><code>[df2]</code></strong> contained within an old NFO or release package, the chances are that one of our members probably did it. 
</p>
<p>
    Unfortunately, after three years of sporadic releases, the art group was put to rest on the 31st of December 1999 with one final release, <q>Art Pack Issue Five</q>. 
    Seffren, the leader, had decided it was time to move on. 
</p>
<figure class="p-2">
<pre class="font-dos">
  .                 │░█████                                                    .
    │▓██▀█▀▀ ▀      │▒█████      ▀ ▀▀▓█████ │▓█████▀▀ ▀     │▓█████▀▀ ▀
  . │▓█████ │▓█████ │▓█████ │▓██▀█▀▀▀▓█████   ▀▀▀▀▀▀▀▓█████   ▀▀▀▀▀▀▀▓█████    .
  : │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████    :
  | │▓█████▄▄▓█████▄│▓█████▄│▓█████▄▄▓█████▄│▓██▄█▄▄▄▓█████▄│▓██▄█▄▄▄▓█████▄ ▄ |
  └─────────────·───────────────·───────────────────────·───────────────·──────┘
                                [ P r e s e n t s ]                   AB!DF2^SAC
</pre>
<figcaption class="blockquote-footer">
   Antibody's <cite title="Source Title">Class Presents</cite>
  </figcaption>
</figure>
<ul class="list-inline lead">
    <li class="list-inline-item text-nowrap"><a href="https://demozoo.org/groups/10000/">Defacto2 on Demozoo</a></li>
    <li class="list-inline-item text-nowrap"><a href="https://files.scene.org/browse/demos/groups/defacto2/">Defacto2 on Scene.org</a></li>
    <li class="list-inline-item text-nowrap"><small>1998 </small><a href="/wayback/defacto2-from-1998-september-8/index.html">Defacto<sub>2</sub> website</a></li>
    <li class="list-inline-item text-nowrap"><small>1999 </small><a href="/wayback/defacto2-from-1999-september-26/index.html">Defacto 2 website</a></li>
    <li class="list-inline-item text-nowrap"><small>2000 </small><a href="/wayback/defacto2-from-2000-july-11/index.html">Defacto 2 website</a></li>
</ul>
<p class="display-6 mx-auto p-2" style="width: 15rem;"><small><em>The art packs</em></small></p>
<div id="{{$carouselID}}" class="carousel slide mx-auto p-2" style="max-width: 50rem;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner ratio ratio-4x3">
      <div class="carousel-item active">
        <img src="image/artpack/bhlz-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
            <p><small>Artist, <a href="https://demozoo.org/sceners/27655/">Black Hazel</a></small></p>
            <h5>Art Pack One - <q>Beginning</q></h5>
            <p>Published on the 10th of January 1998</p>
            <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack01.zip">Download df2pack01.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/npld-01.gif" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/69444/">Napalm Death</a></small></p>
          <h5>Art Pack One - <q>Beginning</q></h5>
          <p>Published on the 10th of January 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack01.zip">Download df2pack01.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/minds-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">MindsEye</a></small></p>
          <h5>Art Pack Two - <q>01001</q></h5>
          <p>Published on the 1st of May 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack02.zip">Download df2pack02.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/sk8-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/47319/">Skateguy</a></small></p>
          <h5>Art Pack Two - <q>01001</q></h5>
          <p>Published on the 1st of May 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack02.zip">Download df2pack02.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/parody-toor_extremis_3.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/69446/">Parody</a></small></p>
          <h5>Art Pack Three - <q>Heaven</q></h5>
          <p>Published on the 2nd of July 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack3.zip">Download df2pack3.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/raven-planet_x.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/49459/">Raven</a></small></p>
          <h5>Art Pack Three - <q>Heaven</q></h5>
          <p>Published on the 2nd of July 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack3.zip">Download df2pack3.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/hell-df2_promotional_pic.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">Hell</a></small></p>
          <h5>Art Pack Four - <q>Bird</q></h5>
          <p>Published on the 14th of October 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack04.zip">Download df2pack04.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/mindseye-well_of_souls.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">MindsEye</a></small></p>
          <h5>Art Pack Four - <q>Bird</q></h5>
          <p>Published on the 14th of October 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack04.zip">Download df2pack04.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/dawn-rosma_kenkä.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, Dawn</small></p>
          <h5>Art Pack Five - <q>Millennium</q></h5>
          <p>Published on the 31st of December 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2000.zip">Download df2000.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/raven-boom.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/49459/">Raven</a></small></p>
          <h5>Art Pack Five - <q>Millennium</q></h5>
          <p>Published on the 31st of December 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2000.zip">Download df2000.zip</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{$carouselID}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{$carouselID}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr>
  <p class="display-6"><small>Defacto2<br><span class="fs-4 fw-light">1997-2000s, The Scene Archives</span></small></p>
  <p>
    The genesis for this current website started as <a href="/wayback/defacto2-from-1998-september-8/archive.html">The Scene Archives</a>* in around mid-1997, as a subgroup of Defacto 2 (<var class="font-monospace">defacto2.org</var>). 
    Months later, in October, a gossip and news section known as <a href="/wayback/defacto2-from-1998-september-8/news.html">The Scene News</a>* joined the site. And in April of 1998 the domain name <var class="font-monospace">defacto2.net</var> was registered. 
    The domain change reflected the move of the Defacto 2 brand from a scene group or <u>org</u>anization to an online-focused <u>net</u>work of websites.
  </p>
  <p>
    Inspiration for The Scene News came from <a href="/wayback/scenelink-from-1998-june-25/index.html">SceneLink</a>*, a well-designed web publication by <a href="/f/a42815">some students from Yale University</a> that covered The Scene in a broader sense, not just online piracy but also art and the online underground.
  </p>
  <p>
    The Scene Archives got heavily influenced by sites like <a href="http://zakalwe.fi/~shd/texts/imr/zimr.htm">In Medias Res</a>*, a fantastic resource that, for a few years in the late 1990s, went around collecting interviews with active and retired members of The Scene on the Commodore 64 and Amiga microcomputers.
  </p>
  <p>
    Another inspiration was the <a href="https://archaic-ruins.lngn.net/features/damaged/">Damaged Cybernetics</a>* group page that covered gray area information on various topics that were not explicitly warez. 
    It showed there was a ready interest in other underground areas and even for redundant hardware and software, thanks to the new field of emulation.
  </p>
  <p>
    The emphasis on PC scene history first existed with a Canadian named Toast of <a href="/g/razor-1911">Razor 1911</a>. 
    For years, he collected and organized thousands of text information files from deceased groups of The Scene on the PC. 
    While the <a href="/f/a11dc">Toast Scene History Archive</a> is for offline browsing, his 1995 website (<var class="font-monospace text-nowrap">www.uoguelph.ca/~shost/toast.html</var>) offering the archive as a download, was the first to document the history of the PC scene.
  </p>
  <p>
    While Toast's collecting focused on NFO texts and BBS user logs, The Scene Archive wanted to cover a broader collection of items and digital artifacts. 
    Core parts of the original site included dedicated pages for some leading groups and bulletin boards. 
    The Cracktros galore page has a collection of hundred-plus cracktros, plus an e-mags page for the various PC Scene electronic magazines. 
    The scene bitchin', aka flaming files section, and a modest collection of NFOs for online viewing.
  </p>
  <p>
    At some stage in the early 2000s, the other parts of the <var class="font-monospace">defacto2.net</var> website were retired or archived, leaving only The Scene Archives as the active topic. 
    So, a decision was made to rebrand The Scene Archives collection as <strong>Defacto2</strong> to match the established domain name.
  </p>
  <p>* <small>the link points to an incomplete recreation of the original website</small></p>
<div class="text-center">
  <figure class="figure">
    <img src="image/artpack/defacto2-1998.png" loading="lazy" style="max-width:800px" class="img-fluid rounded mx-auto d-block" alt="...">
    <figcaption class="figure-caption">Windows 2000 Internet Explorer viewing the late 1998 website revision.</figcaption>
  </figure>
</div>
    {{- end}}