{{/*  history.tmpl  */}}
{{- define "content" }}
{{- $carouselClass := "carousel-caption d-none d-md-block bg-dark rounded" -}}
{{- $carouselImg := "d-block w-100 rounded" }}
{{- $carouselID := "carouselDf2Artpacks" }}
<p class="display-6"><small>Defacto<br><span class="fs-4 fw-light">1996, an e-mag application</span></small></p>
<p>
    First known as <em>Defacto</em>, we were founded by a group of individuals as a side project for the defunct PC piracy group <a href="/g/sodom">Sodom</a>.
    The intention was to create an electronic magazine (e-mag) that reported on the daily happenings of The Scene on the PC.
    And to fill the gap left by an earlier publication <a href="/f/a355e">Reality Check Network</a> that had called it quits.
    While the new magazine never gained the same following of other titles of that era, it was considered a decent alternative.
    After eight public issues, Defacto vanished but returned six-months later in a new format and with a new name Defacto 2. 
</p>
<p class="lead">
    <a href="/g/defacto">The issues of Defacto</a>
    <br><small>* These magazine issues need to run on MS-Dos or DOSBox</small>
</p>
<hr>
<p class="display-6"><small>Defacto 2<br><span class="fs-4 fw-light">1997, a text e-mag</span></small></p>
<p>
    The first <em>Defacto 2</em> iteration was a monthly magazine published in an ASCII text format.
    The publication only released three issues, but these were considered an improvement over the earlier Defacto magazine due to their extensive articles and collections of interviews with scene personalities. 
    The target platform was also changed from MS-Dos to plaintext making it much easier to read today in .
  </p>
<p class="lead">
    <a href="/g/defacto2?section=magazine">The magazine releases of Defacto 2</a>
    <br><small>* The  text issues were encoded in code page 437 aka OEM-US, while readable in UTF-8, the text-art logos won't display</small>
</p>
<hr>
<p class="display-6"><small>Defacto2 Design<br><span class="fs-4 fw-light">1997-99, an art group</span></small></p>
<p>
    Due to time constraints, the Defacto 2 magazine stopped, but the brand continued. 
    It morphed into a moderately successful <a href="https://demozoo.org/groups/10000/">art group</a>. 
    Defacto2 Design operated as a collective of digital artists who did gratis commissions for groups as well as unrelated non-scene art. 
    These commissions and works included web pages, logos and text file NFO layouts. 
</p>
<p>
    Initially, lead by <a href="https://demozoo.org/sceners/46994/">Ipggi</a> and later by <a href="https://demozoo.org/sceners/14474/">Seffren</a> the group was unique in that it didn't demand membership exclusivity. 
    Many of our members were also co-members with other popular groups of the time such as <a href="https://demozoo.org/groups/15984/">X-Pression</a> and <a href="https://demozoo.org/groups/7050/">Superior Art Creations</a>. 
</p>
<p>
    While you can find some of our work below under Defacto2 Art Packs, many of our members were involved in side projects that would be familiar to participants of The Scene during the late 1990s and early 2000s. 
    <a href="https://demozoo.org/sceners/47321/">Antibody</a>'s ASCII logo for <a href="/g/class">Class</a>, for example, can be seen all their NFOs from 1998 until their retirement. 
    So if you ever see the tag <strong><code>[df2]</code></strong> contained within an old NFO or release package, the chances are that one of our members probably did it. 
</p>
<p>
    Unfortunately, after three years of sporadic releases, the art group was put to rest on the 31st December 1999 with one final release, Art Pack Issue Five. 
    Seffren, the leader, had decided it was time to move on. 
</p>
<figure class="p-2">
<pre class="font-dos">
  .                 │░█████                                                    .
    │▓██▀█▀▀ ▀      │▒█████      ▀ ▀▀▓█████ │▓█████▀▀ ▀     │▓█████▀▀ ▀
  . │▓█████ │▓█████ │▓█████ │▓██▀█▀▀▀▓█████   ▀▀▀▀▀▀▀▓█████   ▀▀▀▀▀▀▀▓█████    .
  : │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████ │▓█████    :
  | │▓█████▄▄▓█████▄│▓█████▄│▓█████▄▄▓█████▄│▓██▄█▄▄▄▓█████▄│▓██▄█▄▄▄▓█████▄ ▄ |
  └─────────────·───────────────·───────────────────────·───────────────·──────┘
                                [ P r e s e n t s ]                   AB!DF2^SAC
</pre>
<figcaption class="blockquote-footer">
   Antibody's <cite title="Source Title">Class Presents</cite>
  </figcaption>
</figure>
<ul class="list-inline lead">
    <li class="list-inline-item text-nowrap"><a href="https://demozoo.org/groups/10000/">Defacto2 on Demozoo</a></li>
    <li class="list-inline-item text-nowrap"><a href="https://files.scene.org/browse/demos/groups/defacto2/">Defacto2 on Scene.org</a></li>
    <li class="list-inline-item text-nowrap"><small>1998 </small><a href="/wayback/defacto2-from-1998-september-8/index.html">Defacto<sub>2</sub> website</a></li>
    <li class="list-inline-item text-nowrap"><small>1999 </small><a href="/wayback/defacto2-from-1999-september-26/index.html">Defacto 2 website</a></li>
    <li class="list-inline-item text-nowrap"><small>2000 </small><a href="/wayback/defacto2-from-2000-july-11/index.html">Defacto 2 website</a></li>
</ul>
<p class="display-6 mx-auto p-2" style="width: 15rem;"><small><em>The art packs</em></small></p>
<div id="{{$carouselID}}" class="carousel slide mx-auto p-2" style="max-width: 50rem;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#{{$carouselID}}" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner ratio ratio-4x3">
      <div class="carousel-item active">
        <img src="image/artpack/bhlz-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
            <p><small>Artist, <a href="https://demozoo.org/sceners/27655/">Black Hazel</a></small></p>
            <h5>Art Pack One - <q>Beginning</q></h5>
            <p>Published on the 10th of January 1998</p>
            <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack01.zip">Download df2pack01.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/npld-01.gif" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/69444/">Napalm Death</a></small></p>
          <h5>Art Pack One - <q>Beginning</q></h5>
          <p>Published on the 10th of January 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack01.zip">Download df2pack01.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/minds-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">MindsEye</a></small></p>
          <h5>Art Pack Two - <q>01001</q></h5>
          <p>Published on the 1st of May 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack02.zip">Download df2pack02.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/sk8-01.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/47319/">Skateguy</a></small></p>
          <h5>Art Pack Two - <q>01001</q></h5>
          <p>Published on the 1st of May 1998</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack02.zip">Download df2pack02.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/parody-toor_extremis_3.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/69446/">Parody</a></small></p>
          <h5>Art Pack Three - <q>Heaven</q></h5>
          <p>Published on the 2nd of July 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack3.zip">Download df2pack3.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/raven-planet_x.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/49459/">Raven</a></small></p>
          <h5>Art Pack Three - <q>Heaven</q></h5>
          <p>Published on the 2nd of July 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack3.zip">Download df2pack3.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/hell-df2_promotional_pic.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">Hell</a></small></p>
          <h5>Art Pack Four - <q>Bird</q></h5>
          <p>Published on the 14th of October 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack04.zip">Download df2pack04.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/mindseye-well_of_souls.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/15453/">MindsEye</a></small></p>
          <h5>Art Pack Four - <q>Bird</q></h5>
          <p>Published on the 14th of October 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2pack04.zip">Download df2pack04.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/dawn-rosma_kenkä.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, Dawn</small></p>
          <h5>Art Pack Five - <q>Millennium</q></h5>
          <p>Published on the 31st of December 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2000.zip">Download df2000.zip</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="image/artpack/raven-boom.jpg" loading="lazy" class="{{$carouselImg}}" alt="...">
        <div class="{{$carouselClass}}">
          <p><small>Artist, <a href="https://demozoo.org/sceners/49459/">Raven</a></small></p>
          <h5>Art Pack Five - <q>Millennium</q></h5>
          <p>Published on the 31st of December 1999</p>
          <p class="lead"><a href="https://files.scene.org/view/demos/groups/defacto2/artpacks/df2000.zip">Download df2000.zip</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{$carouselID}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{$carouselID}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{{- end}}