{{/*  index.html  */}}
{{- define "content" }}
{{- $listCls := "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover icon-link icon-link-hover"}}
<p>
  While a seldom-discussed subject, this element of the underground computer subculture could be lost and forgotten without a preservation effort.
  The nature of digital piracy, with its high churn for participants, means it is a community that is not well documented nor preserved. 
</p>
<p>
  <small class="text-warning-emphasis">Unfortunately, some files have inappropriate or harmful comments or imagery—a possible consequence of the era and the ages of the people involved, often kids.</small>
</p>
<hr class="my-5">
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New to the website?</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">The Scene?</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<h2 class="mt-5"><small>The Scene</small> milestones</h2>
<div class="lead">
  In the early days of modern computing, the terms microcomputer and personal computer were interchangeable. 
  This site defines the PC as the Intel-compatible x86 architecture known initially as the IBM PC but evolved to MS-DOS and Windows. 
  All other personal computer platforms get referenced as microcomputers. 
</div>
<p class="my-3">
  These milestones are for the PC underground and cracking scenes. They are not definitive but are based on the digital artifacts collected.
  The more notable communities on other microcomputer platforms are seldom mentioned here, including the famed Apple II, Commodore 64, and Commodore Amiga communities, which were often poorly imitated by the underground communities on the PC. 
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
{{- range $index, $mile := .milestones }}
  <div class="col">
    <div class="card h-100{{ if eq true .Highlight}} text-bg-light{{end}}">
      {{- /*  Header & pictures  */}}
      {{- if and (eq "" .Picture.Png) (eq "" .Picture.Jpg)}}
      <div class="card-header">
        {{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}
      </div>
      {{- end}}
      {{- if ne "" .Picture.Jpg}}
      <img src="/image/milestone/{{.Picture.Jpg}}" class="card-img-top" alt="{{.Picture.Alt}}">  
      {{- else if ne "" .Picture.Webp}}
      <picture title="{{.Picture.Title}}">
        <source srcset="/image/milestone/{{.Picture.Webp}}" type="image/webp" class="card-img-top">
        <img src="/image/milestone/{{.Picture.Png}}" class="card-img-top" alt="{{.Picture.Alt}}">
      </picture>
      {{- end}}
      {{- /*  Lists, aligned to the top  */}}
      {{- if and (.List) (eq "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">&nbsp;</li>
        {{- range .List}}
        <li class="list-group-item">
          {{- if ne "" .Forward }}<small class="text-break">{{.Forward}}</small><br>{{end}}
          <a href="{{.Link}}" class="{{$listCls}}">
            {{- if ne "" .Forward }}{{mergeIcon | safeHTML}}{{end}}
            <span class="text-break">{{.LinkTitle | safeHTML}}</span>
            {{- if ne "" .SubTitle }} <small>({{.SubTitle}})</small>{{end}}
          </a>
        </li>
        {{- end}}
      </ul> 
      {{- end}} 
      {{- /*  Card body  */}}
      <div class="card-body">
        <h5 class="card-title{{if eq true .Highlight}} text-primary{{end}}">
          {{.Title}}<br><small class="text-body-secondary">{{.Lead}}</small>
        </h5>
        <p class="card-text"><small>{{.Content | safeHTML}}</small></p>
        <p class="card-text">
          <small>
          {{- if ne "" .Link}}<a href="{{.Link}}" class="link-offset-2 link-underline link-underline-opacity-50">Read {{.LinkTitle}}</a>{{- end}}
          {{- if ne "" .Picture.Attribution}}
            <br>
              Photo by {{.Picture.Attribution}} &nbsp;
              <a href="{{.Picture.LicenseLink}}" class="link-offset-2 link-underline link-underline-opacity-50">{{.Picture.License}}</a>
          {{end}}
          </small>
        </p>
      </div>
      {{- /*  Lists, aligned to the bottom  */}}
      {{- if and (.List) (ne "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        {{- range .List}}
        <li class="list-group-item">
          <a href="{{.Link}}" class="{{$listCls}}">{{- if ne "" .Forward }}{{.Forward}} {{mergeIcon | safeHTML}}{{end}}{{.LinkTitle | safeHTML}}</a>
        </li>
        {{- end}}
      </ul> 
      {{- end}}   
      {{- /*  Footer  */}}
      {{- if or (ne "" .Picture.Png) (ne "" .Picture.Jpg)}}
      <div class="card-footer">
        {{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}
      </div>
      {{end}}
    </div>
  </div>
{{end}}
</div>
{{- end}}