{{- /*  index.tmpl  */}}
{{- define "content" }}
{{- $listCls := "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover icon-link icon-link-hover"}}
<p class="lead">
  While a seldom-discussed topic, the warez element of the underground computer subculture could get lost without a preservation effort. 
  The nature of historic software piracy, with a high churn, means it was a community that needed purposeful conservation.
</p>
<p class="lead">
  <small class="text-warning-emphasis">Be aware, occasional files within are <abbr title="not safe for work" class="initialism">nsfw</abbr>, with harmful comments or imagery.</small>
</p>
<div class="row mt-5">
  <div class="col-lg-6 mb-3 mb-lg-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-4">New to the website</h5>
        <p class="card-text">
          Defacto2 is a massive file server with thousands of digital artifacts of programs, images, and documents, with the site divided into three core sections.</p>
          <ul class="list-inline">
            <li><span class="fw-semibold">Files</span> contain the artifacts tagged by year of release, category, and platform.</li>
            <li><span class="fw-semibold">Groups</span> are collectives of people that release files the under a common brand.</li>
            <li><span class="fw-semibold">People</span> are the individuals who contribute or create files for groups.</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">The Scene</h5>
        <p class="card-text">The Scene is a subculture for online computer activities where the parties actively compete, share ideas and creations outside of the mainstream.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/thescene" class="btn btn-link">A brief page on the diffent Scenes</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal" class="btn btn-link">Glossary of common terms</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mt-5">
<h2 class="mt-5"><small>The PC Scene</small> milestones</h2>
<p class="lead">
  The remainder of this page shows the milestones of the early microcomputing industry, piracy, and The Scene on the <abbr title="personal computer" class="initialism">PC</abbr> platform. 
  Chronologically ordered the list of events offers insight into the birth of The Scene on the PC and the links to piracy in the earliest days of personal computing.
</p>
<p class="lead">
  <small>During the 1980s and 1990s, the PC was one of many competing microcomputer platforms. 
    It was frequently the poorer cousin regarding graphics, gameplay, and audio capability. 
    So communities of hobbyists and pirates ran Scenes on these other platforms long before a Scene matured on the PC. 
    The Apple II, Commodore 64, Atari ST, and Commodore Amiga Scenes actively developed communities in Europe, Australasia, and North America.</small>
</p>
<p class="lead">
  <small>
    The milestones are not definitive but are based on the digital artifacts collected.
    In the early days of modern computing, the terms microcomputer and personal computer were interchangeable. 
    This site defines the <abbr title="personal computer" class="initialism">PC</abbr> as <span class="text-nowrap">Intel-compatible</span>, x86 architecture known initially as the IBM PC, that evolved into <abbr title="Microsoft disk operating system" class="initialism">MS-DOS</abbr> and now Microsoft Windows. 
    All other personal computer platforms get referenced as microcomputers.</small>
</p>
<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 mt-5">
{{- range $index, $mile := .milestones }}
  <div class="col">
    <div class="card h-100{{ if eq true .Highlight}} text-bg-light{{end}}">
      {{- /*  Header & pictures  */}}
      {{- if and (eq "" .Picture.Png) (eq "" .Picture.Jpg)}}
      <div class="card-header">{{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}</div>
      {{- end}}
      {{- if ne "" .Picture.Jpg}}
      <img src="/image/milestone/{{.Picture.Jpg}}" loading="lazy" class="card-img-top" alt="{{.Picture.Alt}}">  
      {{- else if ne "" .Picture.Webp}}
      <picture title="{{.Picture.Title}}">
        <source srcset="/image/milestone/{{.Picture.Webp}}" type="image/webp" class="card-img-top">
        <img src="/image/milestone/{{.Picture.Png}}" loading="lazy" class="card-img-top" alt="{{.Picture.Alt}}">
      </picture>
      {{- end}}
      {{- /*  Lists, aligned to the top  */}}
      {{- if and (.List) (eq "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">&nbsp;</li>
        {{- range .List}}
        <li class="list-group-item">
          {{- if ne "" .Forward }}<small class="text-break">{{.Forward}}</small><br>{{end}}
          <a href="{{.Link}}" class="{{$listCls}}">
            {{- if ne "" .Forward }}{{mergeIcon}}{{end}}
            <span class="text-break">{{.LinkTitle | safeHTML}}</span>
            {{- if ne "" .SubTitle }} <small>({{.SubTitle}})</small>{{end}}
          </a>
        </li>
        {{- end}}
      </ul> 
      {{- end}} 
      {{- /*  Card body  */}}
      <div class="card-body">
        {{- if (ne "" .Title)}}
        <h5 class="card-title{{if eq true .Highlight}} text-primary{{end}}">
          {{.Title}}<br><small class="text-body-secondary">{{.Lead}}</small>
        </h5>
        {{- end}}
        {{- if (ne "" .Content)}}
        <p class="card-text"><small>{{.Content | safeHTML}}</small></p>
        {{- end}}
        {{- if or (ne "" .Link) (ne "" .Picture.Attribution)}}
        <p class="card-text">
          <small>
          {{- if ne "" .Link}}<a href="{{.Link}}" class="link-offset-2 link-underline link-underline-opacity-50">Read {{.LinkTitle}}</a>{{- end}}
          {{- if ne "" .Picture.Attribution}}
            <br>
              Photo by {{.Picture.Attribution}} &nbsp;
              <a href="{{.Picture.LicenseLink}}" class="link-offset-2 link-underline link-underline-opacity-50">{{.Picture.License}}</a>
          {{- end -}}
          </small>
        </p>
        {{- end}}
      </div>
      {{- /*  Lists, aligned to the bottom  */}}
      {{- if and (.List) (ne "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        {{- range .List}}
        <li class="list-group-item">
          {{- if ne "" .Forward }}<small class="text-break">{{.Forward}}</small><br>{{end}}
          <a href="{{.Link}}" class="{{$listCls}}">
            {{- if ne "" .Forward }}{{mergeIcon}}{{end}}
            <span class="text-break">{{.LinkTitle | safeHTML}}</span>
            {{- if ne "" .SubTitle }} <small>({{.SubTitle}})</small>{{end}}
          </a>
          {{- end}}
        </li>
      </ul> 
      {{- end}}   
      {{- /*  Footer  */}}
      {{- if or (ne "" .Picture.Png) (ne "" .Picture.Jpg)}}
      <div class="card-footer">{{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}</div>
      {{- end}}
    </div>
  </div>
{{- end}}
</div>
{{- end}}