{{- /* 
    index.tmpl ~ Introductory page for the website.
*/ -}}
{{- define "content" }}
{{- $listCls := "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover icon-link icon-link-hover"}}
<p class="lead">
  You're at the website preserving the <u>historic</u> cracking and "warez" scene subcultures on personal computers. 
  It covers digital artifacts, including text files, demos, music, art, magazines, and other projects. 
  The nature of historical software piracy, with high churn and elusiveness, 
  means that the topic needed purposeful documentation, and that's what we do at Defacto2.
</p>
<p class="lead">
  <small class="text-warning-emphasis">Be aware occasional files hosted are <abbr title="not safe for work" class="initialism">NSFW</abbr>, with lewd comments or imagery.</small>
</p>
<p>
  The remainder of this page chronologically shows the milestones for the microcomputer 
  industry and software piracy to offer insight into the birth of <a href="/thescene">the Scene</a> and personal computing.
  The events are not definitive but are based on the digital artifacts collected. 
  In the early days of modern computing, the terms micro-computer and personal-computer were interchangeable, 
  but these computing appliances all evolved from the more powerful mini-computers of the 1970s.
</p>
<p>
  The Scene most probably originated in the USA in 1979 or 1980 on the Apple II computer platform. 
  While well-known, it wasn't the best-selling machine of the early microcomputer generation. 
  However, the system attracted classic hackers and curious personality types for various reasons.
  It was the genesis of an <a href="#the-early-underground">era</a> for influential computer game development, 
  early copy protection, <a href="#the-birth-of-warez">piracy</a> and online culture.
</p>
<p>
  This period also saw the Atari 400/800 microcomputers introduction. 
  Atari was late in releasing its graphically superior line of machines, so it created several non-interactive demonstration software titles with music and animation intended to sell the machines in-store. 
  To encourage development, Atari formed APX, the Atari Program Exchange, which allowed Atari to publish user-written software. 
  Some titles, such as 1981's Graphics/Sound Demonstration, include source code and instructions for various effects to encourage new programmers to use the machines and demonstrate their capabilities, much like a Demoscene that later evolved.
</p>
<p>
  The Scene concept spanned the Atlantic to Western Europe in 1984-85 to eventually thrive on the Commodore 64, 
  the world's all-time, highest-selling computer for decades. 
  North America and other markets also had their own booming Scene community on the Commodore, 
  but it's uncertain if they all materialized organically.
</p>
<p>
  Late in the decade, UK and European game developers and sceners moved 
  onto the more powerful 16-bit computer platforms by Atari and Commodore. 
  Due to the emphasis of sound and graphics on both machines, 
  some in the European Scene pivoted to exclusively producing 
  digital artwork and multimedia, creating the <a href="https://www.demoscene.info">Demoscene</a>.
</p>
<p>
  In the USA, where Atari and Commodore were based, their 16-bit computers failed in the local marketplace. 
  The failure and other poor decisions eventually finished both companies and their influence.
  North American consumers moved on to the business-oriented IBM <abbr title="Personal Computer">PC</abbr> platform, 
  later dominated by Intel and Microsoft with <abbr title="Disk Operating System">DOS</abbr> and Windows.
  And Apple was left as a niche player after it ditched its profitable Apple II platform 
  to favor the novel Macintosh computer line.
</p>
<p>
  Due to its modular and fragmented design, the Intel - Microsoft / IBM PC wasn't the best computer gaming platform during the 1980s and early 1990s. 
  And apart from the popular adventure and flight simulator genres, 
  there were better choices for game development. 
  Instead, many North American gamers shifted to the Japanese video game console offerings by Nintendo and later Sega. 
</p>
<p>
  For the PC Scene, documentation for removing disk copy protection routines goes back to 1982, when individuals released text files and posted messages on USA bulletin board systems.
  However, there is little evidence of people cracking and releasing pirated software on the IBM PC before 1983, 
  and even then, it took until 1988-89 to gain momentum.
  Around this time, an <a href="http://artscene.textfiles.com/artscene.html">Art Scene</a> emerged on the PC, 
  creating text art for use on the <q>elite</q> pirate and hacker bulletin board systems. 
  However, they later broke away into a competitive community that produced art for art's sake.
</p>
<p>
  The European sceners only reluctantly joined the PC in and around 1990, 
  with many avoiding the platform until years later, only after it became apparent 
  that software developers had moved on to the Intel - Microsoft PC or video game consoles.
  Yet this convergence of Europeans, North Americans, and other nationalities on the same computer platform and later, the emerging home-access Internet formed one of the first global online communities.
</p>
<h1 class="mt-4 mb-4 text-center">Milestones<small class="fw-light"> the PC industry and the Scene</small> </h1>
{{- /*  
  to add 3 columns, use class "row-cols-xl-3"   
*/ -}}
<div class="row row-cols-1 row-cols-lg-2 g-4">
{{- range $index, $mile := .milestones }}
  <div class="col">
    <a id="{{slugify .Title}}"></a>
    <div class="card h-100{{ if eq true .Highlight}} border-dark text-bg-light{{end}}">
      {{- /*  Header & pictures  */}}
      {{- if and (eq "" .Picture.Png) (eq "" .Picture.Jpg)}}
      <div class="card-header">{{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}</div>
      {{- end}}
      <picture title="{{.Picture.Title}}">
        {{- if ne "" .Picture.Avif}}
        <source srcset="/image/milestone/{{.Picture.Avif}}" type="image/avif" class="card-img-top">
        {{- end}}
        {{- if ne "" .Picture.Webp}}
        <source srcset="/image/milestone/{{.Picture.Webp}}" type="image/webp" class="card-img-top">
        {{- end}}
        {{- if ne "" .Picture.Jpg}}
        <img src="/image/milestone/{{.Picture.Jpg}}" loading="lazy" class="card-img-top" alt="{{.Picture.Alt}}">
        {{- else if ne "" .Picture.Png}}
        <img src="/image/milestone/{{.Picture.Png}}" loading="lazy" class="card-img-top" alt="{{.Picture.Alt}}">
        {{- end}}
      </picture>
      {{- /*  Lists, aligned to the top  */}}
      {{- if and (.List) (eq "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">&nbsp;</li>
        {{- range .List}}
        <li class="list-group-item">
          {{- if ne "" .Forward }}<small class="text-break">{{.Forward}}</small><br>{{end}}
          <a href="{{.Link}}" class="{{$listCls}}">
            {{- if ne "" .Forward }}{{mergeIcon}}{{end}}
            <span class="text-break">{{.LinkTitle | safeHTML}}</span>
            {{- if ne "" .SubTitle }} <small>({{.SubTitle}})</small>{{end}}
          </a>
        </li>
        {{- end}}
      </ul> 
      {{- end}} 
      {{- /*  Card body  */}}
      <div class="card-body">
        {{- if (ne "" .Title)}}
        <h5 class="card-title{{if eq true .Highlight}} text-primary{{end}}">
          {{.Title}}<br><small class="text-body-secondary">{{.Lead}}</small>
        </h5>
        {{- end}}
        {{- if (ne "" .Content)}}
        <div class="card-text my-2"><small>{{.Content | safeHTML}}</small></div>
        {{- end}}
        {{- if or (ne "" .Link) (ne "" .Picture.Attribution) (ne "" .Title)}}
        <p class="card-text">
          <small>
          {{- if ne "" .Title}}<a href="#{{slugify .Title}}" class="link-underline-secondary">Bookmark this milestone</a><br>{{- end}}
          {{- if ne "" .Link}}<a href="{{.Link}}" class="link-offset-2 link-underline link-underline-opacity-50">Read {{.LinkTitle}}</a>{{- end}}
          {{- if ne "" .Picture.Attribution}}
            <br>
              Photo by {{.Picture.Attribution}} &nbsp;
              <a href="{{.Picture.LicenseLink}}" class="link-offset-2 link-underline link-underline-opacity-50">{{.Picture.License}}</a>
          {{- end -}}
          </small>
        </p>
        {{- end}}
      </div>
      {{- /*  Lists, aligned to the bottom  */}}
      {{- if and (.List) (ne "" .Content)}}
      <ul class="list-group list-group-flush text-center">
        {{- range .List}}
        <li class="list-group-item">
          {{- if ne "" .Forward }}<small class="text-break">{{.Forward}}</small><br>{{end}}
          <a href="{{.Link}}" class="{{$listCls}}">
            {{- if ne "" .Forward }}{{mergeIcon}}{{end}}
            <span class="text-break">{{.LinkTitle | safeHTML}}</span>
            {{- if ne "" .SubTitle }} <small>({{.SubTitle}})</small>{{end}}
          </a>
          {{- end}}
        </li>
      </ul> 
      {{- end}}   
      {{- /*  Footer  */}}
      {{- if or (ne "" .Picture.Png) (ne "" .Picture.Jpg)}}
      <div class="card-footer">{{fmtPrefix .Prefix}}<strong>{{.Year}}</strong>{{fmtMonth .Month}}{{fmtDay .Day}}</div>
      {{- end}}
    </div>
  </div>
{{- end}}
</div>
{{- end}}