{{- /* 
    layoutjs.tmpl ~ Async loaded scripts.
*/ -}}
{{- define "layoutjs" }}
{{- if and (eq false (index . "readOnly")) (eq true (index . "editor"))}}
<script asnyc src="{{ artifactEditor }}?{{ sri_artifactEditor }}" integrity="{{ sri_artifactEditor }}" crossorigin="anonymous"></script>
<script asnyc src="{{ editAssets }}?{{ sri_editAssets }}" integrity="{{ sri_editAssets }}" crossorigin="anonymous"></script>
<script asnyc src="{{ editArchive }}?{{ sri_editArchive }}" integrity="{{ sri_editArchive }}" crossorigin="anonymous"></script>
<script asnyc src="{{ editForApproval }}?{{ sri_editForApproval }}" integrity="{{ sri_editForApproval }}" crossorigin="anonymous"></script>
{{- end}}
{{- end}}