{{- /* 
    layoutjsup.tmpl ~ Deferred loaded uploader scripts.
*/ -}}
{{- define "layoutjsup"}}
<script defer src="{{ uploader }}?{{ sri_uploader }}" integrity="{{ sri_uploader }}" crossorigin="anonymous"></script>
{{- end}}