{{- /* 
    layoutjs.tmpl ~ Async loaded scripts.
*/ -}}
{{- define "layoutjs" }}
{{- $editor := index . "editor"}}
{{- $forApproval := index . "forApproval"}}
{{- if and $forApproval $editor}}
<script async src="{{ editForApproval }}?{{ sri_editForApproval }}" integrity="{{ sri_editForApproval }}" crossorigin="anonymous"></script>
{{- end}}
{{- if and (not (index . "readonlymode")) $editor}}
<script async src="{{ editArtifact }}?{{ sri_editArtifact }}" integrity="{{ sri_editArtifact }}" crossorigin="anonymous"></script>
<script async src="{{ editAssets }}?{{ sri_editAssets }}" integrity="{{ sri_editAssets }}" crossorigin="anonymous"></script>
{{- end}}
{{- end}}