{{/*  layout.html  */}}
{{define "layout" -}}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }} | Defacto2</title>
    {{if ne (index . "canonical") ""}}<link rel="canonical" href="https://defacto2.net/{{index . "canonical"}}">{{end -}}
    {{if ne (index . "description") ""}}<meta name="description" content="{{ index . "description" }}">{{end -}}
    {{if eq (index . "description") ""}}<meta name="description" content="Defacto2 is the premier destination for old school files and historical texts of the underground PC cracking, BBS and art scenes">{{end}}
    <meta name="theme-color" content="rgb(153, 153, 153)">
    <meta name="defacto2:file-count" content="45209">{{/*  TODO  */}}
    <meta name="monetization" content="$ilp.uphold.com/RpWPnb88yLaF">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    {{- /*  schema.org linked data  */}}
    <script type="application/ld+json">
      {{- /*  TODO: check for the existence of defacto2-floppy_disk_icon-180x180.png  */}}
      [{"@context":"http://schema.org","@type":"Organization","name":"Defacto2","url":"https://defacto2.net/","logo":"https://defacto2.net/image/layout/favicon-180x180-180x180.png",
      "sameAs": ["https://facebook.com/Defacto2","https://twitter.com/Defacto2","https://youtube.com/defacto2","https://mas.to/@defacto2","https://github.com/defacto2?tab=repositories","https://defacto2.wordpress.com"]},
      {"@context":"http://schema.org","@type":"WebSite","license":"https://creativecommons.org/licenses/by/4.0/","url": "https://defacto2.net/","potentialAction":{"@type":"SearchAction","target":"https://defacto2.net/search/result?query={search_term_string}","query-input":"required name=search_term_string"}}]
    </script>
    {{- /*  preload assets  */}}
    <link rel="preload" href="/css/bootstrap.min.css?{{ sriBootstrapCSS }}" as="style">
    <link rel="preload" href="/css/layout.min.css?{{ sriLayoutCSS }}" as="style">
    {{- /*  bookmark and tab icons  */}}
    {{- /*  todo check the existence of all files  */}}
    <link rel="icon" type="image/svg+xml" href="/image/layout/favicon.svg">
    <link rel="icon" type="image/png" href="/image/layout/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/image/layout/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/image/layout/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/image/layout/favicon-180x180.png" sizes="180x180">
    {{- /*  website manifest  */}}
    <link rel="manifest" href="site.webmanifest">
    {{- /*  relationships  */}}
    <link rel="alternate" href="https://github.com/Defacto2" type="text/html" title="Defacto2 organisation on GitHub">
    <link rel="alternate" href="https://demozoo.org/groups/10000/" type="text/html" title="Defacto2 group profile on Demozoo">
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Licence">
    {{- /*  opensearch.org  TODO: file exists */}}
    <link rel="search" href="osd.xml" type="application/opensearchdescription+xml" title="Defacto2 search">
    {{- /*  cascading style sheets  */}}
    <link href="/css/bootstrap.min.css?{{ sriBootstrapCSS }}" rel="stylesheet" integrity="{{ sriBootstrapCSS }}" crossorigin="anonymous">
    <link href="/css/layout.min.css?{{ sriLayoutCSS }}" rel="stylesheet" integrity="{{ sriLayoutCSS }}" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Defacto2</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Files
                </a>
                <ul class="dropdown-menu">
                  <li><h6 class="dropdown-header">Browse using</h6></li>
                  <li><a class="dropdown-item" href="/file">Categories</a></li>    
                  <li><a class="dropdown-item" href="/file/stats">Statistics</a></li>  
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Browse productions</h6></li>
                  <li><a class="dropdown-item" href="#">New uploads</a></li>
                  <li><a class="dropdown-item" href="#">Oldest</a></li>
                  <li><a class="dropdown-item" href="#">Newest</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Browse using tables</h6></li>
                  <li><a class="dropdown-item" href="/html3"><em>Use retro tables</em></a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groups
                </a>
                <ul class="dropdown-menu">
                  <li><h6 class="dropdown-header">Scene</h6></li>
                  <li><a class="dropdown-item" href="#">Releasers</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Products</h6></li>
                  <li><a class="dropdown-item" href="#">Magazines</a></li>
                  <li><a class="dropdown-item" href="#">BBS sites</a></li>
                  <li><a class="dropdown-item" href="#">FTP sites</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  People
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Sceners</a></li>
                  <li><a class="dropdown-item" href="/interview">Interviews</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Roles</h6></li>
                  <li><a class="dropdown-item" href="#">Artists</a></li>
                  <li><a class="dropdown-item" href="#">Coders</a></li>
                  <li><a class="dropdown-item" href="#">Musicians</a></li>
                  <li><a class="dropdown-item" href="#">Writers</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Websites
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/websites">Show all the sites</a></li>
                  <li><a class="dropdown-item" href="/websites/hide">Hide everything</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">The Scenes</h6></li>
                  <li><a class="dropdown-item" href="/websites/text">Text art</a></li>
                  <li><a class="dropdown-item" href="/websites/bbs">Bulletin Board Systems</a></li>
                  <li><a class="dropdown-item" href="/websites/pirate">Cracker and pirate</a></li>
                  <li><a class="dropdown-item" href="/websites/demo">The demoscene</a></li>
                  <li><a class="dropdown-item" href="/websites/exgroup">Former groups</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Media</h6></li>
                  <li><a class="dropdown-item" href="/websites/podcast">Podcasts</a></li>
                  <li><a class="dropdown-item" href="/websites/book">Books</a></li>
                  <li><a class="dropdown-item" href="/websites/video">Videos and documentary</a></li>
                  <li><a class="dropdown-item" href="/websites/ama">AMA ~ Ask me anything</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Mirrored</h6></li>
                  <li><a class="dropdown-item" href="#">Historic sites</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Search
                </a>
                <ul class="dropdown-menu">
                  <li><h6 class="dropdown-header">Search the database</h6></li>
                  <li><a class="dropdown-item" href="#">Go</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Filter</h6></li>
                  <li><a class="dropdown-item" href="#">Files</a></li>
                  <li><a class="dropdown-item" href="#">Groups</a></li>
                  <li><a class="dropdown-item" href="#">People</a></li>
                  <li><a class="dropdown-item" href="#">Websites</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contacts
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#emailModal"><i class="fal fa-envelope fa-fw" title="Email"></i> Email</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#discordModal"><i class="fab fa-discord fa-fw" title="Discord"></i> Discord</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#mastodonModal"><i class="fab fa-mastodon fa-fw" title="Mastodon"></i> Mastodon</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#twitterModal"><i class="fab fa-twitter fa-fw" title="Twitter"></i> Twitter</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#facebookModal"><i class="fab fa-facebook fa-fw" title="Facebook"></i> Facebook</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#youtubeModal"><i class="fab fa-youtube fa-fw" title="YouTube"></i> YouTube</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/thescene">The Scene</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Defacto2</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#creditsModal">Credits</a></li>
                  <li><a class="dropdown-item" href="/history">Our history</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#copyrightModal">Copyright</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Source code</h6></li>
                  <li>{{ externalLink "https://github.com/Defacto2" "GitHub" }}</li>
                  <li>{{ externalLink "https://github.com/sceners" "Sceners" }}</li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><h6 class="dropdown-header">Using the downloads</h6></li>
                  <li>{{ wikiLink "Can-I-batch-download-the-files" "Batch downloads" }}</li>
                  <li>{{ wikiLink "What-are-DOS-Programs" "DOS programs" }}</li>
                  <li>{{ wikiLink "What-are-RAR-7z-ZIP-ACE-files" "Compressed files" }}</li>
                  <li>{{ wikiLink "What-are-the-best-tools-for-viewing-and-editing-NFO-DIZ-files" "NFO and DIZ files" }}</li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#tavModal">Trojans and viruses</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Known errors for downloads</h6></li>
                  <li>{{ wikiLink "Troubleshoot-d3drm.dll" "D3DRM.DLL" }}</li>
                  <li>{{ wikiLink "Troubleshoot-npmod32.dll" "NPMOD32.DL" }}</li>
                  <li>{{ wikiLink "Troubleshoot-runtime-error-200" "Runtime 200" }}</li>
                  <li>{{ wikiLink "Troubleshoot-shrinker.err" "Shrinker.err dispatcher" }}</li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/thanks">Thanks</a>
              </li>
            </ul>
          </div>
          <div class="btn-group d-flex">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Uploader
            </button>              
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">About the uploader</a></li>
              <li><a class="dropdown-item" href="#">Wanted and missing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Submit a production</h6></li>
              <li><a class="dropdown-item" href="#">Demozoo or Pouët</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Upload files</h6></li>
              <li><a class="dropdown-item" href="#">Intro or cracktro</a></li>
              <li><a class="dropdown-item" href="#">BBS or FTP advert</a></li>
              <li><a class="dropdown-item" href="#">NFO or document</a></li>
              <li><a class="dropdown-item" href="#">Magazine</a></li>
              <li><a class="dropdown-item" href="#">Artwork</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Upload dialog</h6></li>
              <li><a class="dropdown-item" href="#">Simple</a></li>
              <li><a class="dropdown-item" href="#">Advanced</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {{- block "modal" . -}}{{ "<!-- Content here -->" | safeHTML -}}{{end}}
      <hr>
      <div class="d-flex justify-content-center">
        <pre class="text-start text-bg-dark rounded font-dos p-3">
{{- /*  
  the monospace brand logo should be padded with the Bootstrap classes
  and not with pre whitespace characters */ -}}
{{- logo }}
{{logoText (index . "logo") -}}
        </pre>
      </div>
      <main>
      {{if ne (index . "h1") ""}}<h1 class="display-6">{{ index . "h1" }}{{if ne (index . "h1sub") ""}} <small>{{ index . "h1sub" }}</small>{{end}}</h1>{{end -}}
      {{if ne (index . "lead") ""}}<p class="lead">{{ index . "lead" }}</p>{{end -}}
      {{- block "content" . -}}{{ "<!-- Content here -->" | safeHTML -}}{{end}}
      </main>
      <footer class="font-dos text-end mt-3 me-1">
        &copy; Defacto2
      </footer>
    </div>
    <script src="/js/bootstrap.bundle.min.js?{{ sriBootstrapJS }}" integrity="{{ sriBootstrapJS }}" crossorigin="anonymous"></script>
    <script src="/js/fontawesome.min.js?{{ sriFontAwesome }}" integrity="{{ sriFontAwesome }}" crossorigin="anonymous"></script>
    <script defer>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    {{- if ne (index . "carousel") ""}}
    <script defer>
      const myCarouselElement = document.querySelector('{{index . "carousel"}}')
      const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 2000,
        touch: false
      })    
    </script>{{end}}
  </body>
</html>{{end}}