{{- /* 
    layoutup.tmpl ~ Uploader pull-down menu.
*/ -}}
{{- define "layoutup" }}
{{- $editor := index . "editor" }}
{{- if not $editor}}{{/* not an editor, render nothing */}}{{else}}
<div class="btn-group">
  <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{- if not $editor}}Uploader{{else}}Site editor{{end}}
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    {{- template "layoutlock" . }}
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-about">{{if not $editor}}About{{else}}Uploader shortcuts{{end}}</a></li>
    {{- if not $editor}}<li><hr class="dropdown-divider"></li>{{end}}
    <li><h6 class="dropdown-header">Submit a production</h6></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + z">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-demozoo-modal">Demo<u>z</u>oo</a></li>
    <li>
    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-pouet-modal">Pouët</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header">Upload files</h6></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + c">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-intro-modal">
      Intro, <u>C</u>racktro, BBStro</a></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + t">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-trainer-modal">
      <u>T</u>rainer or installer</a></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + n">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-text-modal">
      Text, ANSI or <u>N</u>FO</a></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + p">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-image-modal">
      Image or <u>p</u>hoto</a></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + m">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-magazine-modal">
      <u>M</u>agazine</a></li>
    <li data-bs-toggle="tooltip" data-bs-title="control + alt + a">
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploader-advanced-modal">
      <u>A</u>dvanced uploader</a></li>
  </ul>
</div>
{{- end}}
{{- end}}
