{{/*  layout.tmpl  */}}
{{define "layout" -}}<!doctype html>
{{$fallbackDesc := "Defacto2 is the premier destination for old school files and historical texts of the underground PC cracking, BBS and art scenes" -}}
{{$cc           := "https://creativecommons.org/licenses/by/4.0/" -}}
{{$github       := "https://github.com/defacto2/" -}}
{{$az := "<small><small class=\"fw-lighter\">A-Z</small></small>" | safeHTML -}}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}{{if ne (index . "h1sub") ""}} {{ index . "h1sub" }}{{end}} | Defacto2</title>
    {{if ne (index . "canonical") ""}}<link rel="canonical" href="https://defacto2.net/{{index . "canonical"}}">{{end -}}
    {{if ne (index . "description") ""}}<meta name="description" content="{{ index . "description" }}">{{end -}}
    {{if eq (index . "description") ""}}<meta name="description" content="{{$fallbackDesc}}">{{end}}
    <meta name="theme-color" content="rgb(153, 153, 153)">
    <meta name="defacto2:file-count" content="{{ index . "df2FileCount" }}">
    <meta name="monetization" content="$ilp.uphold.com/RpWPnb88yLaF">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    {{- /*  schema.org linked data, 
      see: https://json-ld.org/playground/
      and: https://developers.google.com/search/docs/appearance/structured-data/search-gallery  */}}
<script type="application/ld+json">
{
  "@graph": [
    {
      "@type": "http://schema.org/Organization",
      "http://schema.org/logo": {
        "@id": "https://defacto2.net/image/layout/favicon-180x180.png"
      },
      "http://schema.org/name": "Defacto2",
      "http://schema.org/sameAs": [
        {
          "@id": "https://facebook.com/Defacto2"
        },
        {
          "@id": "https://twitter.com/Defacto2"
        },
        {
          "@id": "https://youtube.com/defacto2"
        },
        {
          "@id": "https://mas.to/@defacto2"
        },
        {
          "@id": "https://github.com/defacto2/"
        },
        {
          "@id": "https://defacto2.wordpress.com"
        }
      ],
      "http://schema.org/url": {
        "@id": "https://defacto2.net/"
      }
    },
    {
      "@type": "http://schema.org/WebSite",
      "http://schema.org/license": {
        "@id": "https://creativecommons.org/licenses/by/4.0/"
      },
      "http://schema.org/potentialAction": {
        "@type": "http://schema.org/SearchAction",
        "http://schema.org/query-input": "required name=search_term_string",
        "http://schema.org/target": {
          "@id": "https://defacto2.net/search/result?query={search_term_string}"
        }
      },
      "http://schema.org/url": {
        "@id": "https://defacto2.net/"
      }
    }
  ]
}
</script>
    {{- /*  bookmark and tab icons  */}}
    <link rel="icon" type="image/svg+xml" href="/image/layout/favicon.svg">
    <link rel="icon" type="image/png" href="/image/layout/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/image/layout/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/image/layout/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/image/layout/favicon-180x180.png" sizes="180x180">
    {{- /*  website manifest  */}}
    <link rel="manifest" href="/site.webmanifest">
    {{- /*  relationships  */}}
    <link rel="alternate" href="{{$github}}" type="text/html" title="Defacto2 organisation on GitHub">
    <link rel="alternate" href="https://demozoo.org/groups/10000/" type="text/html" title="Defacto2 group profile on Demozoo">
    <link rel="license" href="{{$cc}}" title="Creative Commons Licence">
    {{- /*  opensearch.org  */}}
    <link rel="search" href="/osd.xml" type="application/opensearchdescription+xml" title="Defacto2 search">
    {{- /*  cascading style sheets  */}}
    <link href="{{ cssBoot }}?{{ sriBootCSS }}" rel="stylesheet" integrity="{{ sriBootCSS }}" crossorigin="anonymous">
    <link href="{{ cssLayout }}?{{ sriLayout }}" rel="stylesheet" integrity="{{ sriLayout }}" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-xxl m-0 p-0">
    <nav class="navbar bg-dark sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <img class="me-3" src="/image/layout/under-construction.gif" alt="Under construction animated GIF" width="30" height="30">
        <span class="navbar-brand mb-0 h1"><a class="nav-link active" aria-current="page" href="/">Defacto2</a></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Files
              </a>
              <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Browse</h6></li>
                <li><a class="dropdown-item" href="/file">Categories</a></li>    
                <li><a class="dropdown-item" href="/file/stats">Statistics</a></li>  
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Browse productions</h6></li>
                <li><a class="dropdown-item" href="/files/new-uploads">New uploads</a></li>
                <li><a class="dropdown-item" href="/files/new-updates">New changes</a></li>
                <li><a class="dropdown-item" href="/files/oldest">Oldest</a></li>
                <li><a class="dropdown-item" href="/files/newest">Newest</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/html3">Use <em>retro</em> tables</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Groups
              </a>
              <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Scene</h6></li>
                <li><a class="dropdown-item" href="/releaser">Releasers</a></li>
                <li><a class="dropdown-item" href="/releaser/a-z">Releasers {{$az}}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Products</h6></li>
                <li><a class="dropdown-item" href="/magazine">Magazines</a></li>
                <li><a class="dropdown-item" href="/magazine/a-z">Magazines {{$az}}</a></li>
                <li><a class="dropdown-item" href="/ftp">FTP sites {{$az}}</a></li>
                <li><a class="dropdown-item" href="/bbs">BBS sites</a></li>
                <li><a class="dropdown-item" href="/bbs/a-z">BBS sites {{$az}}</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                People
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/scener">Sceners</a></li>
                <li><a class="dropdown-item" href="/interview">Interviews</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Roles</h6></li>
                <li><a class="dropdown-item" href="/artist">Artists</a></li>
                <li><a class="dropdown-item" href="/coder">Coders</a></li>
                <li><a class="dropdown-item" href="/musician">Musicians</a></li>
                <li><a class="dropdown-item" href="/writer">Writers</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Websites
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/website">List the sites</a></li>
                <li><a class="dropdown-item" href="/website/hide">Categories</a></li>
                {{/*    not yet implemented
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Mirrored</h6></li>
                <li><a class="dropdown-item" href="#">Historic sites</a></li>*/}}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Search
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/search/releaser">Releasers</a></li>
                <li><a class="dropdown-item" href="/search/file">Files</a></li>
                <li><a class="dropdown-item" href="/search/desc">Descriptions</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contacts
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#emailModal"><i class="fal fa-envelope fa-fw" title="Email"></i> Email</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#discordModal"><i class="fab fa-discord fa-fw" title="Discord"></i> Discord</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#mastodonModal"><i class="fab fa-mastodon fa-fw" title="Mastodon"></i> Mastodon</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#twitterModal"><i class="fab fa-twitter fa-fw" title="Twitter"></i> Twitter</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#facebookModal"><i class="fab fa-facebook fa-fw" title="Facebook"></i> Facebook</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#youtubeModal"><i class="fab fa-youtube fa-fw" title="YouTube"></i> YouTube</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Defacto2</a></li>
                <li><a class="dropdown-item" href="/thescene">The Scene</a></li>
                <li><a class="dropdown-item" href="/history">Brand history</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#creditsModal">Credits</a></li>
                <li class="d-none d-lg-block d-xl-none"><a class="dropdown-item" href="/thanks">Thanks</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#copyrightModal">Copyright</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Source code</h6></li>
                <li>{{ linkRemote "https://github.com/Defacto2" "GitHub" }}</li>
                <li>{{ linkRemote "https://github.com/sceners" "Sceners" }}</li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Help
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#termsModal">Glossary of terms</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#tavModal">Trojans and viruses</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Using the downloads</h6></li>
                <li>{{ linkWiki "Can-I-batch-download-the-files" "Batch downloads" }}</li>
                <li>{{ linkWiki "What-are-DOS-Programs" "DOS programs" }}</li>
                <li>{{ linkWiki "What-are-RAR-7z-ZIP-ACE-files" "Compressed files" }}</li>
                <li>{{ linkWiki "What-are-the-best-tools-for-viewing-and-editing-NFO-DIZ-files" "NFO and DIZ files" }}</li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Known errors</h6></li>
                <li>{{ linkWiki "Troubleshoot-d3drm.dll" "D3DRM.DLL" }}</li>
                <li>{{ linkWiki "Troubleshoot-npmod32.dll" "NPMOD32.DLL" }}</li>
                <li>{{ linkWiki "Troubleshoot-runtime-error-200" "Runtime 200" }}</li>
                <li>{{ linkWiki "Troubleshoot-shrinker.err" "Shrinker.err" }}</li>
              </ul>
            </li>
            <li class="nav-item d-lg-none d-xl-block">
              <a class="nav-link" href="/thanks">Thanks</a>
            </li>
          </ul>
        </div>
        <div class="btn-group d-flex d-none d-lg-block">
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Uploader
          </button>              
          <ul class="dropdown-menu dropdown-menu-end">
            <li><h6 class="dropdown-header">Submit a production</h6></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderDZ">Demozoo</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderDZArt"> &nbsp; &#x2937; Graphics</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderPouet">Pouët</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Upload files</h6></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderIntro">Intro, cracktro, bbstro</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderText">Text, ANSI or NFO</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderImg">Image or photo</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderMag">Magazine</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderAdv">Advanced Uploader</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploaderAbout">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <div class="container-xxl">
{{- block "modal" . -}}{{ "<!-- Modal popup content here -->" | safeHTML -}}{{end}}
{{- block "uploader" . -}}{{ "<!-- Uploader content here -->" | safeHTML -}}{{end}}
  <hr>
{{- if eq (index . "dberror") true -}}
<div class="alert alert-danger" role="alert">
  The database is down, this means the website is not fully working. We are working on it.
</div>{{- end}}
{{- if ne (index . "logo") "" -}}
<div class="d-flex justify-content-center" id="logo-container">
<pre class="text-start text-bg-dark rounded font-dos px-1 py-2" id="logo-text">
  {{- /*  
    the monospace brand logo should be padded with the Bootstrap classes
    and not with pre whitespace characters */ -}}
{{- logo }}
{{logoText (index . "logo") -}}
</pre>
</div>
{{- end}}
{{- if and (.Pagination) (gt (index  .Pagination.SumPages) 1)}}
<nav aria-label="Compact pagination navigation at the header">
  <ul class="pagination pagination-sm justify-content-end mb-4">
    {{ template "paginationList" . }}
  </ul>
</nav>
{{- end }}
<main>
    {{- if ne (index . "h1") ""}}<h1 class="fs-1 fw-light">{{ index . "h1" }}{{if ne (index . "h1sub") ""}} <small>{{ index . "h1sub" }}</small>{{end}}</h1>{{end -}}
    {{- if ne (index . "lead") ""}}<p class="lead">{{ index . "lead" | safeHTML }}</p>{{end -}}
    {{- block "content" . -}}{{ "<!-- Content here -->" | safeHTML -}}{{end}}
</main>
{{- if and (.Pagination) (gt (index  .Pagination.SumPages) 1)}}
<nav aria-label="Pagination navigation at the footer">
  <ul class="pagination justify-content-end mt-4">
    {{ template "paginationList" . }}
  </ul>
</nav>
{{- end }}
<footer class="font-dos text-end mt-3 me-1">
  &copy; <span data-bs-toggle="tooltip" data-bs-title="version: {{ version }}">Defacto2</span>
</footer>
</div>
{{- /*  Do not defer, or async load the JS for Bootstrap  */}}
<script src="{{ jsBoot }}?{{ sriBootJS }}" integrity="{{ sriBootJS }}" crossorigin="anonymous"></script>
{{- /*  FontAwesome  */}}
<script async src="{{ jsFA }}?{{ sriFA }}" integrity="{{ sriFA }}" crossorigin="anonymous"></script>
{{- if index . "pouet"}}
<script async src="{{ jsPouet }}?{{ sriPouet }}" integrity="{{ sriPouet }}" crossorigin="anonymous"></script>
{{- end}}
{{- if or (index . "readmeLatin1") (index . "readmeCP437")}}
<script async src="{{ jsReadme }}?{{ sriReadme }}" integrity="{{ sriReadme }}" crossorigin="anonymous"></script>
{{- end}}
{{- /*  JS DOS v6  */}}
{{- if index . "jsdos"}}
<script async src="{{ jsDos }}?{{ sriJSDos }}" integrity="{{ sriJSDos }}" crossorigin="anonymous"></script>
<script async src="{{ jsWDos }}?{{ sriJSWDos }}" integrity="{{ sriJSWDos }}" crossorigin="anonymous"></script>
{{- end}}
{{- /*  Bootstrap tooltips get initialized on every page  */}}
<script defer>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{{- if ne (index . "carousel") ""}}
{{- /*  Bootstrap carousel initalizer  */}}
<script defer>
  const myCarouselElement = document.querySelector('{{index . "carousel"}}')
  const carousel = new bootstrap.Carousel(myCarouselElement, {
    interval: 2000,
    touch: false
  })
</script>{{end}}
</body>
</html>{{end}}