{{- /*  layoutup_null.tmpl  */}}
{{- define "layoutup" -}}
<div class="btn-group dropstart">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Uploader
    </button>
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Sorry, the database is locked or offline</h6></li>
    </ul>
</div>{{end}}