{{- /*  layout_uploader.tmpl  */}}
{{- define "layoutUploader" }}
        <div class="btn-toolbar d-flex d-none d-lg-block">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Uploader
            </button>              
            <ul class="dropdown-menu dropdown-menu-end">
                <li><h6 class="dropdown-header">Submit a production</h6></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderDZ">Demozoo</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderPouet">Pouët</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Upload files</h6></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderIntro">Intro, cracktro, bbstro</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderText">Text, ANSI or NFO</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderImg">Image or photo</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderMag">Magazine</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderAdv">Advanced Uploader</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploaderAbout">About</a></li>
            </ul>
        </div>
{{- end}}