{{- /* 
    layoutjsup.tmpl ~ Deferred loaded uploader scripts.
*/ -}}
{{- define "layoutjsup"}}
{{- if (index . "uploader")}}
<script defer src="{{ uploader }}?{{ sri_uploader }}" integrity="{{ sri_uploader }}" crossorigin="anonymous"></script>
{{- end}}
{{- end}}