{{- /* 
    layoutlock.tmpl ~ Artifact editor pull-down menu.
*/ -}}
{{- define "layoutlock" }}
{{- $lock := index . "editor" }}
{{- if ne true $lock}}{{/*  render nothing  */}}{{else}}
<div class="btn-group dropstart me-2">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Site editor
  </button>
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">Artifacts</h6></li>
    <li><a class="dropdown-item" href="/editor/for-approval">List <em>for approval</em></a></li>
    <li><a class="dropdown-item" href="/editor/deletions">List <em>deletions</em></a></li>
    <li><a class="dropdown-item" href="/editor/unwanted">List <em>unwanted</em></a></li>
    <li><a class="dropdown-item" href="/editor/search/id">By <em>ID</em> or <em>UUID</em></a></li>
    <li><h6 class="dropdown-header">Tools</h6></li>
    <li><a class="dropdown-item" href="/editor/configs">Configurations</a></li>
    <li><h6 class="dropdown-header">Batch rename</h6></li>
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editorVersion">Releasers</a></li>
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editorVersion">People</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/signedout">Sign out</a></li>
  </ul>
</div>
{{- end}}
{{- end}}