{{- /* 
    modal.tmpl ~ Modals are for the sections of the website that don't require a dedicated page or URL.
*/ -}}
{{- define "modal" -}}
{{- /*  Modals  */}}
    {{- /*  Email  */}}
    <div class="modal fade" id="contacts-email-modal" tabindex="-1" aria-labelledby="contacts-email-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header fs-5">
            <svg class="bi bi-envelope" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#envelope"/>
            </svg>
            <div class="modal-title fs-3 ps-2" id="contacts-email-modal-label">Email</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2 class="user-select-all"><span>contact</span><span>@</span><span>defacto2</span><span>.</span><span>net</span></h2>
            <p>Emails to this address are checked regularly.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Discord  */}}
    <div class="modal fade" id="contacts-discord-modal" tabindex="-1" aria-labelledby="contacts-discord-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-discord" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#discord"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-discord-modal-label">Discord</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3 class="user-select-all">
              .defacto2
            </h3>
            <p>Discord <strong>DM</strong> direct messages are checked regularly.</p>
            <p>Use either the <a href="https://discord.gg/AJ2xV8X">Demozoo</a>, 
              <a href="https://discord.gg/YBbFkZNNDX">16colors</a> or 
              <a href="https://discord.gg/MCDXrrB">Demoscene</a> servers.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Mastodon  */}}
    <div class="modal fade" id="contacts-mastodon-modal" tabindex="-1" aria-labelledby="contacts-mastodon-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-mastodon" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#mastodon"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-mastodon-modal-label">Mastodon</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3><a href="https://mas.to/@defacto2">defacto2</a>@mas.to</h3>
            <p>Mastodon direct messages are checked regularly.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Bluesky  
            NOTE: the former address was, https://bsky.app/profile/defacto2.bsky.social
    */}}
    <div class="modal fade" id="contacts-bluesky-modal" tabindex="-1" aria-labelledby="contacts-bluesky-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-bluesky" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#bluesky"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-bluesky-modal-label">Bluesky</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>@<a href="https://bsky.app/profile/defacto2.net">defacto2.net</a></h3>
            <p>Bluesky direct messages are checked regularly.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Twitter  */}}
    <div class="modal fade" id="contacts-twitter-modal" tabindex="-1" aria-labelledby="contacts-twitter-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-twitter" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#twitter"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-twitter-modal-label">Twitter</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3><a href="https://twitter.com/Defacto2">Defacto2</a></h3>
            <p>X, formerly Twitter, is retired due to paid verification and linking de-prioritization. 
              Social media companies should never demand payments <u>for their privilege</u> to monetize <a href="https://x.com/en/privacy">your identity</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Facebook  */}}
    <div class="modal fade" id="contacts-facebook-modal" tabindex="-1" aria-labelledby="contacts-facebook-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-facebook" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#facebook"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-facebook-modal-label">Facebook</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3><a href="https://facebook.com/Defacto2">Defacto2</a></h3>
            <p>Facebook direct messages will be read.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  YouTube  */}}
    <div class="modal fade" id="contacts-youtube-modal" tabindex="-1" aria-labelledby="contacts-youtube-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi bi-youtube" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#youtube"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="contacts-youtube-modal-label">YouTube</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3><a href="https://www.youtube.com/defacto2">defacto2</a></h3>
            <p>The discontinued YouTube channel contains a few hundred intros and cracktros.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Privacy  */}}
    <div class="modal fade" id="privacy-modal" tabindex="-1" aria-labelledby="privacy-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title fs-3" id="privacy-modal-label">Privacy</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fs-3 fw-lighter text-center">Defacto2 does not track visitors to the site</p>
            <p>We use the privacy first, <a href="https://www.cloudflare.com/web-analytics/">Cloudflare Analytics</a>, which does not use any form of client-side state or fingerprinting.</p>
            <p>There are no web server sessions for anonymous visitors and no remotely hosted software tools or assets.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Trojans and software viruses  */}}
    <div class="modal fade" id="t-a-v-modal" tabindex="-1" aria-labelledby="t-a-v-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title fs-3" id="t-a-v-modal-label">Harmful downloads?</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fs-5 fw-semibold lead text-info-emphasis">We do not distribute viruses, trojans, spyware, or malware.</p>
            <p>
              Unfortunately, in their default setup, the Chrome and Firefox web browsers block many downloads as Google Search declares 
              <em>Some pages on this site are unsafe. 
              The site defacto2.net contains harmful content, including pages that:
              Contain unwanted or malicious software. </em> 
              See the <a href="https://transparencyreport.google.com/safe-browsing/search?url=defacto2.net&hl=en">Safe Browsing site status report</a>. 
            </p>
            <p>
              Many Scene intros and cracktros implement decompressing, self-decrypting, and self-modifying techniques, which, unfortunately, is also typical behavior for malware.
            </p>
            <p>
              Analyzing suspicious behavior in software is never full proof, and an over-sensitive 
              <a href="https://usa.kaspersky.com/resource-center/definitions/heuristic-analysis">heuristic scan</a> can report false positive results. 
              Some file programs and applications offered on Defacto2 do get flagged as possible unwanted software, but we do not believe they are dangerous.
            </p>
            <p>
              But to be safe, 
              <ol>
              <li>Scan any application software downloads with <a href="https://www.virustotal.com/">VirusTotal</a></li>
              <li>Do not run the applications on your primary Windows system</li>
              <li>Use an isolated, virtualized or emulated Windows (or MSDOS) operating system</li>
            </p>
            <ul>
              <li><a href="https://www.parallels.com/products/desktop">Parallels Desktop</a> 18.1 or earlier, for easy Windows 2000 and newer support on macOS</li>
              <li>
                  <a href="https://dosbox-staging.github.io/">DOSBox Staging</a>, <a href="https://dosbox-x.com/">DOSBox X</a> or <a href="https://www.dosbox.com/">DOSBox</a> for easy DOS emulation on all platforms
                  <br>DOSBox Staging can also be configured for Windows 95 and Windows 98
              </li>
            </ul>
            <ul>
              <li><a href="https://www.virtualbox.org/">VirtualBox</a> offers poor support for Windows NT, 2000 and better support for Windows Vista and newer on all platforms</li>
              <li><a href="https://86box.net/">86Box</a> or <a href="https://pcem-emulator.co.uk/">PCem</a> for complicated, retro PC emulation for DOS and Windows 95/98 support on most platforms</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Copyright  */}}
    <div class="modal fade" id="copyright-modal" tabindex="-1" aria-labelledby="copyright-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <svg class="bi" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
              <use xlink:href="/svg/bootstrap-icons.svg#cc-circle"/>
            </svg>
            <div class="modal-title fs-4 ps-2" id="copyright-modal-label">Copyright</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="lead">
              This site uses the Creative Commons Attribution 4.0 International license.<br>
              It enables you to use much of the website content with your projects.
            </p>
            <p>The Creative Commons Attribution 4.0 International license applied to defacto2.net is a liberal implementation of copyright. You are free to use the original content as is or modify it to your needs.</p>
            <p>The only requirement we impose is that you attribute, that is, give credit to defacto2.net for each piece of content you use. This attribution can either be placed on the content itself or distributed in a separate file within the content.</p>
            <p>
              <svg class="bi" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <use xlink:href="/svg/bootstrap-icons.svg#cc-circle"/>
              </svg> 
              <a href="https://creativecommons.org/licences/by/4.0/" class="icon-link icon-link-hover link-underline link-underline-opacity-25">The CC BY 4.0 licence deed</a></p>
            <ul class="list-unstyled">
              <li>
                <p><span class="lead">The license includes</span></p>
                <ul class="list-unstyled">
                  <li><svg class="bi text-success" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#check2"/>
                  </svg> Text and <a href="https://github.com/Defacto2/database">database</a> website content</li>
                  <li><svg class="bi text-success" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#check2"/>
                  </svg> Images including previews and screenshots of the file artifacts*</li>
                  <li><svg class="bi text-success" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#check2"/>
                  </svg> Videos hosted on the <a href="https://www.youtube.com/defacto2">defacto2</a> YouTube channel</li>
                </ul>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li>
                <p><span class="lead">But the license <u>does not include</u></span></p>
                <ul class="list-unstyled">
                  <li><svg class="bi text-danger" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#x"/>
                  </svg> File artifacts and downloads,
                    <small>which are &copy; by their authors</small>
                  </li>
                  <li><svg class="bi text-danger" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#x"/>
                  </svg> Website <a href="https://github.com/Defacto2/server">source code</a> and dependencies, 
                    <small>these use other open licences</small></li>
                  <li><svg class="bi text-danger" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="/svg/bootstrap-icons.svg#x"/>
                  </svg> Third party assets such as art, icons, fonts, and libraries
                  </li>
                </ul>
              </li>
            </ul>
            <p class="mt-2">* <small>In some countries, the copyright for screenshots of computer software are held by the software author or the &copy; owner.</small></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{- /*  Credits  */}}
    <div class="modal fade" id="credits-modal" tabindex="-1" aria-labelledby="credits-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title fs-3" id="credits-modal-label">Credits</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="lead">
              <span class="text-info-emphasis">The file artifacts come from hundreds of online donations</span> or are from various digital and physical collections.
              Ben Garrett programs the website, and a small anonymous volunteer team maintains it.
            </p>
            <hr>
            <p>
              The core site gets built using the
              <a class="fw-light" href="https://go.dev/">Go</a> programming language,
              the <a class="fw-light" href="https://echo.labstack.com/">Echo</a> framework,
              <a class="fw-light" href="https://github.com/aarondl/sqlboiler">SQLBoiler</a>,
              <br>and the following libraries and dependencies.
              <br>Do you know that the website is open-sourced and <a href="https://github.com/Defacto2/server">available on GitHub</a>?
            </p>
            <dl class="row">
              <dt class="col-sm-4"><a class="fw-light" href="https://getbootstrap.com/">Bootstrap</a></dt>
              <dd class="col-sm-8">The frontend, the user interface and icons</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://www.dosbox.com/">DOSBox</a></dt>
              <dd class="col-sm-8">The PC Disk Operating System (DOS) emulator</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://js-dos.com/">js-dos</a></dt>
              <dd class="col-sm-8">The DOS emulation frontend</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://www.postgresql.org/">PostgreSQL</a></dt>
              <dd class="col-sm-8">The database</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://m.do.co/c/a9270bdb9e74">DigitalOcean</a> *</dt>
              <dd class="col-sm-8">The web host<br><small>* Referral link, spend $25, you'll get up to $200 credit, and we'll get $25.</small></dd>
            </dl>
            <p>
              The Sceners who have assets used by this website:
            </p>
            <dl class="row">
              <dt class="col-sm-4"><a class="fw-light" href="https://www.ansilove.org/">AnsiLove/C</a></dt>
              <dd class="col-sm-8">The tool used to generate images from ANSI and text art</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://demozoo.org/sceners/47321/">Antibody</a></dt>
              <dd class="col-sm-8">The Defacto2 (ASCII) text logo</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://int10h.org/oldschool-pc-fonts/">VileR</a></dt>
              <dd class="col-sm-8">The web ports of the multiple IBM PC system fonts</dd>
              <dt class="col-sm-4"><a class="fw-light" href="https://www.trueschool.se/">dMG</a></dt>
              <dd class="col-sm-8">The web ports of the Amiga Topaz2 and MicroKnight fonts</dd>
            </dl>
            <p>
              The Corpos who have assets used by this website:
            </p>
            <dl class="row">
              <dt class="col-sm-4"><a class="fw-light" href="https://github.com/microsoft/cascadia-code">Microsoft</a></dt>
              <dd class="col-sm-8">The Cascadia Code font</dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{{- end}}
