{{/*  modal.tmpl  */}}
{{- define "modal" -}}
{{- $faSize := "fa-fw fa-2x" -}}
{{- $svgIcons := "/bootstrap-icons.svg" -}}
{{- /*  Modals  */}}
{{- /*  Email  */}}
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fal fa-envelope {{ $faSize }}" title="Email"></i> &nbsp;
        <h1 class="modal-title fs-5" id="emailModalLabel">Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="user-select-all"><span>contact</span><span>@</span><span>defacto2</span><span>.</span><span>net</span></h2>
        <p>Email to this address is checked regularly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Discord  */}}
<div class="modal fade" id="discordModal" tabindex="-1" aria-labelledby="discordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fab fa-discord {{ $faSize }}" title="Discord"></i> &nbsp;
        <h1 class="modal-title fs-5" id="discordModalLabel">Discord</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="user-select-all">defacto2#2067</h2>
        <p>Discord direct messages are checked regularly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Mastodon  */}}
<div class="modal fade" id="mastodonModal" tabindex="-1" aria-labelledby="mastodonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fab fa-mastodon {{ $faSize }}" title="Mastodon"></i> &nbsp;
        <h1 class="modal-title fs-5" id="mastodonModalLabel">Mastodon</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><a href="https://mas.to/@defacto2">defacto2@mas.to</a></h3>
        <p>Mastodon is rarely updated with site feature updates.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Twitter  */}}
<div class="modal fade" id="twitterModal" tabindex="-1" aria-labelledby="twitterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fab fa-twitter {{ $faSize }}" title="Twitter"></i> &nbsp;
        <h1 class="modal-title fs-5" id="twitterModalLabel">Twitter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><a href="https://twitter.com/Defacto2">Defacto2</a></h3>
        <p>X, formerly known as Twitter, is rarely updated with site feature updates.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Facebook  */}}
<div class="modal fade" id="facebookModal" tabindex="-1" aria-labelledby="facebookModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fab fa-facebook {{ $faSize }}" title="Facebook"></i> &nbsp;
        <h1 class="modal-title fs-5" id="facebookModalLabel">Facebook</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><a href="https://facebook.com/Defacto2">Defacto2</a></h3>
        <p>Facebook is rarely updated with site feature updates.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  YouTube  */}}
<div class="modal fade" id="youtubeModal" tabindex="-1" aria-labelledby="youtubeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fab fa-youtube {{ $faSize }}" title="YouTube"></i> &nbsp;
        <h1 class="modal-title fs-5" id="youtubeModalLabel">YouTube</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><a href="https://youtube.com/defacto2">defacto2</a></h3>
        <p>The discontinued YouTube channel contains a few hundred intros and cracktros.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Privacy  */}}
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="privacyModalLabel">Privacy</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Defacto2 does not track visitors to the site</p>
        <p>We use the privacy first, <a href="https://www.cloudflare.com/web-analytics/">Cloudflare Analytics</a>, which does not use any form of client-side state or fingerprinting.</p>
        <p>There are no web server sessions for anonymous visitors and no remotely hosted software tools or assets.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Common terms  */}}
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="termsModalLabel">Glossary of common terms</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">      
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Term</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
          <tr><th scope="row">0day</th>
          <td>The bleeding edge of pirated releases.</td></tr>
          <tr><th scope="row">ansi</th>
          <td>A legacy method to draw in color within text terminal screens and files.</td></tr>
          <tr><th scope="row">ascii</th>
          <td>A legacy method to draw raw text art in terminal screens and files.</td></tr>
          <tr><th scope="row">BBS</th>
          <td>An extinct, text only landline-networked computer board to share files, messages and chat.</td></tr>
          <tr><th scope="row">courier</th>
          <td>A person who digitally delivers pirated software to a BBS or file site.</td></tr>
          <tr><th scope="row">crack</th>
          <td>A software modification that removes copy protection from a retail program.</td></tr>
          <tr><th scope="row">dupe</th>
          <td>A duplicate release, software that has previously been released to The Scene.</td></tr>
          <tr><th scope="row">elite</th>
          <td>The elite Scene is the small clique who obtain, crack and release major games and software applications.</td></tr>
          <tr><th scope="row">FTP</th>
          <td>A legacy internet protocol for sending and receiving files.</td></tr>
          <tr><th scope="row">hack</th>
          <td>The unorthodox manipulation or exploration of most things computer-related.</td></tr>
          <tr><th scope="row">HPAV</th>
          <td>An old term for a board, site or group that focus on underground texts such as hacking and phone phreaking.</td></tr>
          <tr><th scope="row">demo, intro<br>bbstro, cracktro</th>
          <td>An non-interactive computer program demostration to display or advertise art, music, code and often text.</td></tr>
          <tr><th scope="row">keygen</th>
          <td>A serial key generator, usually used to bypass licencing prompts in software.</td></tr>
          <tr><th scope="row">NFO</th>
          <td>A plaintext file containing i<u>nfo</u>rmation about the release and sometimes the release group.</td></tr>
          <tr><th scope="row">nuke</th>
          <td>A release that has been marked for deletion, usually as a duplicate or a violation of rules.</td></tr>
          <tr><th scope="row">phreaking</th>
          <td>The redundant and illegal art of landline telephone network exploitation to obtain free calls.</td></tr>
          <tr><th scope="row">pixel art</th>
          <td>Also known as bitmap or raster graphics, it is the creation of an artwork or image drawn using a mouse or pen.</td></tr>
          <tr><th scope="row">pre</th>
          <td>A release that has been made available.</td></tr>
          <tr><th scope="row">race</th>
          <td>
            The competition between groups to put out a valid release of a new software title.<br>
            Or the competition between individuals to be the first to upload a release to a file site.
          </td></tr>
          <tr><th scope="row">release</th>
          <td>An artifact from The Scene, be it software, games or some other related item.</td></tr>
          <tr><th scope="row">releaser<br>release group</th>
          <td>A group or a collective of people working together under a shared brand.</td></tr>
          <tr><th scope="row">The Scene</th>
          <td>A community of individuals and groups that participate online in a common activity.</td></tr>
          <tr><th scope="row">scener</th>
          <td>An individual within The Scene.</td></tr>
          <tr><th scope="row">site</th>
          <td>An online server used for file distribution.</td></tr>
          <tr><th scope="row">topsite</th>
          <td>An 'elite' online file distribution server that first obtain the releases.</td></tr>
          <tr><th scope="row">warez</th>
          <td>The product or the act of sharing of software, with any copy-protection or other restrictions removed.</td></tr>
          </tbody>
        </table>
        You can use the keyboard shortcut <kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>t</kbd> &nbsp; to relaunch this.<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Trojans and viruses  */}}
<div class="modal fade" id="tavModal" tabindex="-1" aria-labelledby="tavModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tavModalLabel">Trojans and software viruses</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fs-5 fw-semibold lead text-info-emphasis">We never intentionally distribute viruses, trojans or any form of malware.</p>
        <p>
          Many scene intros and cracktros implement self-decrypting, decompressing, and self-modifying techniques, which, unfortunately, is also typical behavior for malware.
        </p>
        <p>
          Analyzing suspicious behavior in software is never 100% accurate, and an over-sensitive heuristic scan can report false positive results. 
          Some file programs and applications offered on Defacto2 do get flagged as a possible virus or trojan threat, but we do not believe they are dangerous.
        </p>
        <p>
          But to be safe, scan any application software downloads with <a href="https://www.virustotal.com/">VirusTotal</a>. 
          Do not run the applications on your primary Windows system, but use a virtualized or emulated Windows or DOS legacy operating system.
        </p>
        <ul>
          <li><a href="https://www.parallels.com/products/desktop">Parallels Desktop</a> 18.1 or earlier, for easy Windows 2000 and newer support on macOS</li>
          <li><a href="https://dosbox-staging.github.io/">DOSBox Staging</a>, <a href="https://dosbox-x.com/">DOSBox X</a> or <a href="https://www.dosbox.com/">DOSBox</a> for easy DOS emulation on all platforms</li>
        </ul>
        <ul>
          <li><a href="https://www.virtualbox.org/">VirtualBox</a> offers poor support for Windows NT, 2000 and better support for Windows Vista and newer on all platforms</li>
          <li><a href="https://86box.net/">86Box</a> or <a href="https://pcem-emulator.co.uk/">PCem</a> for complicated, retro PC emulation for DOS and Windows 95/98 support on most platforms</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  About Defacto2  */}}
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aboutModalLabel">About Defacto2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead"><em>defacto2.net</em> is a website committed to preserving the historic PC cracking and warez scene subcultures.</p>
        <p>
          The site is home to artifacts, including text files, demos, music, art, magazines, and other projects. 
          While a seldom-discussed topic, the warez element of the underground computer subculture could only get lost with a preservation effort. 
          The nature of historic software piracy, with a high churn, means it was a community that needed purposeful preservation.
        </p>
        <p>
          <a href="/history">Learn more on the history</a> of Defacto2.
        </p>
        <hr>
        <h4 class="text-warning-emphasis fs-5">Currently, this website at <small class="text-body-secondary"><em>test.defacto2.net</em></small> is a work in progress and read-only.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Copyright and License  */}}
<div class="modal fade" id="copyrightModal" tabindex="-1" aria-labelledby="copyrightModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fa-2x fa-as-first-letter">
          <i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i>
        </span>
        &nbsp; <h1 class="modal-title fs-5" id="copyrightModalLabel">Copyright</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">
          This site uses the Creative Commons Attribution 4.0 International license.<br>
          It enables you to use much of the website content with your projects.
        </p>
        <p>The Creative Commons Attribution 4.0 International license applied to defacto2.net is a liberal implementation of copyright. You are free to use the original content as is or modify it to your needs.</p>
        <p>The only requirement we impose is that you attribute, that is, give credit to defacto2.net for each piece of content you use. This attribution can either be placed on the content itself or distributed in a separate file within the content.</p>
        <p><a href="https://creativecommons.org/licences/by/4.0/" class="icon-link icon-link-hover link-underline link-underline-opacity-25"><svg class="bi" aria-hidden="true"><use xlink:href="{{$svgIcons}}#cc-circle"></use></svg> The CC BY 4.0 licence deed.</a></p>
        <ul class="list-unstyled">
          <li>
            <p><span class="lead">The license includes</span></p>
            <ul class="list-unstyled">
              <li><span class="text-success"><svg class="bi" width="20" height="20" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#check2"></use></svg></span> Text and database website content</li>
              <li><span class="text-success"><svg class="bi" width="20" height="20" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#check2"></use></svg></span> Images including previews and screenshots of the file artifacts*</li>
              <li><span class="text-success"><svg class="bi" width="20" height="20" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#check2"></use></svg></span> Videos hosted on defacto2 YouTube channel</li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li>
            <p><span class="lead">But the license <u>does not include</u></span></p>
            <ul class="list-unstyled">
              <li>
                <span class="text-danger"><svg class="bi" width="24" height="24" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#x"></use></svg></span> File artifacts and downloads
              </li>
              <li><span class="text-danger"><svg class="bi" width="24" height="24" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#x"></use></svg></span> Website source code and dependencies</li>
              <li>
                <span class="text-danger"><svg class="bi" width="24" height="24" fill="currentColor" aria-hidden="true"><use xlink:href="{{$svgIcons}}#x"></use></svg></span> Third party assets such as art, icons, fonts, and libraries
              </li>
            </ul>
          </li>
        </ul>
        <p class="mt-2">* <small>In some countries, the copyright for screenshots of computer software are held by the software author or owner.</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- /*  Credits  */}}
<div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="creditsModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="creditsModalModalLabel">Credits</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">
          <span class="fw-semibold text-info-emphasis">The file artifacts come from hundreds of online donations</span> or are from various digital and physical collections.
        </p>
        <p class="lead">
          Ben Garrett programs the website, and a small anonymous volunteer team maintains it.
        </p>
        <hr>
        <p>
          The core site gets built using the <a href="https://go.dev/">Go</a> programming language, the <a href="https://echo.labstack.com/">Echo</a> framework, <a href="https://github.com/volatiletech/sqlboiler">SQLBoiler</a>, and the following libraries and dependencies.
        </p>
        <dl class="row">
          <dt class="col-sm-4"><a href="https://getbootstrap.com/">Bootstrap</a></dt>
          <dd class="col-sm-8">The frontend and the user interface</dd>
          <dt class="col-sm-4"><a href="https://icons.getbootstrap.com/">Bootstrap Icons</a></dt>
          <dd class="col-sm-8">The user interface icons</dd>
          <dt class="col-sm-4"><a href="https://fossies.org/linux/httpd/docs/icons/README.html">Public domain</a></dt>
          <dd class="col-sm-8">The retro HTML3 icons</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-4"><a href="https://www.postgresql.org/">PostgreSQL</a></dt>
          <dd class="col-sm-8">The database</dd>
          <dt class="col-sm-4"><a href="https://www.digitalocean.com/">DigitalOcean</a></dt>
          <dd class="col-sm-8">The web host</dd>
        </dl>
        <p>
          The Sceners who have assets used by this website:
        </p>
        <dl class="row">
          <dt class="col-sm-4"><a href="https://demozoo.org/sceners/47321/">Antibody</a></dt>
          <dd class="col-sm-8">The Defacto2 text logo</dd>
          <dt class="col-sm-4"><a href="https://int10h.org/oldschool-pc-fonts/">VileR</a></dt>
          <dd class="col-sm-8">The web port of the IBM VGA font</dd>
          <dt class="col-sm-4"><a href="https://www.trueschool.se/">dMG</a></dt>
          <dd class="col-sm-8">The web port of the Amiga Topaz2 font</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{- end}}