{{- /*  option_os.tmpl &#x2713; */}}
{{- define "optionOS" -}}
{{- $os := (index . "platform") }}
{{- $windows := tagSel $os "windows" }}
{{- $dos := tagSel $os "dos" }}
{{- $text := tagSel $os "text" }}
{{- $textamiga := tagSel $os "textamiga" }}
{{- $ansi := tagSel $os "ansi" }}
{{- $pcb := tagSel $os "pcb" }}
{{- $pdf := tagSel $os "pdf" }}
{{- $image := tagSel $os "image" }}
{{- $audio := tagSel $os "audio" }}
{{- $video := tagSel $os "video" }}
{{- $linux := tagSel $os "linux" }}
{{- $mac10 := tagSel $os "mac10" }}
{{- $php := tagSel $os "php" }}
{{- $java := tagSel $os "java" }}
{{- $markup := tagSel $os "markup" }}
{{- $database := tagSel $os "database" }}
                <option value="" selected>Choose...</option>
                <optgroup label="Programs or apps">
                {{$windows}}for Windows PC</option>
                {{$dos}}for Dos PC</option>
                </optgroup>
                <optgroup label="Texts or documents">
                {{$ansi}}using ANSI encoding</option>
                {{$text}}for Dos (inc. CP-437 encoding)</option>
                {{$textamiga}}for Amiga</option>
                {{$pcb}}for PCBoard</option>
                {{$pdf}}PDF document</option>
                </optgroup>
                <optgroup label="Multimedia">
                {{$image}}Image or photo</option>
                {{$audio}}Music or audio</option>
                {{$video}}Video</option>
                </optgroup>
                <optgroup label="Uncommon">
                {{$linux}}Linux app</option>
                {{$mac10}}Apple Mac app</option>
                {{$php}}Shell script app</option>
                {{$java}}Java web app</option>
                {{$markup}}Html webpage</option>
                {{$database}}Database</option>
                </optgroup>
{{- end -}}