{{- /*  option_os.tmpl  */}}
{{- define "optionOS" -}}
{{- $os := (index . "platform") }}
{{- $windows := tagSel $os "windows" }}
{{- $dos := tagSel $os "dos" }}
{{- $text := tagSel $os "text" }}
{{- $textamiga := tagSel $os "textamiga" }}
{{- $ansi := tagSel $os "ansi" }}
{{- $pcb := tagSel $os "pcb" }}
{{- $pdf := tagSel $os "pdf" }}
{{- $image := tagSel $os "image" }}
{{- $audio := tagSel $os "audio" }}
{{- $video := tagSel $os "video" }}
{{- $linux := tagSel $os "linux" }}
{{- $mac10 := tagSel $os "mac10" }}
{{- $php := tagSel $os "php" }}
{{- $java := tagSel $os "java" }}
{{- $markup := tagSel $os "markup" }}
{{- $database := tagSel $os "database" }}
                <option value="" selected>Choose...</option>
                {{$windows}}Windows PC app</option>
                {{$dos}}Dos PC app</option>
                <option></option>
                {{$text}}Text Dos (or CP-437 encoding)</option>
                {{$textamiga}}Text Amiga (or Latin-1 encoding)</option>
                {{$ansi}}Text ANSI</option>
                {{$pcb}}Text PCBoard BBS</option>
                {{$pdf}}PDF document</option>
                <option></option>
                {{$image}}Image or photo (.png .jpg .gif .webp etc.)</option>
                {{$audio}}Music or audio</option>
                {{$video}}Video</option>
                <option></option>
                {{$linux}}Linux app</option>
                {{$mac10}}Apple Mac app</option>
                {{$php}}Shell script app</option>
                {{$java}}Java web app</option>
                {{$markup}}Html webpage</option>
                {{$database}}Database</option>
{{- end -}}