{{- /* 
    pagination.tmpl ~ Pagination links for the lists of artifacts.
*/ -}}
{{- define "paginationList" -}}
{{- $base := .Pagination.BaseURL }}
{{- if and (.Pagination) (gt .Pagination.SumPages 1)}}
    {{- if ge .Pagination.TwoBelow 2}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="Control ←">
        <a class="page-link" href="{{$base}}/1" id="paginationStart">1</a>
    </li>
    {{- end}}
    {{- if ge .Pagination.TwoBelow 1}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="Shift ←">
        <a class="page-link" href="{{$base}}/{{.Pagination.TwoBelow}}" id="paginationPrev2">{{.Pagination.TwoBelow}}</a>
    </li>
    {{- end}}
    {{- if ge .Pagination.PrevPage 1}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="←">
        <a class="page-link" href="{{$base}}/{{.Pagination.PrevPage}}" id="paginationPrev">{{.Pagination.PrevPage}}</a>
    </li>
    {{- end -}}
    <li class="page-item active" aria-current="page">
        <a class="page-link">{{.Pagination.CurrPage}}</a>
    </li>
    {{- if (le .Pagination.NextPage .Pagination.SumPages)}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="→">
        <a class="page-link" href="{{$base}}/{{.Pagination.NextPage}}" id="paginationNext">{{.Pagination.NextPage}}</a>
    </li>
    {{- end}}
    {{- if (le .Pagination.TwoAfter .Pagination.SumPages)}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="Shift →">
        <a class="page-link" href="{{$base}}/{{.Pagination.TwoAfter}}" id="paginationNext2">{{.Pagination.TwoAfter}}</a>
    </li>
    {{- end}}
    {{- if (lt .Pagination.TwoAfter .Pagination.SumPages)}}
    <li class="page-item" data-bs-toggle="tooltip" data-bs-title="Control →">
        <a class="page-link" href="{{$base}}/{{.Pagination.SumPages}}" id="paginationEnd">{{.Pagination.SumPages}}</a>
    </li>
    {{- end}}
{{- end}}
{{- end}}