{{- /* 
    reader.tmpl ~ TODO: This is an incomplete template file for the `/r/:id` route.
*/ -}}
{{- define "content" }}
<pre class="text-start text-bg-dark rounded font-dos px-1 py-2" style="background-color:#000;color:#fff;">
[--[{{- index . "textbody" }}]--]
</pre>
{{- end}}