{{- /*  
    releaseryear.tmpl  
    This template is for the list of the releases organized by the first year of the earliest release.
      - Releaser  /releaser/year
      - Magazines /magazine
      -  "        /magazine/a-z
      - BBS       /bbs/year
    Timelines can be found in releasertimeline.tmpl
*/ -}}
{{- define "content" }}
{{- $class := "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2"}}
{{- $editor := index . "editor"}}
{{- $eraClass := "text-start text-secondary mx-5 mb-4"}}
{{- $h1 := index . "h1"}}
{{- $orderBy := index .stats.orderBy }}
{{- $mdMissing := false}}
{{- $name := .itemName }}
{{- $path := "g" }}
{{- $prevYear := 0 }}
{{- $pubs := index .stats.pubs }}
{{- $timeline := 1981 }}
<div class="container px-4 text-center">
    <p class="text-start lead"><small>Showing {{$pubs}}{{if ne $orderBy ""}}, ordered {{$orderBy | safeHTML}}{{end}}.</small></p>
{{- range $index, $rel := .releasers -}}
    {{- if and (ne $h1 "BBS") (ne $h1 "FTP") (eq true $editor)}}{{- $mdMissing = tidbitMissing $rel.Unique.URI }}{{end}}
    {{- $year := $rel.Unique.Year.Int }}
    {{- $difference := sub $prevYear $year}}
    {{- $displayYear := or (eq $prevYear 0) (gt $year $prevYear)}}
    {{- $initialism := initialisms $rel.Unique.URI }}
  {{- /* conditionals must always begin after these vars */ -}}
  {{- if $displayYear }}
    <!-- this case will only match years that exist in the fetched records -->
    {{- if ne $index 0}}</div><!-- this is the closing element -->{{ end }}
    {{- if gt $difference 1 }}
      <!-- we iterate through any missing years -->
      {{- range yearRange $prevYear $year }}
        <h3 class="text-end fw-light fs-4 mt-3 me-3">{{.}}</h3>
        {{- template "timeline" . }}
      {{- end }}
    {{- end }}
    <!-- but also display timelines of the years with artifact records -->
    <h3 class="text-end display-6 mt-3 p-3">{{$year}}</h3>
    {{- template "timeline" $year }}
    <div class="{{$class}}"><!-- this is the opening element -->
  {{- end}}
        <div class="col">
            <div class="p-3 border bg-light h-100 rounded-1">
              <h5><a href="/{{ $path }}/{{ $rel.Unique.URI }}">{{fmtURI $rel.Unique.URI}}</a></h5>
              <span class="text-muted">{{ $initialism }} &nbsp; </span>
              {{- byteFileS $name $rel.Unique.Count $rel.Unique.Bytes }}
{{- if eq $mdMissing true }}
            <small class="badge rounded-pill text-bg-warning">❌ markdown</small>{{end}}
            </div>
        </div>
    {{- $prevYear = $year }}
{{- end}}
</div>
{{- end }}
