{{- /*  
    releaseryear.tmpl  
    This template is for the list of the releases organized by the first year of the earliest release.
      - Releaser  /releaser/year
      - Magazines /magazine
      -  "        /magazine/a-z
      - BBS       /bbs/year
    Timelines can be found in releasertimeline.tmpl
*/ -}}
{{- define "content" }}
{{- $path := "g" }}
{{- $name := .itemName }}
{{- $pubs := index .stats.pubs }}
{{- $orderBy := index .stats.orderBy }}
{{- $prevYear := 0 }}
{{- $timeline := 1981 }}
{{- $class := "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2"}}
{{- $eraClass := "text-start text-secondary mx-5 mb-4"}}
<div class="container px-4 text-center">
    <p class="text-start lead"><small>Showing {{$pubs}}{{if ne $orderBy ""}}, ordered {{$orderBy | safeHTML}}{{end}}.</small></p>
{{- range $index, $rel := .releasers -}}
    {{- $initialism := initialisms $rel.Unique.URI }}
    {{- $year := $rel.Unique.Year.Int }}
    {{- $displayYear := or (eq $prevYear 0) (gt $year $prevYear)}}
    {{- /* conditionals must always begin after these vars */ -}}
  {{- if $displayYear }}
    <!-- this case will only match years that exist in the fetched records -->
    {{- if ne $index 0}}</div><!-- this is the closing element -->{{ end }}
    {{ template "timeline" $year }}
    <div class="{{$class}}"><!-- this is the opening element -->
  {{- end}}
        <div class="col">
            <div class="p-3 border bg-light h-100 rounded-1">
              <h5><a href="/{{ $path }}/{{ $rel.Unique.URI }}">{{fmtURI $rel.Unique.URI}}</a></h5>
              <span class="text-muted">{{ $initialism }} &nbsp; </span>
              {{- byteFileS $name $rel.Unique.Count $rel.Unique.Bytes }}
            </div>
        </div>
    {{- $prevYear = $year }}
{{- end}}
</div>
{{- end }}
