{{/*  releaser.html  */}}
{{- define "content" }}
{{- $path := "" }}
{{- $name := index .itemName}}
<div class="container px-4 text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-col-md-3 g-2">
{{ range $index, $value := .sceners -}} 
        <div class="col">
            <div class="p-3 border bg-light"><h5><a href="/html3/{{ $path }}/{{ $value.Unique.URI }}">{{$value.Unique.Name}}</a></h5> {{ cntNameFmt $name $value.Unique.Count  $value.Unique.Bytes }}</div>
        </div>
{{- end}}
    </div>
</div>
{{- end }}