{{/*  releaser.tmpl  */}}
{{- define "content" }}
{{- $path := "g" }}
{{- $name := index .itemName}}
{{- $pubs := index .stats.pubs }}
{{- $issues := index .stats.issues }}
{{- $years := index .stats.years}}
<div class="container px-4 text-center">
    <p class="text-start lead"><small>There are {{$pubs}} with {{$issues | safeHTML}} 
        from {{$years}}.</small></p>
    <div class="row row-cols-1 row-cols-sm-2 row-col-md-3 g-2">
{{- range $index, $rel := .releasers -}}
{{- $title := fmtURI $rel.Unique.URI }}
{{- $initialism := initalisms $rel.Unique.URI }}
        <div class="col">
            <div class="p-3 border bg-light"><h5><a href="/{{ $path }}/{{ $rel.Unique.URI }}">{{trimSiteSuffix $title}}</a></h5>
            <span class="text-muted">{{ $initialism }} &nbsp; </span>
            {{- byteFileS $name $rel.Unique.Count $rel.Unique.Bytes }}</div>
        </div>
{{- end}}
    </div>
</div>
{{- end }}