{{/*  search.tmpl  */}}
{{- define "content" }} 
<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="card border-dark mb-3 p-3">      
            <div class="card-body">
                <h5 class="card-title text-info-emphasis fs-2 lead">{{index . "title"}}</h5>
                <p class="card-text">
<form class="row g-3" method="post">
<input class="form-control form-control" list="datalistOptions" id="relDataList" name="releaser-data-list" placeholder="Type to search for a releaser...">
<datalist id="datalistOptions">
{{- range $index, $name := index . "releasers"}}
<option value="{{$name}}">{{- end}}
</datalist>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary me-md-3">Submit</button>
    <button type="reset" class="btn btn-outline-dark">Clear</button>
</div>
</form>
                </p>
            </div>
        </div>
    </div>
</div>
{{- end }}