{{- /* 
    searchhtmx.tmpl ~ Search results using htmx.
*/ -}}
{{- define "content" }} 
{{- $hxpost := index . "hxPost" }}
{{- $placeholder := index . "inputPlaceholder" }}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-6">
        <div class="card border-dark mb-3">      
            <div class="card-body">
                <h5 class="card-title text-info-emphasis fs-2 lead">
                    {{index . "title"}}<br>
                    <small class="fs-5 fw-lighter">{{index . "info"}}</small>
                </h5>
                <p class="card-text">
                <div class="input-group">
                    <div class="input-group-text">
                        <div id="search-htmx-indicator" class="htmx-indicator spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    {{/*  
                        1. use "input changed" to allow triggering from copy/paste text.
                        2. use "delay:500ms" to reduce the number of requests.
                        3. use "type:search" purely for asthetics.
                        4. autofocus is used as the search is the main focus.
                        5. spellcheck is disabled to prevent red underlines with oddball scene names.
                        6. hx-post is a requirement otherwise the search will signifcantly slow down.
                    */}}
                    <input class="form-control"  type="search"
                        spellcheck="false" autofocus
                        name="htmx-search" placeholder="{{$placeholder}}"
                        id="search-htmx-input"
                        hx-post="{{$hxpost}}"
                        hx-trigger="input changed delay:500ms, search"
                        hx-target="#search-htmx-results"
                        hx-indicator="#search-htmx-indicator">
                    <button type="button" id="search-htmx-clear" class="btn btn-dark">Clear</button>
                </div>
                </p>
            </div>
        </div>
        <div id="search-htmx-alert" class="alert alert-danger d-none" role="alert"></div>
    </div>
    <div class="col-lg-12" id="search-htmx-results"></div>
</div>
{{- end }}