{{- /* 
    searchpost.tmpl ~ Search form for artifacts.
*/ -}}
{{- define "content" }} 
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-6">
        <div class="card border-dark">      
            <div class="card-body">
                <h5 class="card-title text-info-emphasis fs-2 lead">
                    {{index . "title"}}<br>
                    <small class="fs-5 fw-lighter">{{index . "info"}}</small>
                </h5>
                <p class="fs-6">
                    {{- if eq (index . "title") "Game and program title search"}}
                        use commas for multiple queries: <code>ultima 7, ultima 8</code>
                    {{- else}}
                        use commas for multiple queries: <code>.iff, .tif, read.me</code>
                    {{- end}}
                </p>
                <div class="card-text p-0">
                <form class="row g-3 p-0" method="post">
                    <div class="col-12">
                        <input autofocus class="form-control" id="relDataList" name="search-term-query" placeholder="Type in the search terms…">
                    </div>
                    <div class="col-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-around" role="group">
                            <button type="submit" class="btn btn-outline-primary w-100">Submit</button>
                            <button type="reset" class="btn btn-outline-dark">Clear</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{- end }}
