{{- /* signin.tmpl */}}
{{- define "content" }}
{{- $client := (index . "clientID") }}
{{- $callback := (index . "callback") }}
{{- /*  todo info  */}}
<script src="https://accounts.google.com/gsi/client" async></script>
{{/*  operator / sign-in  */}}
<div class="row justify-content-md-center">
    <div id="g_id_onload"
        data-client_id="{{$client}}"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="{{$callback}}"
        data-nonce=""
        data-itp_support="true">
    </div>
    <p>
        The privacy policy of Defacto2 does not apply to the sign-in page.
        <br>
        If you formerly had a Defacto2 operator account, please sign-in to obtain your numeric Google account unique identifier and 
        <a href="#" data-bs-toggle="modal" data-bs-target="#emailModal">contact Defacto2</a> for new signup. 
    </p>
    <div class="m-3 g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
</div>
{{- end }}