{{- /* signout.tmpl */}}
{{- define "content" }}
<div class="lead text-center py-5">
    <a href="/signedout" class="link-offset-3 link-underline link-underline-opacity-25">Sign out of Defacto2 and exit the editor mode</a>
</div>
{{- end }}