{{- /* signin.tmpl */}}
{{- define "content" }} 
<script src="https://accounts.google.com/gsi/client" async></script>
<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="card border-dark mb-3 p-3">      
            <div class="card-body">
                <h5 class="card-title text-info-emphasis fs-2 lead">
                    {{index . "title"}}<br>
                    <small class="fs-5 fw-lighter">{{index . "info"}}</small>
                </h5>
                <p class="card-text">

    <div
    id="g_id_onload"
    data-client_id="{{.ClientID}}"
    data-login_uri="{{.CallbackUrl}}">
</div>
<div
    class="g_id_signin"
    data-type="standard"
    data-theme="filled_blue"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-width="200"
    data-logo_alignment="left"></div>
                </p>
            </div>
        </div>
    </div>
</div>
{{- end }}