{{/*  the_scene.html  */}}
{{- define "content" }}
<p class="lead">Historically, <q>The Scene</q> consisted of communities of computer users engaged in particular activities but often loosely grouped.</p>
<p>
    The loose grouping of Scene activities comes from the era when the Internet was inaccessible to the general public. 
    <a href="https://en.wikipedia.org/wiki/Bulletin_board_system">Bulletin Board Systems</a> were the principal means for savvy computer users to connect online, communicate and exchange data. 
    To encourage more people to use their services, boards often hosted various computer-specific activities and subjects. 
    It led to online communities engaged in some intertwined topics that evolved, were grouped, and became the Scene.
</p>
<p class="display-6"><small>The dark underground</small></p>
<dl class="row">
    <dt class="col-sm-3">Cracking</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Warez</dt>
    <dd class="col-sm-9">
        Cracking is the art of modifying software for a particular purpose.
        It can vary widely from the simple act of <a href="https://en.wikipedia.org/wiki/Trainer_(games)">creating cheats for video games</a> (trainers) to the removal of <a href="https://en.wikipedia.org/wiki/Copy_protection">sophisticated software copy protection</a>.
        The sharing of software with its copy-protection removed <a href="https://en.wikipedia.org/wiki/Warez">gets defined as <strong>warez</strong></a>. 
        In the early days of microcomputing, the removal of copy protection by cracking software was not unlawful. 
        However, this has long since changed, and the sharing of commercial software and media for free is illegal.
    </dd>
    <dt class="col-sm-3">Hacking</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">HPAV</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Computer phreaking</dt>
    <dd class="col-sm-9">
        <a href="https://en.wikipedia.org/wiki/Hacker">Hacking</a> should not be confused with software cracking, it is the unorthodox manipulation or exploration of most things computer-related.
        Online texts and tools for hacking were often combined with those on phreaking, anarchy, and computer virus creation, using the h/p/a/v classification.
        Today this grouping has fallen out of favor, especially the modern association of <a href="http://textfiles.com/anarchy/">anarchy text files</a> and <a href="http://textfiles.com/virus/">computer viruses</a> that get misconstrued for activities against nation-states.
    </dd>
    <dt class="col-sm-3">Phone phreaking</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Phreaking</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Blue boxing</dt>
    <dd class="col-sm-9">
        <a href="https://en.wikipedia.org/wiki/Phreaking">Phone phreaking</a> is the redundant and illegal art of land-line telephone network exploitation to obtain free calls. 
        It was used in the pre-home-Internet, <a href="https://en.wikipedia.org/wiki/Bulletin_board_system">Bulletin Board Systems</a> era to avoid the prohibitively expensive costs of time-consuming long-distance calling to network computers.
    </dd>
</dl>
<p>
    As of 2022, a couple of professional published books cover The Scene and its influences on modern online culture.
    <a href="https://punctumbooks.com/titles/warez-the-infrastructure-and-aesthetics-of-piracy/">The Infrastructure and Aesthetics of Piracy</a>
     and <a href="https://yalebooks.yale.edu/book/9780300248142/modem-world/">The Modem World: A Prehistory of Social Media</a>.
</p>
<p>
    Author of <a href="https://mitpress.mit.edu/9780262535694/the-future-was-here/">The Future Was Here - The Commodore Amiga</a>, 
    Jimmy Maher, has written two excellent articles on early pirating and the pirate scenes on both the Apple II and Commodore 64 computers.
    <a href="https://www.filfre.net/2015/12/a-pirates-life-for-me-part-1-dont-copy-that-floppy/">A Pirate’s Life for Me, Part 1: Don’t Copy That Floppy!</a></li> and 
    <a href="https://www.filfre.net/2016/01/a-pirates-life-for-me-part-2-the-scene/">A Pirate’s Life for Me, Part 2: The Scene</a>.
</p>
<p class="display-6"><small>The creative underground</small></p>
<dl class="row">
    <dt class="col-sm-3">Art</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Pixel, raster, VGA</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">ANSI, BBS art</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">ASCII</dt>
    <dd class="col-sm-9">
        Art is the creation of computer-based artwork using digital media and different techniques.
        The most common forms of this medium are pixel, raytracing, ASCII, and ANSI art.
    </dd>
    <dt class="col-sm-3">Demoscene</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Intros</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Demos</dt>
    <dd class="col-sm-9">
        <a href="https://en.wikipedia.org/wiki/Demoscene">Demoscene</a> participants combine art, music and programming trickery to create a visually appealing, non-interactive computer program demonstration.
    </dd>
    <dt class="col-sm-3">Music</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">Chiptune</dt>
    <dd class="col-sm-9"></dd>
    <dt class="col-sm-3">MOD</dt>
    <dd class="col-sm-9">
        <a href="https://en.wikipedia.org/wiki/Demoscene">Demoscene</a> music is a form of electronic music that is created to demonstrate the capabilities of a computer.
        It is composed using <a href="https://en.wikipedia.org/wiki/Tracker_(music_software)">tracker software</a> and is often a type of <a href="https://en.wikipedia.org/wiki/Chiptune">chiptune</a> music.
    </dd>
    <dt class="col-sm-3">Emulation</dt>
    <dd class="col-sm-9">
        Emulation is the creation of software that simulates hardware to run platform-specific software on different machines. 
        For example, a Sony PlayStation emulator for Windows enables technically incompatible PlayStation games to play on a Microsoft Windows computer.
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3"><a href="https://demozoo.org/">Demozoo</a></dt>
    <dd class="col-sm-9">
        <a href="https://demozoo.org/">Demozoo</a> is the world's largest database of Scene-produced productions covering all fields, including art, demo, music, people, groups, and BBSes.
    </dd>
    <dt class="col-sm-3"><a href="https://www.pouet.net/">Pouet</a></dt>
    <dd class="col-sm-9">
        <a href="https://www.pouet.net/">Pouet</a> is a database of Scene-produced productions, including demos, intros, and music.
    </dd>
    <dt class="col-sm-3"><a href="https://16colo.rs/">16colors</a></dt>
    <dd class="col-sm-9">
        <a href="https://16colo.rs/">16colo.rs</a> is the online gallery for ASCII, ANSI, and other text-based art forms. 
        It is probably the most active corner on the Internet for ASCII art and its artists.
    </dd>
    <dt class="col-sm-3"><a href="https://files.scene.org">Scene.org</a></dt>
    <dd class="col-sm-9">
        The files at <a href="https://files.scene.org">Scene.org</a> is most likely the largest repository of scene art on the Internet.
        Its primary purpose is to host files, so there is no fluff such as user ratings or reviews.
        It is an excellent resource when knowing what to find but a little daunting for everyone else.
    </dd>
    <dt class="col-sm-3"><a href="https://text-mode.org">text-mode.org</a></dt>
    <dd class="col-sm-9">
        The <a href="https://text-mode.org">text-mode</a> website is a Tumblr style gallery that takes classical text art and looks at how it relates to a modern context.
    </dd>
</dl>
{{- end}}