{{- /* 
    titles.tmpl ~ Titles are important template.
*/ -}}
{{- define "content" }}
<p class="lead">
    Titles are important, <u>bad titles make it hard to dupe check future uploads</u>.<br>
    <span class="text-primary-emphasis">
      The current site policy is to keep titles simple, concise and clean.<br>
      Game titles should match the publisher's official name.
    </span>
</p>
<div>
    <p class="lead">Bad examples:</p>
    <ol class="list-numbered">
        <li><q>Microsoft Visual Studio for WinNT V1.1001.1</q></li>
        <li><q>INC cracktro for EA's Sim City 2000!</q></li>
        <li><q>Zool 2 by Virgin Interactive +16 MEGA trainer</q></li>
        <li><q>Microsoft Windows 95 4.00.950 *STORE RELEASE FINAL*</q></li>
        <li><q>EA NFL 98 100% BYTE PATCHED AND WORKING</q></li>
    </ol>
    <p class="lead">Good examples:</p>
    <ol class="list-numbered">
        <li><q>Visual Studio v1.1</q></li>
        <li><q>Sim City 2000</q></li>
        <li><q>Zool 2</q></li>
        <li><q>Windows 95</q></li>
        <li><q>NFL 98 fix</q></li>
    </ol>
</div>
<div>
  <em>Why not copy and paste the NFO, file_diz.diz, or directory path?</em>
  <p>
  It's pretty common for packaged releases to have incorrect or mismatched information, 
  spelling mistakes, or to use lazy acronyms.
  And it is much better to be able to run a single search for "Sim City 2000" and get all the results,
  rather than needing to guess the possible name variations, "simcity 2000" "sim city 2000" "simcity 2k" etc.
  </p>
  <p>
    For example, this <a href="/f/aa1d41e">release</a> has <em>TINTIN</em> for the diz and the incorrect title <em>Spirou</em> for the NFO, but the proper name is <em>The Adventures of Tintin : Prisoners of the Sun</em>.
    <br>This <a href="/f/ad24ace">release</a> for the reprinting of the two first X-com games forgot to include a title in the NFO.
    <br>This <a href="/f/ae273de">release</a> uses the meaningless, <em>JNG 4 Course Addon</em> in the diz and a spelling mistake for the NFO, <em>Jack <mark>Nickalaus</mark> Golf 4</em>, which wouldn't result with a 
    <a href="/search/desc">search</a> for <q>Jack&nbsp;Nicklaus</q>.
  </p>
</div>
<h4>Our naming and title guide</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Don't use any of these text styles:<br>ALL CAPS<br>copy_and_pasted.directory.names<br>illegible 1337 text<br>filenames</li>
    <li class="list-group-item">List the <strong>name</strong> of the game or application <strong>before</strong> any supplementary info.</li>
    <li class="list-group-item">Do not include the publisher as these can attract DMCA take downs when shown on search engines.<br><small class="text-body-secondary">Exceptions for generic named products, ie: <q>Norton Backup</q> <q>Atari Football</q>.</small></li>
    <li class="list-group-item">Use the prefix <q>fix</q> when needed.<br><small class="text-body-secondary">But avoid too specific terms like <q>cracked</q>, <q>patched</q>, <q>bytecrack</q>, <q>hack</q>, etc.</small></li>
    <li class="list-group-item">Don't include unnecessary information.<br><small class="text-body-secondary">Semantic software versions, build numbers; or release justifications, <q>100% final</q>, <q>US release</q>, <q>multilanguage</q>, etc.</small></li>
    <li class="list-group-item">Don't include redundant information.<br><small class="text-body-secondary">Words such as <q>trainer</q>, <q>installer</q>, <q>cracktro</q>, <q>keymaker</q>, <q>serial generator</q>, using the group name, etc.</small></li>
    <li class="list-group-item">Only ignore the above when it is required for the clarity of the artifact.</li>
    <li class="list-group-item">It's fine to have an empty title if the other artifact metadata or screenshot provides enough information.
        <br><small class="text-body-secondary">Text and image art, courier group NFOs, BBS ads, etc., often don't need a title.</small>
    </li>
</ul>
{{- end}}
