{{- /* 
    uploader.tmpl ~ About the uploader modal dialog.
*/ -}}
{{- define "uploader" -}} 
    <div class="modal fade" id="uploader-about" tabindex="-1" aria-labelledby="uploader-about-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="uploader-about-label">About the Uploader</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Do you have any Scene files that Defacto2 could use? You can use our Uploader to send us files we should host. 
              A person manually approves all uploads, which may take time to be available on the site.
              <u>But no inappropriate files or modern programs that the break the <abbr title="Digital Millennium Copyright Act">DMCA</abbr></u>.
            </p>
            <p><a href="https://github.com/Defacto2/defacto2.net/wiki/Wanted-uploads">Check out the wanted files</a>.</p>
            <p>There is a 100MB per file upload limit. Please <a href="#" data-bs-toggle="modal" data-bs-target="#emailModal">contact us</a> if you need access to an SFTP server to bypass this limit.</p>
            <hr>
            <div class="lead"><small>Uploader keyboard shortcuts</small></div>
            <div class="mt-1 mb-2"><kbd>ctrl</kbd> <strong>+</strong> <kbd>alt</kbd> <strong>+</strong></div>
            <div class="row">
              <div class="col">
                <kbd>d</kbd> &nbsp; <small>demozoo productions</small><br>
                <kbd>p</kbd> &nbsp; <small>pouet productions</small><br>
                <kbd>i</kbd> &nbsp; <small>intro, cracktro, bbstros</small><br>
                <kbd>t</kbd> &nbsp; <small>Trainer or installer app</small><br>
              </div>
              <div class="col">
                <kbd>n</kbd> &nbsp; <small>nfo, ansi, text</small><br>
                <kbd>g</kbd> &nbsp; <small>graphic, photo, artworks</small><br>
                <kbd>m</kbd> &nbsp; <small>magazines</small><br>
                <kbd>a</kbd> &nbsp; <small>advance uploader</small><br>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{{- end -}}