{{- /*  uploader.tmpl  */}}
{{- define "uploader" -}} 
{{- /*  About the Uploader */}}
    <div class="modal fade" id="uploaderAbout" tabindex="-1" aria-labelledby="uploaderAboutLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="uploaderAboutLabel">About the Uploader</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Do you have any files that Defacto2 could use?
              You can use our Uploader to send us files we should host.
            </p>
            <p>
              A human manually approves all uploads, so it may take time for them to be available on the site.
            We will filter through what we can use: cracktros, intros, magazines, reports, text files, documents, articles, artwork or Scene related.</p>
            <p><strong>But nothing unlawful or inappropriate</strong>.</p>
            <p><a href="https://github.com/Defacto2/defacto2.net/wiki/Wanted-uploads">Wanted uploads</a></p>
            <hr>
            <div class="lead">Uploader keyboard shortcuts</div>
            <div class="my-1"><kbd>ctrl</kbd> <strong>+</strong> <kbd>alt</kbd> <strong>+</strong></div>
            <kbd>d</kbd> &nbsp; <small>demozoo productions</small><br>
            <kbd>p</kbd> &nbsp; <small>pouet productions</small><br>
            <kbd>i</kbd> &nbsp; <small>intro, cracktro, bbstros</small><br>
            <kbd>n</kbd> &nbsp; <small>nfo, ansi, text</small><br>
            <kbd>g</kbd> &nbsp; <small>graphic, photo, artworks</small><br>
            <kbd>m</kbd> &nbsp; <small>magazines</small><br>
            <kbd>a</kbd> &nbsp; <small>advance uploader</small><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{{- end -}}