{{- /*  uploaderHtmx.tmpl  */}}
{{- define "uploaderHtmx" -}}
    <div class="modal fade" id="uploader-demozoo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploader-demozoo-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="uploader-demozoo-label">Demozoo production or graphic</h1>
              <button type="button" id="demozoo-submission-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <p>
                  Know a <a href="https://demozoo.org/productions/?platform=1">Windows</a>, 
                  <a href="https://demozoo.org/productions/?platform=4">MS-Dos</a> production or a 
                  <a href="https://demozoo.org/graphics/">graphic</a> on <a href="https://demozoo.org">Demozoo</a> that should be on this site?
                  Submit its ID.
                </p>
                <label for="demozoo-submission" id="demozoo-submission-label" class="form-label">Demozoo production ID</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <div id="demozoo-indicator" class="htmx-indicator spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <input type="number" spellcheck="false" autofocus required min="1" max="{{ demozooSanity }}" value=""
                        class="form-control" id="demozoo-submission" name="demozoo-submission" 
                        hx-post="/demozoo/production" 
                        hx-target="#demozoo-submission-results" 
                        hx-trigger="input changed delay:500ms, search" 
                        hx-indicator="#demozoo-indicator"
                        hx-validate="true"
                        placeholder="Lookup a production…">
                    <button type="reset" id="demozoo-submission-clear" class="btn btn-outline-dark">Clear</button>
                </div>
              </form>
              <div id="demozoo-submission-error" class="d-none text-danger mt-3"></div>
              <div id="demozoo-submission-results" class="justify-content-center mt-3"></div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="uploader-pouet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploader-pouet-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="uploader-pouet-label">Pouët production</h1>
            <button type="button" id="pouet-submission-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <p>
                Know a <a href="https://www.pouet.net/prodlist.php?platform%5B%5D=Windows&page=1">Windows</a>, 
                <a href="https://www.pouet.net/prodlist.php?platform%5B%5D=MS-Dos&page=1">MS-Dos</a> production 
                on <a href="https://www.pouet.net">Pouët</a> that should be on this site? Submit its ID.
              </p>
              <label for="pouet-submission" id="pouet-submission-label" class="form-label">Pouët production ID</label>
              <div class="input-group">
                  <div class="input-group-text">
                      <div id="pouet-indicator" class="htmx-indicator spinner-border spinner-border-sm text-secondary" role="status">
                          <span class="visually-hidden">Loading...</span>
                      </div>
                  </div>
                  <input type="number" spellcheck="false" autofocus required min="1" max="{{ demozooSanity }}" value=""
                      class="form-control" id="pouet-submission" name="pouet-submission" 
                      hx-post="/pouet/production" 
                      hx-target="#pouet-submission-results" 
                      hx-trigger="input changed delay:500ms, search" 
                      hx-indicator="#pouet-indicator"
                      hx-validate="true"
                      placeholder="Lookup a production…">
                  <button type="reset" id="pouet-submission-clear" class="btn btn-outline-dark">Clear</button>
              </div>
            </form>
            <div id="pouet-submission-error" class="d-none text-danger mt-3"></div>
            <div id="pouet-submission-results" class="justify-content-center mt-3"></div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="uploader-intro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploader-intro-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="uploader-intro-label">Intro, Cracktro, BBS/FTPtro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="uploader-intro-form" 
                  hx-encoding="multipart/form-data" 
                  hx-post="/uploader/intro"
                  hx-target="#search-results">
              {{/*  <div class="btn-group mb-3 w-100" role="group" aria-label="Basic radio toggle button group">
                <span class="input-group-text">Operating system &nbsp; </span>
                <input type="radio" value="windows" class="btn-check" name="uploader-intro-operating-system" id="uploader-intro-windows" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="uploader-intro-windows" data-bs-toggle="tooltip" data-bs-placement="top" 
                    data-bs-title="Microsoft Windows">Windows PC</label>
                <input type="radio" value="msdos" class="btn-check" name="uploader-intro-operating-system" id="uploader-intro-msdos" autocomplete="off">
                <label class="btn btn-outline-primary" for="uploader-intro-msdos" data-bs-toggle="tooltip" data-bs-placement="top" 
                    data-bs-title="IBM PC or MS-DOS compatible">Dos PC</label>
              </div>  */}}
              <div class="form-floating mb-3">
                <input type="text" name="title" class="form-control" id="uploader-intro-title" aria-describedby="uploader-intro-title-help" placeholder="example: 500000th release!">
                <label for="uploader-intro-title">Title</label>
                <div id="uploader-intro-title-help" class="form-text">An optional brief description or name of the release</div>
              </div>      
              <div class="mb-4">
                <label for="uploader-intro-releasers" class="form-label">Releasers <small>maximum of 2</small></label>
                <div class="input-group mb-3">
                  <input type="text" list="browsers" name="uploader-intro-releasers" class="form-control" id="uploader-intro-releasers" 
                      aria-describedby="uploader-intro-releasers-help" placeholder="example: Razor 1911" 
                      hx-post="/uploader/releasers" 
                      hx-trigger="input changed" 
                      hx-target="#browsers" 
                      required>
                  <span class="input-group-text">+</span>
                  <input type="text" list="browsers-b" name="uploader-intro-releasers-b" class="form-control" id="uploader-intro-releasers-b" 
                      aria-describedby="uploader-intro-releasers-help" placeholder="example: Titan" 
                      hx-post="/uploader/releasers-b" 
                      hx-trigger="input changed" 
                      hx-target="#browsers-b" 
                      required>
                </div>
                <datalist id="browsers"></datalist>
                <datalist id="browsers-b"></datalist>
                <div id="uploader-intro-releasers-help" class="form-text">
                  A releaser can be a group name, bbs name or ftp site<br>
                  A bbs name or ftp site must end with <q>BBS</q> or <q>FTP</q><br>
                  example: <q>Dark Domain BBS</q> or <q>Dark Domain FTP</q>
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Year and month of release</span>
                <input type="number" name="release-year" min="1980" max="{{exampleYear}}" id="introYear" aria-label="Year of release" class="form-control input-date" placeholder="{{exampleYear}}">
                <input type="number" name="release-month" min="1" max="12" id="introMonth" aria-label="Month of release" class="form-control input-date" placeholder="{{exampleMonth}}">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="uploader-intro-youtube-help">YouTube video ID</span>
                <input type="text" name="youtube" minlength="11" maxlength="11" class="form-control" id="uploader-intro-youtube" aria-describedby="uploader-intro-youtube-help" spellcheck="false">
              </div>
              <div class="row g-2">
                <div class="input-group mt-3">
                  <input type="file" name="intro-file" class="form-control" id="uploader-intro-file" required>
                </div>
                <progress id="uploader-intro-progress" value="0" max="100"></progress>
                <button id="uploader-intro-submit" class="btn btn-outline-success">Upload</button>     
                <div class="col text-start mt-3">
                  <div class="form-check">
                    <label class="form-check-label" for="introCF">
                      Clear form after submit
                    </label>
                    <input class="form-check-input" type="checkbox" id="introCF" disabled>
                  </div> 
                </div>
                <div class="col text-end">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="reset" id="introReset" class="btn btn-outline-danger">Reset</button>
                </div>
              </div>
              <div class="col-lg-8" id="search-results"></div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
{{- end }}