{{- /*  uploaderHtmx.tmpl  */}}
{{- define "uploaderX" -}}
    {{- /*  Submit a Demozoo production using htmx */}}
    <div class="modal fade" id="uploaderDZX" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploaderDZXLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="uploaderDZXLabel">Demozoo production or graphic</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <p>
                  Know a <a href="https://demozoo.org/productions/?platform=1">Windows</a>, 
                  <a href="https://demozoo.org/productions/?platform=4">MS-Dos</a> production or a 
                  <a href="https://demozoo.org/graphics/">graphic</a> on <a href="https://demozoo.org">Demozoo</a> that should be on this site?
                  Submit its ID.
                </p>
                <label for="demozoo-submission" id="demozoo-submission-label" class="form-label">Demozoo production ID</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <div id="demozoo-indicator" class="htmx-indicator spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <input type="number" spellcheck="false" autofocus required min="1" max="500000" value=""
                        class="form-control" id="demozoo-submission" name="demozoo-submission" 
                        hx-post="/demozoo/production" 
                        hx-target="#demozoo-submission-results" 
                        hx-trigger="keyup changed delay:500ms" 
                        hx-indicator="#demozoo-indicator"
                        hx-validate="true"
                        placeholder="Lookup a production…">
                    <button type="reset" id="demozoo-submission-clear" class="btn btn-outline-dark">Clear</button>
                </div>
              </form>
            </div>
            <div class="modal-footer justify-content-start">
                <div id="demozoo-submission-error" class="d-none text-danger"></div>
                <div id="demozoo-submission-results" class=""></div>
            </div>
          </div>
        </div>
      </div>
<script defer>
    const input = document.getElementById("demozoo-submission");
    const clear = document.getElementById("demozoo-submission-clear");
    const alert = document.getElementById("demozoo-submission-error")
    const results = document.getElementById("demozoo-submission-results");
    document.body.addEventListener('htmx:beforeRequest', function (evt) {
      results.innerHTML = "";
      alert.innerText = "";
      alert.classList.add("d-none");
    });
    document.body.addEventListener('htmx:afterRequest', function (evt) {
        if(evt.detail.elt === null || evt.detail.elt.id !== "demozoo-submission") {
            return;
        }
        if (evt.detail.successful) {
            alert.classList.add("d-none");
            alert.innerText = "";
            return;
        }
        if (evt.detail.failed && evt.detail.xhr) {
            const xhr = evt.detail.xhr;
            if (xhr.status === 404) {
                results.innerText = `Production not found on Demozoo.`;            
                alert.classList.add("d-none");
                alert.innerText = "";
                return;
            }
            alert.innerText = `Something went wrong, ${xhr.status} status: ${xhr.responseText}.`;
            alert.classList.remove("d-none");
            return;
        }
        alert.innerText = "Something with the browser is not working, please refresh the page.";
        alert.removeAttribute("hidden");
    });
    clear.addEventListener("click", function() {
        input.value = "";
        input.focus();
        const alert = document.getElementById("demozoo-submission-error");
        input.innerHTML = "";
        const results = document.getElementById("demozoo-submission-results");
        results.innerHTML = "";
    });
</script>
{{- end }}