{{- /* 
    website.tmpl ~ Template for displaying a website card.
*/ -}}
{{- define "website"}}
            <div class="col">
                <div class="card h-100 shadow-sm rounded-3 border-0">
                    <div class="card-body">
                        {{- $parts := stripSup .Title }}
                        <h5 class="card-title mb-3 lead">{{ $parts.text }}</h5>
                        <p class="card-text lh-base mb-4 text-muted">{{ .Info }}</p>
                        <a href="{{ .URL }}" class="icon-link icon-link-hover stretched-link">{{websiteIcon .URL}} Visit {{ $parts.text }}</a> {{ $parts.sup }}
                    </div>
                </div>
            </div>
{{- end -}}
