{{/*  website.html  */}}
{{- define "website" -}}
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Info }}</p>
            <a href="{{ .URL }}" class="btn btn-outline-secondary icon-link icon-link-hover">
                Go surf 
                <svg class="bi" aria-hidden="true"><use xlink:href="bootstrap-icons.svg#arrow-right"></use></svg>
            </a>
        </div>
    </div>
</div>
{{end}}