{{- /* 
    website.tmpl ~ Template for displaying a website card.
*/ -}}
{{- define "website"}}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        {{- $parts := stripSup .Title }}
                        <h5 class="card-title mb-3">{{ $parts.text }}</h5>
                        <p class="card-text lh-lg mb-4">{{ .Info }}</p>
                        <a href="{{ .URL }}" class="icon-link icon-link-hover">{{websiteIcon .URL}} Visit {{ $parts.text }}</a> {{ $parts.sup }}
                    </div>
                </div>
            </div>
{{- end -}}