{
  "openapi": "3.0.0",
  "info": {
    "title": "Defacto2 API",
    "description": "A RESTful API for accessing historical Scene data and digital culture. Provides both HTML and plain text content formats for API consumers.",
    "version": "1.0.0",
    "contact": {
      "name": "Defacto2 API Support",
      "url": "https://defacto2.net"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://defacto2.net/api",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "milestones",
      "description": "Operations related to historical milestones and significant events"
    },
    {
      "name": "areacodes",
      "description": "Operations related to North American Numbering Plan telephone area codes"
    },
    {
      "name": "files",
      "description": "Operations related to artifact files and categories"
    },
    {
      "name": "categories",
      "description": "Operations related to artifact categories"
    },
    {
      "name": "platforms",
      "description": "Operations related to artifact platforms (ANSI, Audio, DOS, Windows, Linux, Java, macOS, etc.)"
    }
  ],
  "paths": {
    "/api/milestones": {
      "get": {
        "tags": ["milestones"],
        "summary": "Get all milestones",
        "description": "Returns a complete list of all historical milestones with clean HTML and plain text content.",
        "operationId": "getAllMilestones",
        "responses": {
          "200": {
            "description": "A list of milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/milestones/year/{year}": {
      "get": {
        "tags": ["milestones"],
        "summary": "Get milestones by year",
        "description": "Returns all milestones that occurred in a specific year.",
        "operationId": "getMilestonesByYear",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year to filter milestones by",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1900,
              "maximum": 2100,
              "example": 1971
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Milestones for the specified year",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid year format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No milestones found for this year",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/milestones/years/{range}": {
      "get": {
        "tags": ["milestones"],
        "summary": "Get milestones by year range",
        "description": "Returns all milestones that occurred within a specified year range (inclusive).",
        "operationId": "getMilestonesByYearRange",
        "parameters": [
          {
            "name": "range",
            "in": "path",
            "description": "Year range in format start-end (e.g., 1990-2000)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{4}$",
              "example": "1990-2000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Milestones in the specified year range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid range format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No milestones found for this year range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/milestones/highlights": {
      "get": {
        "tags": ["milestones"],
        "summary": "Get highlighted milestones",
        "description": "Returns only milestones that have been marked as highlights (significant events).",
        "operationId": "getHighlightedMilestones",
        "responses": {
          "200": {
            "description": "Highlighted milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No highlighted milestones found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/milestones/decade/{decade}": {
      "get": {
        "tags": ["milestones"],
        "summary": "Get milestones by decade",
        "description": "Returns all milestones that occurred during a specific decade (e.g., 1980s = 1980-1989).",
        "operationId": "getMilestonesByDecade",
        "parameters": [
          {
            "name": "decade",
            "in": "path",
            "description": "The decade in format like '1980s' or '1990s'",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}s$",
              "example": "1990s"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Milestones from the specified decade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid decade format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No milestones found for this decade",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/areacodes": {
      "get": {
        "tags": ["areacodes"],
        "summary": "Get all area codes",
        "description": "Returns a complete list of all North American Numbering Plan area codes with their associated territories and historical notes.",
        "operationId": "getAllAreacodes",
        "responses": {
          "200": {
            "description": "A list of area codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Areacode"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/areacodes/{code}": {
      "get": {
        "tags": ["areacodes"],
        "summary": "Get area code by code",
        "description": "Returns details for a specific North American Numbering Plan area code.",
        "operationId": "getAreacodeByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Three-digit area code",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 999,
              "example": 212
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Area code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Areacode"
                }
              }
            }
          },
          "400": {
            "description": "Invalid area code format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Area code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/areacodes/territories": {
      "get": {
        "tags": ["areacodes"],
        "summary": "Get all territories",
        "description": "Returns a complete list of all territories (states, provinces) with their associated area codes.",
        "operationId": "getTerritories",
        "responses": {
          "200": {
            "description": "A list of territories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Territory"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/areacodes/territories/{abbr}": {
      "get": {
        "tags": ["areacodes"],
        "summary": "Get territory by abbreviation",
        "description": "Returns details for a specific territory by its two-letter abbreviation.",
        "operationId": "getTerritoryByAbbr",
        "parameters": [
          {
            "name": "abbr",
            "in": "path",
            "description": "Two-letter territory abbreviation",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "example": "CA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Territory details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Territory"
                }
              }
            }
          },
          "400": {
            "description": "Invalid abbreviation format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Territory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/areacodes/search/{query}": {
      "get": {
        "tags": ["areacodes"],
        "summary": "Search area codes and territories",
        "description": "Search for area codes by number or territories by name/abbreviation. Returns both matching area codes and territories.",
        "operationId": "searchAreacodes",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Search query (area code number, territory name, or abbreviation)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "california"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results containing matching area codes and territories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreacodeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/categories": {
      "get": {
        "tags": ["categories"],
        "summary": "Get all artifact categories",
        "description": "Returns a complete list of all artifact categories with their descriptions and URL mappings for API, HTML3, and HTML views.",
        "operationId": "getAllCategories",
        "responses": {
          "200": {
            "description": "A list of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platforms": {
      "get": {
        "tags": ["platforms"],
        "summary": "Get all operating system platforms",
        "description": "Returns a complete list of operating system platforms (ANSI, Audio, DOS, Windows, Linux, Java, macOS, etc.) with their descriptions and URL mappings for API, HTML3, and HTML views.",
        "operationId": "getAllPlatforms",
        "responses": {
          "200": {
            "description": "A list of platforms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Platform"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/announcements": {
      "get": {
        "tags": ["files"],
        "summary": "Get announcement files",
        "description": "Returns a list of announcement files with nested URL structure including download, API, HTML preview, and thumbnail URLs.",
        "operationId": "getAnnouncementFiles",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of announcement files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "announcements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/{platform}": {
      "get": {
        "tags": ["files"],
        "summary": "Get files from any platform",
        "description": "Returns a list of files from the specified platform with nested URL structure. Supports any valid platform URI.",
        "operationId": "getFilesByPlatform",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "description": "Platform URI (e.g., ansi, audio, dos, etc.)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ansi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files from the specified platform",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid platform",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found or no files available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/groups": {
      "get": {
        "tags": ["files"],
        "summary": "Get all releaser groups",
        "description": "Returns a paginated list of all releaser groups (collectives, individuals, brands) with their statistics and URLs. Each group includes total file count and total size information.",
        "operationId": "getAllGroups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1000 items per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of releaser groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "releasers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReleaserGroup"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages available",
                      "example": 4
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/magazines": {
      "get": {
        "tags": ["files"],
        "summary": "Get all magazines",
        "description": "Returns a list of all scene magazines with their statistics and URLs. Each magazine includes total file count and total size information.",
        "operationId": "getAllMagazines",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1000 items per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of magazines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "releasers": {
                      "type": "array",
                      "description": "Array of magazine entries",
                      "items": {
                        "$ref": "#/components/schemas/ReleaserGroup"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages available",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/boards": {
      "get": {
        "tags": ["files"],
        "summary": "Get all BBS boards",
        "description": "Returns a complete list of all BBS (Bulletin Board System) boards with their statistics and URLs. Each BBS includes total file count and total size information.",
        "operationId": "getAllBBS",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (always 1, included for API consistency)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A complete list of all BBS boards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "releasers": {
                      "type": "array",
                      "description": "Array of all BBS board entries",
                      "items": {
                        "$ref": "#/components/schemas/ReleaserGroup"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number (always 1)",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages (always 1 for BBS)",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/sites": {
      "get": {
        "tags": ["files"],
        "summary": "Get all FTP sites",
        "description": "Returns a complete list of all FTP (File Transfer Protocol) sites with their statistics and URLs. Each FTP site includes total file count and total size information.",
        "operationId": "getAllSites",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (always 1, included for API consistency)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A complete list of all FTP sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "releasers": {
                      "type": "array",
                      "description": "Array of all FTP site entries",
                      "items": {
                        "$ref": "#/components/schemas/ReleaserGroup"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number (always 1)",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages (always 1 for FTP sites)",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "tags": ["files"],
        "summary": "Get all files",
        "description": "Returns a paginated list of all files in the database, including comprehensive metadata for each file. Files are ordered by ID for consistent pagination.",
        "operationId": "getAllFiles",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1000 files per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "description": "Array of file entries",
                      "items": {
                        "$ref": "#/components/schemas/FileRecord"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages available",
                      "example": 42
                    },
                    "totalFiles": {
                      "type": "integer",
                      "description": "Total number of files in the database",
                      "example": 42000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/releaser/{name}": {
      "get": {
        "tags": ["files"],
        "summary": "Get files from a specific releaser group or magazine",
        "description": "Returns detailed information about a specific releaser group or magazine including their files with comprehensive metadata, statistics, and URL mappings. The response includes both group/magazine metadata and an array of file records.",
        "operationId": "getGroupByName",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Releaser group or magazine name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "razor-1911"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group information with file listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "$ref": "#/components/schemas/ReleaserGroup"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/category/{category}": {
      "get": {
        "tags": ["files"],
        "summary": "Get files from any category",
        "description": "Returns a list of files from the specified category with nested URL structure. Supports any valid category URI.",
        "operationId": "getFilesByCategory",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Category URI (e.g., demo, scenerules, magazine, etc.)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "demo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files from the specified category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Category not found or no files available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "tags": ["files"],
        "summary": "Get all files",
        "description": "Returns a paginated list of all files in the database, ordered by ID (newest first). Includes comprehensive metadata, statistics, and URL mappings for each file.",
        "operationId": "getAllFiles",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of files per page (fixed at 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000,
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of all files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "description": "Array of file entries",
                      "items": {
                        "$ref": "#/components/schemas/ArtifactSum"
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "description": "Overall statistics for all files",
                      "properties": {
                        "totalFiles": {
                          "type": "integer",
                          "description": "Total number of files in the database",
                          "example": 10000
                        }
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages available",
                      "example": 500
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of files per page",
                      "example": 20
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page or limit parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/new": {
      "get": {
        "tags": ["files"],
        "summary": "Get new uploads",
        "description": "Returns a paginated list of recently added files (new uploads), ordered by ID (newest first). This endpoint provides the same data as /api/files but with semantic meaning for new uploads.",
        "operationId": "getNewUploads",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of files per page (fixed at 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000,
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of new uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "description": "Array of new file entries",
                      "items": {
                        "$ref": "#/components/schemas/ArtifactSum"
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "description": "Overall statistics for all files",
                      "properties": {
                        "totalFiles": {
                          "type": "integer",
                          "description": "Total number of files in the database",
                          "example": 10000
                        },
                        "totalSize": {
                          "type": "string",
                          "description": "Total size of all files (human-readable)",
                          "example": "10 GB"
                        },
                        "totalSizeBytes": {
                          "type": "integer",
                          "description": "Total size of all files in bytes",
                          "example": 10737418240
                        }
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages available",
                      "example": 500
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of files per page",
                      "example": 20
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page or limit parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Milestone": {
        "type": "object",
        "properties": {
          "Year": {
            "type": "integer",
            "description": "The year the milestone occurred",
            "example": 1971
          },
          "Month": {
            "type": "integer",
            "description": "The month the milestone occurred (1-12)",
            "example": 10,
            "minimum": 1,
            "maximum": 12
          },
          "Day": {
            "type": "integer",
            "description": "The day the milestone occurred",
            "example": 15,
            "minimum": 1,
            "maximum": 31
          },
          "Title": {
            "type": "string",
            "description": "The title or name of the milestone",
            "example": "Secrets of the Little Blue Box"
          },
          "Lead": {
            "type": "string",
            "description": "Short introductory text or subtitle",
            "example": "Esquire October 1971"
          },
          "Content": {
            "type": "string",
            "description": "Plain text version of the content (all HTML tags removed)",
            "example": "Ron Rosenbaum writes the first mainstream article on phone freaks..."
          },
          "ContentHTML": {
            "type": "string",
            "description": "Main content with clean HTML (presentation attributes removed)",
            "example": "<p>Ron Rosenbaum writes the first mainstream article on phone freaks...</p>"
          },
          "Link": {
            "type": "string",
            "description": "URL to an article or external resource about the milestone",
            "example": "https://www.slate.com/articles/technology/the_spectator/2011/10/the_article_that_inspired_steve_jobs_secrets_of_the_little_blue_.html"
          },
          "LinkTitle": {
            "type": "string",
            "description": "Title for the external link",
            "example": "the complete article"
          },
          "Highlight": {
            "type": "boolean",
            "description": "Whether this milestone is marked as significant/highlighted",
            "example": true
          },
          "List": {
            "type": "array",
            "description": "Additional related links",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "Picture": {
            "$ref": "#/components/schemas/Picture"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "linkTitle": {
            "type": "string",
            "description": "Title of the link",
            "example": "Link 1"
          },
          "subTitle": {
            "type": "string",
            "description": "Subtitle or additional description",
            "example": "Subtitle with formatting"
          },
          "link": {
            "type": "string",
            "description": "URL of the link",
            "example": "https://example.com"
          },
          "forward": {
            "type": "string",
            "description": "Optional prefix text for the link",
            "example": "See also"
          }
        }
      },
      "Picture": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the picture",
            "example": "Blue Box Diagram"
          },
          "alt": {
            "type": "string",
            "description": "Alternative text for accessibility",
            "example": "Diagram showing how the blue box worked"
          },
          "attribution": {
            "type": "string",
            "description": "Name of the author/creator",
            "example": "John Draper"
          },
          "license": {
            "type": "string",
            "description": "License of the picture",
            "example": "Public Domain"
          },
          "licenseLink": {
            "type": "string",
            "description": "URL to the license information",
            "example": "https://creativecommons.org/publicdomain/zero/1.0/"
          },
          "webp": {
            "type": "string",
            "description": "Filename of WebP format image",
            "example": "blue-box.webp"
          },
          "png": {
            "type": "string",
            "description": "Filename of PNG format image",
            "example": "blue-box.png"
          },
          "jpg": {
            "type": "string",
            "description": "Filename of JPG format image",
            "example": "blue-box.jpg"
          },
          "avif": {
            "type": "string",
            "description": "Filename of AVIF format image",
            "example": "blue-box.avif"
          },
          "webm": {
            "type": "string",
            "description": "Filename of WebM format video",
            "example": "blue-box-demo.webm"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid year format"
          }
        }
      },
      "Areacode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Three-digit North American Numbering Plan area code",
            "example": 212,
            "minimum": 200,
            "maximum": 999
          },
          "territories": {
            "type": "array",
            "description": "List of territories (states, provinces) that use this area code",
            "items": {
              "type": "string"
            },
            "example": ["New York"]
          },
          "notes": {
            "type": "string",
            "description": "Historical notes about the area code (splits, creation dates, etc.)",
            "example": "New York City, but after December 1984 it split to 212 (Manhattan and the Bronx) and 718 (Brooklyn, Queens, and Staten Island)."
          }
        }
      },
      "Territory": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the territory (state, province, or region)",
            "example": "California"
          },
          "abbreviation": {
            "type": "string",
            "description": "Two-letter abbreviation for the territory",
            "example": "CA",
            "minLength": 2,
            "maxLength": 2
          },
          "areaCodes": {
            "type": "array",
            "description": "List of area codes used in this territory",
            "items": {
              "type": "integer"
            },
            "example": [
              209, 213, 310, 408, 415, 510, 619, 707, 714, 805, 818, 909, 916
            ]
          }
        }
      },
      "AreacodeSearchResult": {
        "type": "object",
        "properties": {
          "areacodes": {
            "type": "array",
            "description": "Matching area codes",
            "items": {
              "$ref": "#/components/schemas/Areacode"
            }
          },
          "territories": {
            "type": "array",
            "description": "Matching territories",
            "items": {
              "$ref": "#/components/schemas/Territory"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Category ID",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Category URI slug for API calls",
            "example": "announcement"
          },
          "title": {
            "type": "string",
            "description": "Category display name",
            "example": "announcement"
          },
          "description": {
            "type": "string",
            "description": "Category description",
            "example": "public announcements by Scene groups and organizations"
          },
          "urls": {
            "type": "object",
            "description": "Category URLs",
            "properties": {
              "api": {
                "type": "string",
                "description": "API endpoint URL",
                "example": "/api/category/announcements"
              },
              "html3": {
                "type": "string",
                "description": "HTML3 view URL",
                "example": "/html3/announcements"
              },
              "html": {
                "type": "string",
                "description": "HTML view URL",
                "example": "/files/announcement"
              }
            }
          }
        }
      },
      "Platform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Platform ID",
            "example": 27
          },
          "name": {
            "type": "string",
            "description": "Platform URI slug for API calls",
            "example": "ansi"
          },
          "title": {
            "type": "string",
            "description": "Platform display name",
            "example": "ansi"
          },
          "description": {
            "type": "string",
            "description": "Platform description",
            "example": "colored, text-based computer art form widely used on Bulletin Board Systems"
          },
          "urls": {
            "type": "object",
            "description": "Platform URLs",
            "properties": {
              "api": {
                "type": "string",
                "description": "API endpoint URL",
                "example": "/api/platform/ansi"
              },
              "html3": {
                "type": "string",
                "description": "HTML3 view URL",
                "example": "/html3/ansi"
              },
              "html": {
                "type": "string",
                "description": "HTML view URL",
                "example": "/files/ansi"
              }
            }
          }
        }
      },
      "FileURLs": {
        "type": "object",
        "description": "Nested URL object for file access",
        "properties": {
          "download": {
            "type": "string",
            "description": "Direct download URL",
            "example": "/d/ab1fc8b"
          },
          "html": {
            "type": "string",
            "description": "HTML preview URL",
            "example": "/f/ab1fc8b"
          },
          "thumbnail": {
            "type": "string",
            "description": "Thumbnail image URL",
            "example": "/public/image/thumb/f6706044-fd56-4011-a3c1-8bdf3a9177b7"
          }
        }
      },
      "ReleaserGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Base64-encoded stable identifier for the group",
            "example": "rzjHDqmL1do="
          },
          "name": {
            "type": "string",
            "description": "URI-encoded group identifier",
            "example": "razor-1911"
          },
          "title": {
            "type": "string",
            "description": "Human-readable group name",
            "example": "Razor 1911"
          },
          "urls": {
            "type": "object",
            "description": "Group URLs",
            "properties": {
              "api": {
                "type": "string",
                "description": "API endpoint URL",
                "example": "/api/releaser/razor-1911"
              },
              "html3": {
                "type": "string",
                "description": "HTML3 view URL",
                "example": "/html3/group/razor-1911"
              },
              "html": {
                "type": "string",
                "description": "HTML view URL",
                "example": "/g/razor-1911"
              }
            }
          },
          "statistics": {
            "type": "object",
            "description": "Group statistics",
            "properties": {
              "totalFiles": {
                "type": "integer",
                "description": "Total number of files by this group",
                "example": 935
              },
              "totalSize": {
                "type": "string",
                "description": "Human-readable total size",
                "example": "458M"
              },
              "totalSizeBytes": {
                "type": "integer",
                "description": "Total size in bytes",
                "example": 480750960
              }
            }
          }
        }
      },
      "FileRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "File ID",
            "example": 47303
          },
          "filename": {
            "type": "string",
            "description": "Original filename",
            "example": "00-audiofile-time_to_say_goodbye-flac-2023-audiofile.nfo"
          },
          "datePublished": {
            "type": "object",
            "description": "Publication date",
            "properties": {
              "year": {
                "type": "integer",
                "description": "Publication year",
                "example": 2023
              },
              "month": {
                "type": "integer",
                "description": "Publication month",
                "example": 5
              },
              "day": {
                "type": "integer",
                "description": "Publication day",
                "example": 28
              }
            }
          },
          "postedDate": {
            "type": "string",
            "description": "Date when file was added to the archive",
            "example": "2023-05-31T12:48:08+10:00"
          },
          "size": {
            "type": "object",
            "description": "File size information",
            "properties": {
              "formatted": {
                "type": "string",
                "description": "Human-readable size",
                "example": "7k"
              },
              "bytes": {
                "type": "integer",
                "description": "Size in bytes",
                "example": 6917
              }
            }
          },
          "description": {
            "type": "string",
            "description": "File description in HTML3 format",
            "example": "Time To Say Goodbye released by Audiofile in 2023."
          },
          "tags": {
            "type": "object",
            "description": "File classification tags",
            "properties": {
              "category": {
                "type": "string",
                "description": "File category tag",
                "example": "releaseadvert"
              },
              "platform": {
                "type": "string",
                "description": "File platform tag",
                "example": "dos"
              },
              "description": {
                "type": "string",
                "description": "Human-readable tag description",
                "example": "an intro for MS Dos"
              }
            }
          },
          "urls": {
            "$ref": "#/components/schemas/FileURLs"
          }
        }
      }
    }
  }
}
