/* 
 * File: layout.css
 * This is the main stylesheet for the website.
 */

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.bi-bluesky {
  color: #1185fe;
}

.bi-discord {
  color: #5865f2;
}

.bi-envelope {
  color: #d44638;
}

.bi-facebook {
  color: #3b5998;
}

.bi-mastodon {
  color: #5a4fdb;
}

.bi-twitter {
  color: #1da1f2;
}

.bi-youtube {
  color: #cd201f;
}

@font-face {
  font-family: font-topazplus;
  font-display: swap;
  src:
    url("/font/topazplus_a1200.woff2") format("woff2"),
    url("/font/topazplus_a1200.woff") format("woff"),
    url("/font/topazplus_a1200.ttf") format("truetype");
}

@font-face {
  font-family: font-cascadia-mono;
  font-display: swap;
  src:
    url("/font/CascadiaMono.woff2") format("woff2"),
    url("/font/CascadiaMono.woff") format("woff"),
    url("/font/CascadiaMono.ttf") format("truetype");
}

@font-face {
  font-family: 'font-vga-8x16';
  font-display: swap;
  src:
    url("/font/Ac437_IBM_VGA_8x16.woff2") format("woff2");
    url("/font/Ac437_IBM_VGA_8x16.ttf") format("truetype");
}

@font-face {
  font-family: 'font-ega-8x8';
  font-display: swap;
  src:
    url("/font/Ac437_IBM_EGA_8x8.woff2") format("woff2"),
    url("/font/Ac437_IBM_EGA_8x8.ttf") format("truetype");
}

@font-face {
  font-family: font-cga;
  font-display: swap;
  src:
    url("/font/Ac437_IBM_CGA.woff2") format("woff2"),
    url("/font/Ac437_IBM_CGA.ttf") format("truetype");
}

.font-cascadia-mono {
  font-family: font-cascadia-mono, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

.font-amiga {
  font-family: font-topazplus, 'font-vga-8x16', monospace;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

.font-squared {
  font-family: 'font-ega-8x8', monospace;
  font-size: 8px;
  line-height: 8px; /* line height value is required by the logo-container and logo-text ids */
  font-style: normal;
  font-weight: normal;
  /*transform: scaleX(0.6667);*/
}

.font-dos {
  font-family: 'font-vga-8x16', monospace;
  font-size: 16px;
  line-height: 16px; /* line height value is required by the logo-container and logo-text ids */
  font-style: normal;
  font-weight: normal;
}

.pre-wrap {
  white-space: pre-wrap;
}

.reader {
  white-space: pre-wrap;
  hyphens: manual;
  line-height: 1;
}

.reader-hires {
  white-space: pre-wrap;
  hyphens: manual;
  line-height: 8px;
  font-size: 8px;
}

#logo-container {
  container-type: inline-size;
  container-name: cardcontainer;
}

#logo-text {
  overflow: hidden;
}

.reader-invert {
  background-color: #000;
  color: #fff;
}

@container cardcontainer (width > 575px) {
  pre {
    font-size: 100%;
  }
}

@container cardcontainer (width < 576px) {
  pre {
    font-size: 0.75rem;
  }
}

@container cardcontainer (width < 422px) {
  pre {
    font-size: 0.5rem;
  }
}

.input-date::placeholder {
  opacity: 0.3;
  color: red;
}

canvas,
.dosbox-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
