{{/* file.html */}}
{{- define "content" }}
{{- $titleClass := " h3" }}
{{- $otherClass := " h5" }}
{{- $cardClass := " h-100"}}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Cracktros and intros</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus loaders, installers and demos</h6>
                <p class="card-text">
                    Cracktros <small>and loaders</small> are mini adverts created by cracking groups to announce their
                    releases to the community.
                    Initially, these programs were inserted and launched whenever the cracked software was in use.
                </p>
                <span class="card-link">Runs on</span>
                <a href="#" class="card-link">Windows</a>
                <a href="#" class="card-link">MS-DOS</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Installers are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="#" class="card-link">Installers</a>
                </li>
                <li class="list-group-item">
                    Demoscene productions...<br>
                    <span class="card-link">Browse the</span> <a href="#" class="card-link">demos</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        Windows cracktros and intros: 600<br>
                        MS-DOS cracktros and intros: 4000<br>
                        Installers: 200<br>
                        Demoscene productions: 100<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>releases date range: 1985-2023</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">NFO files<small> for scene releases</small></h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus proofs of releases</h6>
                <p class="card-text">
                    NFO, <small>README and file_id.diz</small> text files are generally in every scene release.
                    Often, they are stylised with ASCII text art and arranged in a standard format.
                    In the early days, these texts included detailed group information, but now they focus more on the
                    cracked software.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">NFO files</a><br>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Release proofs are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="#" class="card-link">proofs</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        NFO texts: 9500<br>
                        Proofs: 4120<br>
                        Editors: 140<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>nfo date range: 1985-2023</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">ANSI art</h1>
                <p class="card-text">
                    Coloured ANSI text art was commonly used on BBSes for advertising and theming of their sites.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">ANSI files</a><br>
                <span class="card-link">Or only the</span>
                <a href="#" class="card-link">brands</a>
                <a href="#" class="card-link">BBS ads</a>
                <a href="#" class="card-link">FTP ads</a>
                <a href="#" class="card-link">NFOs</a>
            </div>
            {{- if .stats }}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small>
                        ANSI art and texts: 3400<br>
                    </small>
                </li>
            </ul>
            <div class="card-footer">
                <small>ansi art date range: 1985-2023</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">BBS adverts</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Plus FTP site adverts</h6>
                <p class="card-text">
                    Bulletin Board Systems were a proto-Interweb for online communication and the exchange of files
                    during the 1980s until the mid-1990s.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">adverts</a><br>
                <span class="card-link">Or only the</span>
                <a href="#" class="card-link">BBStros</a>
                <a href="#" class="card-link">ANSI</a>
                <a href="#" class="card-link">Images</a>
                <a href="#" class="card-link">texts</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    FTP adverts are blah blah.<br>
                    <span class="card-link">Browse the</span> <a href="#" class="card-link">adverts</a>
                </li>
                {{- if .stats }}
                <li class="list-group-item">
                    <small>
                        BBS adverts: 15000<br>
                        BBStros: 7100<br>
                        ANSI art: 2900<br>
                        text files: 1900<br>
                    </small>
                </li>
                {{- end}}
            </ul>
            {{- if .stats }}
            <div class="card-footer">
                <small>bbs ads date range: 1985-2001</small>
            </div>
            {{- end}}
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Magazines</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also called e-mags</h6>
                <p class="card-text">
                    Before the web and social media existed, groups used to exchange ideas and write articles on their
                    communities in the form of digital magazines and newsletters.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">issues</a><br>
                <span class="card-link">Or the</span>
                <a href="#" class="card-link">magazine titles</a>
            </div>
            {{- if .stats }}
            <div class="card-footer">
                <small>magazine date range: 1985-2001</small>
            </div>
            {{- end}}
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">File packs</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Also includes art packs</h6>
                <p class="card-text">
                    File packs are packages of files that share a common theme that people have collected and curated
                    for easy distribution.
                </p>
                <span class="card-link">Browse the packs of</span>
                <a href="#" class="card-link">ANSI art</a>
                <a href="#" class="card-link">Text art</a>
                <a href="#" class="card-link">NFO texts</a>
                <a href="#" class="card-link">Images</a>
                <a href="#" class="card-link">Windows software</a>
                <a href="#" class="card-link">MS-DOS software</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Databases</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PreDB</h6>
                <p class="card-text">
                    Scene databases are often once private datasets of cracked software titles, release dates and
                    associated groups.
                    Due to their size, these sets are often incomplete and sometimes inaccurate.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">databases</a>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2">
    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <h1 class="card-title {{$titleClass}}">Text files</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">Includes PDF and markup documents</h6>
                <p class="card-text">
                    The vast majority of scene releases involve text and documents.
                </p>
                <span class="card-link">Browse the</span>
                <a href="#" class="card-link">text files</a>
                <a href="#" class="card-link">Commodore Amiga texts</a>
                <a href="#" class="card-link">Apple ][ texts</a>
                <a href="#" class="card-link">Atari ST texts</a>
                <a href="#" class="card-link">documents in PDF</a>
                <a href="#" class="card-link">documents in HTML</a>
            </div>
            {{- if .stats }}
            <div class="card-footer">
                <small>texts date range: 1985-2001</small>
            </div>
            {{- end}}
        </div>
    </div>
</div>

{{/* */}}
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-dark btn-lg mt-4" data-bs-toggle="collapse" href="#collapseExample" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        All other categories
    </a>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 mt-2 collapseX" id="collapseExample">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <nav id="navbar-example2x" class="navbar bg-body-tertiary px-3 mb-3 mt-3">
                    <a class="navbar-brand" href="#">Platforms</a>
                    <div class="nav nav-pills justify-content-center" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">DOS</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Windows</button>
                        <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                            aria-selected="false">macOS</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">Linux</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Scripts</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Java</button>
                    </div>
                </nav>
                <div class="card-body tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <h4 id="list-item-1" class="otherClass">DOS</h4>
                        <p>
                            DOS was the ...Software written for the original x86 operating system and precursor to
                            Microsoft
                            Windows.
                            This platform was popular in North America during the 1980s and for much of the world during
                            the
                            first half of
                            the 1990s.
                        </p>
                        <p>
                            <span class="card-link">Browse the files for </span>
                            <a href="#" class="card-link">DOS</a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <h4 id="list-item-2">Windows</h4>
                        <p>
                            Windows became the inevitable replacement for MS-DOS on the x86 platform.
                            Most Windows software released in the 1990s and would probably target Windows 95 and 98
                            while
                            later releases
                            would be for Windows XP or 7.
                        </p>
                        <p>
                            <span class="card-link">Browse the files for </span>
                            <a href="#" class="card-link">Windows</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card{{$cardClass}}">
            <div class="card-body">
                <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 mt-3">
                    <a class="navbar-brand" href="#">Platforms</a>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#list-item-1">DOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#list-item-2">Windows</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#list-item-3">macOS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">More</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#list-item-4">Linux</a></li>
                                <li><a class="dropdown-item" href="#list-item-5">Scripts</a></li>
                                <li><a class="dropdown-item" href="#list-item-6">Java</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div style="height: 10rem; overflow-y: scroll;" data-bs-spy="scroll" data-bs-target="#navbar-example2"
                    data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
                    class="scrollspy-example p-3 rounded-2" tabindex="0">
                    <h4 id="list-item-1" class="otherClass">DOS</h4>
                    <p>
                        DOS was the ...Software written for the original x86 operating system and precursor to Microsoft
                        Windows.
                        This platform was popular in North America during the 1980s and for much of the world during the
                        first half of
                        the 1990s.
                    </p>
                    <p>
                        <span class="card-link">Browse the files for </span>
                        <a href="#" class="card-link">DOS</a>
                    </p>
                    <h4 id="list-item-2">Windows</h4>
                    <p>
                        Windows became the inevitable replacement for MS-DOS on the x86 platform.
                        Most Windows software released in the 1990s and would probably target Windows 95 and 98 while
                        later releases
                        would be for Windows XP or 7.
                    </p>
                    <p>
                        <span class="card-link">Browse the files for </span>
                        <a href="#" class="card-link">Windows</a>
                    </p>
                    <h4 id="list-item-3">macOS</h4>
                    <p>
                        Is the software created for Apple's macOS and earlier OS-X line of operating systems.
                    </p>
                    <h4 id="list-item-4">Linux</h4>
                    <p>
                        Scene software created for the Linux desktop and server platforms.
                        This software may fail to run on modern distributions
                    </p>
                    <h4 id="list-item-5">Scripts</h4>
                    <p>
                        Shell scripts and software created in interpreted programming languages such as PHP, Perl, TCL,
                        Python and Ruby.
                    </p>
                    <h4 id="list-item-6">Java</h4>
                    <p>
                        Multi-platform applications written in the Java programming language.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Mainstream news</h1>
                    <p class="card-text">
                        Scans and retypes of computer magazines and newspaper articles that attempt to report on The
                        Scene.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">news articles</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Community standards</h1>
                    <p class="card-text">
                        Rules and agreed standards for the various divisions of The Scene.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">standards</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Announcements</h1>
                    <p class="card-text">
                        Public notices and community farewells.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">announcements</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Group jobs</h1>
                    <p class="card-text">
                        Calls for new group memberships or employment and tools for possible applicants.
                        Sometimes a trial crackme is made to test one's abilty.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">job adverts</a><br>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">trial crackme(s)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Game hacks</h1>
                    <p class="card-text">
                        A small collection of hacks, exploits, cheats and trainers for legacy PC games.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">hacks</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Computer tools</h1>
                    <p class="card-text">
                        Legacy software to analyse, decrypt, patch and crack other programs.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">tools</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">NFO tools</h1>
                    <p class="card-text">
                        Legacy software designed to create and edit NFO text files.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">tools</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Busts and takedowns</h1>
                    <p class="card-text">
                        Reports and alerts for software pirate arrests and police raids.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">takedowns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Community drama</h1>
                    <p class="card-text">
                        The very competitive scene often has led to online flamewars and occasionally offline conflicts.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">drama</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">For sale</h1>
                    <p class="card-text">
                        Adverts for commercial goods and online services, that vary in legality.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">adverts</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Restricted</h1>
                    <p class="card-text">
                        Internal tools and documents that were never intended to be made public, but give a great
                        insight into the operations of scene groups.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">files</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Guides and how-tos</h1>
                    <p class="card-text">
                        Texts and guides on how to analyse, patch and crack legacy software.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">guides</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">ANSI tools</h1>
                    <p class="card-text">
                        Legacy software used to create and edit ANSI art files.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">tools</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Images</h1>
                    <p class="card-text">
                        Images include pixel art, photoshop creations and various photos.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">images</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Music</h1>
                    <p class="card-text">
                        Music tracks found in productions and songs inspired by The Scene.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">music</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card{{$cardClass}}">
                <div class="card-body">
                    <h1 class="card-title {{$otherClass}}">Videos</h1>
                    <p class="card-text">
                        Videos mostly of animated group logos.
                    </p>
                    <span class="card-link">Browse the</span>
                    <a href="#" class="card-link">videos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{- end}}