<!-- categories.html -->
{{define "content"}}
{{- $parent := "Parent Directory" }}
{{- $padding := 41 }}
<img src="/images/html3/back.gif" alt="[DIR]"> <a href="/html3/index">{{$parent}}</a>{{leadStr $padding $parent}}    -   Return to the HTML3 index.
{{ range $index, $value := .tags -}} 
{{- $meta := metaByName $value -}}
<img src="/images/html3/dir.gif" alt="[DIR]"> <a href="/html3/category/{{ $meta.URI }}">{{$meta.Name}}</a>{{leadStr $padding $meta.Name}}{{leadInt 5 $meta.Count}}   {{ $meta.Info }}.
{{end}}
{{end}}