<!-- files.html -->
{{define "pre"}}
{{- $home := "Home Website" -}}
{{- $parent := "Parent Directory" }}
{{- $padding := 51 -}}
<pre><img src="/images/html3/blank.gif" alt="Icon"> <a href="?C=N;O=A">Name</a>                    <a href="?C=D;O=A">Date published</a>    <a href="?C=P;O=D">Posted</a>     <a href="?C=S;O=A">Size</a>  <a href="?C=I;O=A">Description</a>
<hr><img src="/images/html3/back.gif" alt="[DIR]"> <a href="/file/list">{{$home}}</a>{{leadStr 55 $home}}-   Return to the contemporary HTML5 site.
<img src="/images/html3/back.gif" alt="[DIR]"> <a href="/html3/categories">{{$parent}}</a>{{leadStr $padding $parent}}    -   Return to the categories index.
{{range .records -}}
<img src="/images/html3/{{iconFmt .Filename}}.gif" alt="[FILE]"> <a href="{{linkHref .ID}}" title="{{.Filename.String}}">{{linkFile 21 .Filename}}</a>{{linkPad 21 .Filename}} {{datePub 13 .DateIssuedYear .DateIssuedMonth .DateIssuedDay}}  {{datePost 11 .Createdat}} {{byteFmt 7 .Filesize}}   {{descript 0 .Section .Platform .GroupBrandFor .RecordTitle}}<br>{{end}}
</pre>{{end}} 
