{{- /* 
    datalistreleasers.tmpl ~ htmx releasers data-list template.
*/ -}}
{{define "content"}}
{{- $slug := index . "name" }}
    {{- range $index, $rel := .result -}}
        {{- $uri := $rel.Unique.URI }}
        {{- $title := fmtPath $uri }}
        {{- $value := releaserIndex $uri }}
        {{- $initialism := initialisms $uri }}
        <option value="{{ $value }}">{{ suggestion $title $initialism $rel.Unique.Count }}</option>
    {{- end}}
{{end}}
