{{- /*  
    layout.html  
    the htmx layout template remains empty but always results a partial HTML document intented for AJAX responses
    */ -}}
{{define "layout" -}}{{- block "content" .}}<!-- no content was defined -->{{end}}{{end}}