{{- /* 
    searchreleasers.tmpl ~ htmx search releasers results template.
*/ -}}
{{- define "content"}}
{{- $slug := index . "name" }}
{{- $maximum := index . "maximum" }}
{{- $path := "g" }}
{{- $border := "border-success"}}
{{- $class := "row-cols-1"}}
{{- $limit := "d-none" }}
{{- if gt (len .result) 1}}{{ $class = "row-cols-1 row-cols-sm-2 row-col-md-3"}}{{end}}
{{- if ge (len .result) $maximum}}{{ $limit = "" }}{{end}}
<div class="row {{ $class }} g-2 mb-2">
    {{- range $index, $rel := .result -}}
        {{- $title := fmtPath $rel.Unique.URI }}
        {{- $initialism := initialisms $rel.Unique.URI }}
        {{- $border = borderClass $slug $rel.Unique.URI }}
        <div class="col">
            <div class="p-3 border {{$border}} bg-light h-100">
                <div class="row">
                    <h5 class="col-11"><a id="search-result-{{searchResult $index}}" href="/{{ $path }}/{{ $rel.Unique.URI }}">{{$title}}</a></h5>
                    <div class="col-1 text-end"><kbd>{{searchResult $index}}</kbd></div>
                    <div class="col-12">
                        <span class="text-muted">{{ $initialism }} &nbsp; </span>
                        {{- byteFileS "file" $rel.Unique.Count $rel.Unique.Bytes }}
                    </div>
                </div>
            </div>
        </div>
    {{- end}}
</div>
<p class="{{$limit}}">A limit of {{$maximum}} results has been reached.</p>
<div class="text-center">Open results using a keyboard: <kbd>alt+shift</kbd> <kbd>1</kbd> <kbd>2</kbd> <kbd>...</kbd></div>
{{- end}}
